<a href="https://colab.research.google.com/github/Stesilva16/Eng-de-dados--/blob/main/DataFrames.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#INSTALAR O PYSPARK
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 46 kB/s
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     |████████████████████████████████| 199 kB 54.3 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.1-py2.py3-none-any.whl size=281845512 sha256=c341cae4e3e4743c0cabe780949e6f8fc5083c18803fb3aa980760b34b54171b
  Stored in directory: /root/.cache/pip/wheels/43/dc/11/ec201cd671da62fa9c5cc77078235e40722170ceba231d7598
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.1

In [ ]:
#IMPORTAR AS BIBLIOTECAS NECESSÁRIAS

from pyspark.sql import SparkSession
import pyspark.sql.functions as F

In [ ]:
#CONFIGURAR A SPARK SESSION
spark = (
   SparkSession.builder
               .master('local')
               .appName('data-frames')
               .config('spark.ui.port', '4050')
               .getOrCreate()                
)

In [ ]:
spark

In [ ]:
#TRABALHAR COM OS DATAFRAMES
df = (
    spark.read
         .format('csv')
         .option('header', 'true')
         .option('inferschema', 'true')
         .option('delimiter', ';')
         .load('/content/drive/MyDrive/Datasets/compras.csv')
)

In [ ]:
df.printSchema()

root
 |-- Username: string (nullable = true)
 |-- Nome: string (nullable = true)
 |-- Sexo: string (nullable = true)
 |-- Data_Nascimento: string (nullable = true)
 |-- Ocupação: string (nullable = true)
 |-- Assinatura: string (nullable = true)
 |-- Total_Gasto : double (nullable = true)

In [ ]:
df.show(truncate=False)

+-------------+-------------------------+---------+---------------+-----------------------------------+----------+------------+
|Username     |Nome                     |Sexo     |Data_Nascimento|Ocupação                           |Assinatura|Total_Gasto |
+-------------+-------------------------+---------+---------------+-----------------------------------+----------+------------+
|Neaude1978   |  Mr \tbailey Glover     |masculino|01/12/1979     |Analista de Inteligência de Mercado|01/10/2021|1257.45     |
|Maress39     |Mrs  \t isabella   Fowler|feminino |04/08/1960     |Arquiteto de Dados                 |24/03/2020|771.99      |
|Kehonell     | Mrs Chloe \tKirby       |feminino |28/06/1949     |Analista de RH                     |07/06/2020|1021.77     |
|Thimpay      | Mrs louise \tClark      |feminino |07/01/1995     |Arquiteto de Dados                 |03/11/2020|234.76      |
|Giall1985    |Mr Harrison \t Bowen     |feminino |04/04/1987     |Engenheiro de Dados                |25/03/2020|628.07      |
|Neave1959    |Mrs anna \t     Sharp    |feminino |02/02/1970     |Engenheiro de Dados                |18/09/2020|140.04      |
|Nicterims1993|  Mrs \tDaisy Anderson   |masculino|05/07/1985     |Engenheiro de Dados                |29/01/2021|2417.81     |
|Fouldlairity |Ms zoe \tPeacock         |masculino|03/06/1964     |Analista Financeiro                |04/12/2020|51.95       |
|Ancomettiody | Mrs Libby \tWilliams    |feminino |04/09/1974     |Estatístico                        |21/11/2020|130.73      |
|Onswis       |Ms Katie \tMmtcalfe      |feminino |01/07/1983     |Engenheiro de Machine Learning     |27/02/2021|1778.72     |
|Majeappre    |Mr Luca \tVaughan        |feminino |03/01/1971     |Gerente de Tecnologia              |15/07/2022|1034.74     |
|Theired      |Mr Henry \tHaynes        |masculino|06/09/1951     |Analista de Inteligência de Mercado|23/12/2022|1320.04     |
|Botter       |Mr Noah \tWalton         |feminino |09/03/1991     |Web Designer                       |26/07/2022|3464.72     |
+-------------+-------------------------+---------+---------------+-----------------------------------+----------+------------+

In [ ]:
#Mostrar apenas Username, Sexo, Ocupação e Total Gasto
#df.select(F.col('Username'), F.col('Sexo'), F.col('Ocupação'), F.col('Total_Gasto ')).show()
#df.select('Username', 'Sexo', 'Ocupação', 'Total_Gasto ').show()
#lista_colunas = ['Username', 'Sexo', 'Ocupação', 'Total_Gasto ']
#df.select(lista_colunas).show()

In [ ]:
#Mostrar apenas Username, Sexo, Ocupação e Total Gasto apenas quando o Total for maior que 1000
df.select(F.col('Username'), F.col('Sexo'), F.col('Ocupação'), F.col('Total_Gasto ')).filter(F.col('Total_Gasto ') > 1000).show()

+-------------+---------+--------------------+------------+
|     Username|     Sexo|            Ocupação|Total_Gasto |
+-------------+---------+--------------------+------------+
|   Neaude1978|masculino|Analista de Intel...|     1257.45|
|     Kehonell| feminino|      Analista de RH|     1021.77|
|Nicterims1993|masculino| Engenheiro de Dados|     2417.81|
|       Onswis| feminino|Engenheiro de Mac...|     1778.72|
|    Majeappre| feminino|Gerente de Tecnol...|     1034.74|
|      Theired|masculino|Analista de Intel...|     1320.04|
|       Botter| feminino|        Web Designer|     3464.72|
+-------------+---------+--------------------+------------+

In [ ]:
#Mostrar apenas Username, Sexo, Ocupação e Total Gasto apenas quando o Total for maior que 1000 e menor que 2000
df2 = ( df.select(F.col('Username'), F.col('Sexo'), F.col('Ocupação'), F.col('Total_Gasto '))
          .filter(F.col('Total_Gasto ') > 1000)
          .filter(F.col('Total_Gasto ') < 2000)
)

In [ ]:
#Mostrar apenas Username, Sexo, Ocupação e Total Gasto apenas quando o Total for maior que 1000 e menor que 2000
df3 = ( df.select(F.col('Username'), F.col('Sexo'), F.col('Ocupação'), F.col('Total_Gasto '))
          .filter((F.col('Total_Gasto ') > 1000) & (F.col('Total_Gasto ') < 2000))
)

In [ ]:
df2.show()

+----------+---------+--------------------+------------+
|  Username|     Sexo|            Ocupação|Total_Gasto |
+----------+---------+--------------------+------------+
|Neaude1978|masculino|Analista de Intel...|     1257.45|
|  Kehonell| feminino|      Analista de RH|     1021.77|
|    Onswis| feminino|Engenheiro de Mac...|     1778.72|
| Majeappre| feminino|Gerente de Tecnol...|     1034.74|
|   Theired|masculino|Analista de Intel...|     1320.04|
+----------+---------+--------------------+------------+

In [ ]:
df3.show()

+----------+---------+--------------------+------------+
|  Username|     Sexo|            Ocupação|Total_Gasto |
+----------+---------+--------------------+------------+
|Neaude1978|masculino|Analista de Intel...|     1257.45|
|  Kehonell| feminino|      Analista de RH|     1021.77|
|    Onswis| feminino|Engenheiro de Mac...|     1778.72|
| Majeappre| feminino|Gerente de Tecnol...|     1034.74|
|   Theired|masculino|Analista de Intel...|     1320.04|
+----------+---------+--------------------+------------+

In [ ]:
#OUTRA FORMA DE SE APLICAR FILTROS
df.where(F.col('Total_Gasto ') > 1000).show(truncate=False)

+-------------+------------------------+---------+---------------+-----------------------------------+----------+------------+
|Username     |Nome                    |Sexo     |Data_Nascimento|Ocupação                           |Assinatura|Total_Gasto |
+-------------+------------------------+---------+---------------+-----------------------------------+----------+------------+
|Neaude1978   |  Mr \tbailey Glover    |masculino|01/12/1979     |Analista de Inteligência de Mercado|01/10/2021|1257.45     |
|Kehonell     | Mrs Chloe \tKirby      |feminino |28/06/1949     |Analista de RH                     |07/06/2020|1021.77     |
|Nicterims1993|  Mrs \tDaisy Anderson  |masculino|05/07/1985     |Engenheiro de Dados                |29/01/2021|2417.81     |
|Onswis       |Ms Katie \tMmtcalfe     |feminino |01/07/1983     |Engenheiro de Machine Learning     |27/02/2021|1778.72     |
|Majeappre    |Mr Luca \tVaughan       |feminino |03/01/1971     |Gerente de Tecnologia              |15/07/2022|1034.74     |
|Theired      |Mr Henry \tHaynes       |masculino|06/09/1951     |Analista de Inteligência de Mercado|23/12/2022|1320.04     |
|Botter       |Mr Noah \tWalton        |feminino |09/03/1991     |Web Designer                       |26/07/2022|3464.72     |
+-------------+------------------------+---------+---------------+-----------------------------------+----------+------------+

In [ ]:
#Renomear uma coluna no Pyspark
df2 = ( df.withColumnRenamed('Ocupação', 'ocupacao')
          .withColumnRenamed('Username', 'usuario')
          .withColumnRenamed('Total_Gasto ', 'total_gasto')
)

In [ ]:
df2.show()

+-------------+--------------------+---------+---------------+--------------------+----------+-----------+
|      usuario|                Nome|     Sexo|Data_Nascimento|            ocupacao|Assinatura|total_gasto|
+-------------+--------------------+---------+---------------+--------------------+----------+-----------+
|   Neaude1978|  Mr \tbailey Glo...|masculino|     01/12/1979|Analista de Intel...|01/10/2021|    1257.45|
|     Maress39|Mrs  \t isabella ...| feminino|     04/08/1960|  Arquiteto de Dados|24/03/2020|     771.99|
|     Kehonell| Mrs Chloe \tKirby  | feminino|     28/06/1949|      Analista de RH|07/06/2020|    1021.77|
|      Thimpay| Mrs louise \tCla...| feminino|     07/01/1995|  Arquiteto de Dados|03/11/2020|     234.76|
|    Giall1985|Mr Harrison \t Bowen| feminino|     04/04/1987| Engenheiro de Dados|25/03/2020|     628.07|
|    Neave1959|Mrs anna \t     S...| feminino|     02/02/1970| Engenheiro de Dados|18/09/2020|     140.04|
|Nicterims1993|  Mrs \tDaisy And...|masculino|     05/07/1985| Engenheiro de Dados|29/01/2021|    2417.81|
| Fouldlairity|    Ms zoe \tPeacock|masculino|     03/06/1964| Analista Financeiro|04/12/2020|      51.95|
| Ancomettiody| Mrs Libby \tWill...| feminino|     04/09/1974|         Estatístico|21/11/2020|     130.73|
|       Onswis| Ms Katie \tMmtcalfe| feminino|     01/07/1983|Engenheiro de Mac...|27/02/2021|    1778.72|
|    Majeappre|   Mr Luca \tVaughan| feminino|     03/01/1971|Gerente de Tecnol...|15/07/2022|    1034.74|
|      Theired|   Mr Henry \tHaynes|masculino|     06/09/1951|Analista de Intel...|23/12/2022|    1320.04|
|       Botter|    Mr Noah \tWalton| feminino|     09/03/1991|        Web Designer|26/07/2022|    3464.72|
+-------------+--------------------+---------+---------------+--------------------+----------+-----------+

In [ ]:
#FILTRAR POR OCUPAÇÃO QUE COMECE COM ANALISTA
df2.filter('Ocupacao like "Analista%"').show()

+------------+--------------------+---------+---------------+--------------------+----------+-----------+
|     usuario|                Nome|     Sexo|Data_Nascimento|            ocupacao|Assinatura|total_gasto|
+------------+--------------------+---------+---------------+--------------------+----------+-----------+
|  Neaude1978|  Mr \tbailey Glo...|masculino|     01/12/1979|Analista de Intel...|01/10/2021|    1257.45|
|    Kehonell| Mrs Chloe \tKirby  | feminino|     28/06/1949|      Analista de RH|07/06/2020|    1021.77|
|Fouldlairity|    Ms zoe \tPeacock|masculino|     03/06/1964| Analista Financeiro|04/12/2020|      51.95|
|     Theired|   Mr Henry \tHaynes|masculino|     06/09/1951|Analista de Intel...|23/12/2022|    1320.04|
+------------+--------------------+---------+---------------+--------------------+----------+-----------+

In [ ]:
#BUSCA POR OCUPAÇÃO QUE COMECE COM A PALAVRA Analista
df2.filter(F.col('ocupacao').startswith('Analista')).show(truncate=False)

+------------+----------------------+---------+---------------+-----------------------------------+----------+-----------+
|usuario     |Nome                  |Sexo     |Data_Nascimento|ocupacao                           |Assinatura|total_gasto|
+------------+----------------------+---------+---------------+-----------------------------------+----------+-----------+
|Neaude1978  |  Mr \tbailey Glover  |masculino|01/12/1979     |Analista de Inteligência de Mercado|01/10/2021|1257.45    |
|Kehonell    | Mrs Chloe \tKirby    |feminino |28/06/1949     |Analista de RH                     |07/06/2020|1021.77    |
|Fouldlairity|Ms zoe \tPeacock      |masculino|03/06/1964     |Analista Financeiro                |04/12/2020|51.95      |
|Theired     |Mr Henry \tHaynes     |masculino|06/09/1951     |Analista de Inteligência de Mercado|23/12/2022|1320.04    |
+------------+----------------------+---------+---------------+-----------------------------------+----------+-----------+

In [ ]:
#BUSCA POR OCUPAÇÃO QUE TERMINE COM A PALAVRA Mercado
df2.filter(F.col('ocupacao').endswith('Mercado')).show(truncate=False)

+----------+----------------------+---------+---------------+-----------------------------------+----------+-----------+
|usuario   |Nome                  |Sexo     |Data_Nascimento|ocupacao                           |Assinatura|total_gasto|
+----------+----------------------+---------+---------------+-----------------------------------+----------+-----------+
|Neaude1978|  Mr \tbailey Glover  |masculino|01/12/1979     |Analista de Inteligência de Mercado|01/10/2021|1257.45    |
|Theired   |Mr Henry \tHaynes     |masculino|06/09/1951     |Analista de Inteligência de Mercado|23/12/2022|1320.04    |
+----------+----------------------+---------+---------------+-----------------------------------+----------+-----------+

In [ ]:
#BUSCA POR OCUPAÇÃO QUE TENHA A PALAVRA Inteligência
df2.filter(F.col('ocupacao').contains('Inteligência')).show()

+----------+--------------------+---------+---------------+--------------------+----------+-----------+
|   usuario|                Nome|     Sexo|Data_Nascimento|            ocupacao|Assinatura|total_gasto|
+----------+--------------------+---------+---------------+--------------------+----------+-----------+
|Neaude1978|  Mr \tbailey Glo...|masculino|     01/12/1979|Analista de Intel...|01/10/2021|    1257.45|
|   Theired|   Mr Henry \tHaynes|masculino|     06/09/1951|Analista de Intel...|23/12/2022|    1320.04|
+----------+--------------------+---------+---------------+--------------------+----------+-----------+

In [ ]:
#BUSCA POR OCUPAÇÃO UTILIZANDO O LIKE
df2.filter(F.col('ocupacao').like('Analista%')).show()

+------------+--------------------+---------+---------------+--------------------+----------+-----------+
|     usuario|                Nome|     Sexo|Data_Nascimento|            ocupacao|Assinatura|total_gasto|
+------------+--------------------+---------+---------------+--------------------+----------+-----------+
|  Neaude1978|  Mr \tbailey Glo...|masculino|     01/12/1979|Analista de Intel...|01/10/2021|    1257.45|
|    Kehonell| Mrs Chloe \tKirby  | feminino|     28/06/1949|      Analista de RH|07/06/2020|    1021.77|
|Fouldlairity|    Ms zoe \tPeacock|masculino|     03/06/1964| Analista Financeiro|04/12/2020|      51.95|
|     Theired|   Mr Henry \tHaynes|masculino|     06/09/1951|Analista de Intel...|23/12/2022|    1320.04|
+------------+--------------------+---------+---------------+--------------------+----------+-----------+

In [ ]:
#VERIFICAR QUANTIDADE DE LINHAS DO DATAFRAME
df2.count()

13

In [ ]:
#Criar uma nova coluna contendo 10% sobre o valor total gasto
#df2.withColumn('total_desconto', F.col('Nova Coluna Criada')).show()
#F.round(F.col('total_gasto'), 2)

df3 = df2.withColumn('total_de_desconto', F.round(F.col('total_gasto') * 0.1, 2))
df3.show()

+-------------+--------------------+---------+---------------+--------------------+----------+-----------+-----------------+
|      usuario|                Nome|     Sexo|Data_Nascimento|            ocupacao|Assinatura|total_gasto|total_de_desconto|
+-------------+--------------------+---------+---------------+--------------------+----------+-----------+-----------------+
|   Neaude1978|  Mr \tbailey Glo...|masculino|     01/12/1979|Analista de Intel...|01/10/2021|    1257.45|           125.75|
|     Maress39|Mrs  \t isabella ...| feminino|     04/08/1960|  Arquiteto de Dados|24/03/2020|     771.99|             77.2|
|     Kehonell| Mrs Chloe \tKirby  | feminino|     28/06/1949|      Analista de RH|07/06/2020|    1021.77|           102.18|
|      Thimpay| Mrs louise \tCla...| feminino|     07/01/1995|  Arquiteto de Dados|03/11/2020|     234.76|            23.48|
|    Giall1985|Mr Harrison \t Bowen| feminino|     04/04/1987| Engenheiro de Dados|25/03/2020|     628.07|            62.81|
|    Neave1959|Mrs anna \t     S...| feminino|     02/02/1970| Engenheiro de Dados|18/09/2020|     140.04|             14.0|
|Nicterims1993|  Mrs \tDaisy And...|masculino|     05/07/1985| Engenheiro de Dados|29/01/2021|    2417.81|           241.78|
| Fouldlairity|    Ms zoe \tPeacock|masculino|     03/06/1964| Analista Financeiro|04/12/2020|      51.95|              5.2|
| Ancomettiody| Mrs Libby \tWill...| feminino|     04/09/1974|         Estatístico|21/11/2020|     130.73|            13.07|
|       Onswis| Ms Katie \tMmtcalfe| feminino|     01/07/1983|Engenheiro de Mac...|27/02/2021|    1778.72|           177.87|
|    Majeappre|   Mr Luca \tVaughan| feminino|     03/01/1971|Gerente de Tecnol...|15/07/2022|    1034.74|           103.47|
|      Theired|   Mr Henry \tHaynes|masculino|     06/09/1951|Analista de Intel...|23/12/2022|    1320.04|            132.0|
|       Botter|    Mr Noah \tWalton| feminino|     09/03/1991|        Web Designer|26/07/2022|    3464.72|           346.47|
+-------------+--------------------+---------+---------------+--------------------+----------+-----------+-----------------+

In [ ]:
#Criar uma nova coluna contendo o valor total gasto - o desconto
df3.withColumn('total_com_desconto', F.round(F.col('total_gasto') - F.col('total_de_desconto'), 2)).show()

+-------------+--------------------+---------+---------------+--------------------+----------+-----------+-----------------+------------------+
|      usuario|                Nome|     Sexo|Data_Nascimento|            ocupacao|Assinatura|total_gasto|total_de_desconto|total_com_desconto|
+-------------+--------------------+---------+---------------+--------------------+----------+-----------+-----------------+------------------+
|   Neaude1978|  Mr \tbailey Glo...|masculino|     01/12/1979|Analista de Intel...|01/10/2021|    1257.45|           125.75|            1131.7|
|     Maress39|Mrs  \t isabella ...| feminino|     04/08/1960|  Arquiteto de Dados|24/03/2020|     771.99|             77.2|            694.79|
|     Kehonell| Mrs Chloe \tKirby  | feminino|     28/06/1949|      Analista de RH|07/06/2020|    1021.77|           102.18|            919.59|
|      Thimpay| Mrs louise \tCla...| feminino|     07/01/1995|  Arquiteto de Dados|03/11/2020|     234.76|            23.48|            211.28|
|    Giall1985|Mr Harrison \t Bowen| feminino|     04/04/1987| Engenheiro de Dados|25/03/2020|     628.07|            62.81|            565.26|
|    Neave1959|Mrs anna \t     S...| feminino|     02/02/1970| Engenheiro de Dados|18/09/2020|     140.04|             14.0|            126.04|
|Nicterims1993|  Mrs \tDaisy And...|masculino|     05/07/1985| Engenheiro de Dados|29/01/2021|    2417.81|           241.78|           2176.03|
| Fouldlairity|    Ms zoe \tPeacock|masculino|     03/06/1964| Analista Financeiro|04/12/2020|      51.95|              5.2|             46.75|
| Ancomettiody| Mrs Libby \tWill...| feminino|     04/09/1974|         Estatístico|21/11/2020|     130.73|            13.07|            117.66|
|       Onswis| Ms Katie \tMmtcalfe| feminino|     01/07/1983|Engenheiro de Mac...|27/02/2021|    1778.72|           177.87|           1600.85|
|    Majeappre|   Mr Luca \tVaughan| feminino|     03/01/1971|Gerente de Tecnol...|15/07/2022|    1034.74|           103.47|            931.27|
|      Theired|   Mr Henry \tHaynes|masculino|     06/09/1951|Analista de Intel...|23/12/2022|    1320.04|            132.0|           1188.04|
|       Botter|    Mr Noah \tWalton| feminino|     09/03/1991|        Web Designer|26/07/2022|    3464.72|           346.47|           3118.25|
+-------------+--------------------+---------+---------------+--------------------+----------+-----------+-----------------+------------------+

In [ ]:
#Criar uma nova coluna contendo o valor total - 10% de desconto sobre o valor total gasto
df4 = df2.withColumn('total_com_desconto', F.round(F.col('total_gasto') - F.col('total_gasto') * 0.1, 2))

In [ ]:
df4.show(truncate=False)

+-------------+-------------------------+---------+---------------+-----------------------------------+----------+-----------+------------------+
|usuario      |Nome                     |Sexo     |Data_Nascimento|ocupacao                           |Assinatura|total_gasto|total_com_desconto|
+-------------+-------------------------+---------+---------------+-----------------------------------+----------+-----------+------------------+
|Neaude1978   |  Mr \tbailey Glover     |masculino|01/12/1979     |Analista de Inteligência de Mercado|01/10/2021|1257.45    |1131.71           |
|Maress39     |Mrs  \t isabella   Fowler|feminino |04/08/1960     |Arquiteto de Dados                 |24/03/2020|771.99     |694.79            |
|Kehonell     | Mrs Chloe \tKirby       |feminino |28/06/1949     |Analista de RH                     |07/06/2020|1021.77    |919.59            |
|Thimpay      | Mrs louise \tClark      |feminino |07/01/1995     |Arquiteto de Dados                 |03/11/2020|234.76     |211.28            |
|Giall1985    |Mr Harrison \t Bowen     |feminino |04/04/1987     |Engenheiro de Dados                |25/03/2020|628.07     |565.26            |
|Neave1959    |Mrs anna \t     Sharp    |feminino |02/02/1970     |Engenheiro de Dados                |18/09/2020|140.04     |126.04            |
|Nicterims1993|  Mrs \tDaisy Anderson   |masculino|05/07/1985     |Engenheiro de Dados                |29/01/2021|2417.81    |2176.03           |
|Fouldlairity |Ms zoe \tPeacock         |masculino|03/06/1964     |Analista Financeiro                |04/12/2020|51.95      |46.76             |
|Ancomettiody | Mrs Libby \tWilliams    |feminino |04/09/1974     |Estatístico                        |21/11/2020|130.73     |117.66            |
|Onswis       |Ms Katie \tMmtcalfe      |feminino |01/07/1983     |Engenheiro de Machine Learning     |27/02/2021|1778.72    |1600.85           |
|Majeappre    |Mr Luca \tVaughan        |feminino |03/01/1971     |Gerente de Tecnologia              |15/07/2022|1034.74    |931.27            |
|Theired      |Mr Henry \tHaynes        |masculino|06/09/1951     |Analista de Inteligência de Mercado|23/12/2022|1320.04    |1188.04           |
|Botter       |Mr Noah \tWalton         |feminino |09/03/1991     |Web Designer                       |26/07/2022|3464.72    |3118.25           |
+-------------+-------------------------+---------+---------------+-----------------------------------+----------+-----------+------------------+

In [ ]:
#RETORNAR TODAS AS OCUPAÇÕES EXISTENTES, CADA UMA APARACENDO UMA ÚNICA VEZ
df2.select('ocupacao').distinct().show(truncate=False)

+-----------------------------------+
|ocupacao                           |
+-----------------------------------+
|Engenheiro de Machine Learning     |
|Arquiteto de Dados                 |
|Estatístico                        |
|Analista de RH                     |
|Engenheiro de Dados                |
|Analista Financeiro                |
|Gerente de Tecnologia              |
|Web Designer                       |
|Analista de Inteligência de Mercado|
+-----------------------------------+

In [ ]:
#RETORNAR usuário, data de nascimento e ocupação ordenado pelo usuário em ordem crescente (A-Z)
df4.orderBy(F.col('usuario').asc()).show()
df4.orderBy(F.col('Nome').asc(), F.col('data_nascimento').asc(), F.col('total_gasto').desc())

+-------------+--------------------+---------+---------------+--------------------+----------+-----------+------------------+
|      usuario|                Nome|     Sexo|Data_Nascimento|            ocupacao|Assinatura|total_gasto|total_com_desconto|
+-------------+--------------------+---------+---------------+--------------------+----------+-----------+------------------+
| Ancomettiody| Mrs Libby \tWill...| feminino|     04/09/1974|         Estatístico|21/11/2020|     130.73|            117.66|
|       Botter|    Mr Noah \tWalton| feminino|     09/03/1991|        Web Designer|26/07/2022|    3464.72|           3118.25|
| Fouldlairity|    Ms zoe \tPeacock|masculino|     03/06/1964| Analista Financeiro|04/12/2020|      51.95|             46.76|
|    Giall1985|Mr Harrison \t Bowen| feminino|     04/04/1987| Engenheiro de Dados|25/03/2020|     628.07|            565.26|
|     Kehonell| Mrs Chloe \tKirby  | feminino|     28/06/1949|      Analista de RH|07/06/2020|    1021.77|            919.59|
|    Majeappre|   Mr Luca \tVaughan| feminino|     03/01/1971|Gerente de Tecnol...|15/07/2022|    1034.74|            931.27|
|     Maress39|Mrs  \t isabella ...| feminino|     04/08/1960|  Arquiteto de Dados|24/03/2020|     771.99|            694.79|
|   Neaude1978|  Mr \tbailey Glo...|masculino|     01/12/1979|Analista de Intel...|01/10/2021|    1257.45|           1131.71|
|    Neave1959|Mrs anna \t     S...| feminino|     02/02/1970| Engenheiro de Dados|18/09/2020|     140.04|            126.04|
|Nicterims1993|  Mrs \tDaisy And...|masculino|     05/07/1985| Engenheiro de Dados|29/01/2021|    2417.81|           2176.03|
|       Onswis| Ms Katie \tMmtcalfe| feminino|     01/07/1983|Engenheiro de Mac...|27/02/2021|    1778.72|           1600.85|
|      Theired|   Mr Henry \tHaynes|masculino|     06/09/1951|Analista de Intel...|23/12/2022|    1320.04|           1188.04|
|      Thimpay| Mrs louise \tCla...| feminino|     07/01/1995|  Arquiteto de Dados|03/11/2020|     234.76|            211.28|
+-------------+--------------------+---------+---------------+--------------------+----------+-----------+------------------+

DataFrame[usuario: string, Nome: string, Sexo: string, Data_Nascimento: string, ocupacao: string, Assinatura: string, total_gasto: double, total_com_desconto: double]

In [ ]:
#RETORNAR usuário, data de nascimento e ocupação ordenado pelo usuário em ordem crescente (A-Z)
df4.select(F.col('usuario'), F.col('Data_Nascimento'), F.col('ocupacao')).orderBy(F.col('usuario').asc()).show()

+-------------+---------------+--------------------+
|      usuario|Data_Nascimento|            ocupacao|
+-------------+---------------+--------------------+
| Ancomettiody|     04/09/1974|         Estatístico|
|       Botter|     09/03/1991|        Web Designer|
| Fouldlairity|     03/06/1964| Analista Financeiro|
|    Giall1985|     04/04/1987| Engenheiro de Dados|
|     Kehonell|     28/06/1949|      Analista de RH|
|    Majeappre|     03/01/1971|Gerente de Tecnol...|
|     Maress39|     04/08/1960|  Arquiteto de Dados|
|   Neaude1978|     01/12/1979|Analista de Intel...|
|    Neave1959|     02/02/1970| Engenheiro de Dados|
|Nicterims1993|     05/07/1985| Engenheiro de Dados|
|       Onswis|     01/07/1983|Engenheiro de Mac...|
|      Theired|     06/09/1951|Analista de Intel...|
|      Thimpay|     07/01/1995|  Arquiteto de Dados|
+-------------+---------------+--------------------+

In [ ]:
#Retornar nome, ocupação e total gasto ordenado pelo total gasto do menor para o maior
df4.select(F.col('nome'), F.col('ocupacao'), F.col('total_gasto')).orderBy(F.col('total_gasto')).show()

+--------------------+--------------------+-----------+
|                nome|            ocupacao|total_gasto|
+--------------------+--------------------+-----------+
|    Ms zoe \tPeacock| Analista Financeiro|      51.95|
| Mrs Libby \tWill...|         Estatístico|     130.73|
|Mrs anna \t     S...| Engenheiro de Dados|     140.04|
| Mrs louise \tCla...|  Arquiteto de Dados|     234.76|
|Mr Harrison \t Bowen| Engenheiro de Dados|     628.07|
|Mrs  \t isabella ...|  Arquiteto de Dados|     771.99|
| Mrs Chloe \tKirby  |      Analista de RH|    1021.77|
|   Mr Luca \tVaughan|Gerente de Tecnol...|    1034.74|
|  Mr \tbailey Glo...|Analista de Intel...|    1257.45|
|   Mr Henry \tHaynes|Analista de Intel...|    1320.04|
| Ms Katie \tMmtcalfe|Engenheiro de Mac...|    1778.72|
|  Mrs \tDaisy And...| Engenheiro de Dados|    2417.81|
|    Mr Noah \tWalton|        Web Designer|    3464.72|
+--------------------+--------------------+-----------+

In [ ]:
#Retornar nome, ocupação e total gasto ordenado pelo total gasto do maior para o menor
#df4.select(F.col('nome'), F.col('ocupacao'), F.col('total_gasto')).orderBy(F.col('total_gasto').desc()).show()
df4.orderBy(F.col('usuario').desc()).show()

#PODEMOS UTILIZAR PARA A ORDENAÇÃO O COMANDO SORT, QUE TERÁ O MESMO RESULTADO
df4.sort(F.col('usuario').desc()).show()

+-------------+--------------------+---------+---------------+--------------------+----------+-----------+------------------+
|      usuario|                Nome|     Sexo|Data_Nascimento|            ocupacao|Assinatura|total_gasto|total_com_desconto|
+-------------+--------------------+---------+---------------+--------------------+----------+-----------+------------------+
|      Thimpay| Mrs louise \tCla...| feminino|     07/01/1995|  Arquiteto de Dados|03/11/2020|     234.76|            211.28|
|      Theired|   Mr Henry \tHaynes|masculino|     06/09/1951|Analista de Intel...|23/12/2022|    1320.04|           1188.04|
|       Onswis| Ms Katie \tMmtcalfe| feminino|     01/07/1983|Engenheiro de Mac...|27/02/2021|    1778.72|           1600.85|
|Nicterims1993|  Mrs \tDaisy And...|masculino|     05/07/1985| Engenheiro de Dados|29/01/2021|    2417.81|           2176.03|
|    Neave1959|Mrs anna \t     S...| feminino|     02/02/1970| Engenheiro de Dados|18/09/2020|     140.04|            126.04|
|   Neaude1978|  Mr \tbailey Glo...|masculino|     01/12/1979|Analista de Intel...|01/10/2021|    1257.45|           1131.71|
|     Maress39|Mrs  \t isabella ...| feminino|     04/08/1960|  Arquiteto de Dados|24/03/2020|     771.99|            694.79|
|    Majeappre|   Mr Luca \tVaughan| feminino|     03/01/1971|Gerente de Tecnol...|15/07/2022|    1034.74|            931.27|
|     Kehonell| Mrs Chloe \tKirby  | feminino|     28/06/1949|      Analista de RH|07/06/2020|    1021.77|            919.59|
|    Giall1985|Mr Harrison \t Bowen| feminino|     04/04/1987| Engenheiro de Dados|25/03/2020|     628.07|            565.26|
| Fouldlairity|    Ms zoe \tPeacock|masculino|     03/06/1964| Analista Financeiro|04/12/2020|      51.95|             46.76|
|       Botter|    Mr Noah \tWalton| feminino|     09/03/1991|        Web Designer|26/07/2022|    3464.72|           3118.25|
| Ancomettiody| Mrs Libby \tWill...| feminino|     04/09/1974|         Estatístico|21/11/2020|     130.73|            117.66|
+-------------+--------------------+---------+---------------+--------------------+----------+-----------+------------------+

+-------------+--------------------+---------+---------------+--------------------+----------+-----------+------------------+
|      usuario|                Nome|     Sexo|Data_Nascimento|            ocupacao|Assinatura|total_gasto|total_com_desconto|
+-------------+--------------------+---------+---------------+--------------------+----------+-----------+------------------+
|      Thimpay| Mrs louise \tCla...| feminino|     07/01/1995|  Arquiteto de Dados|03/11/2020|     234.76|            211.28|
|      Theired|   Mr Henry \tHaynes|masculino|     06/09/1951|Analista de Intel...|23/12/2022|    1320.04|           1188.04|
|       Onswis| Ms Katie \tMmtcalfe| feminino|     01/07/1983|Engenheiro de Mac...|27/02/2021|    1778.72|           1600.85|
|Nicterims1993|  Mrs \tDaisy And...|masculino|     05/07/1985| Engenheiro de Dados|29/01/2021|    2417.81|           2176.03|
|    Neave1959|Mrs anna \t     S...| feminino|     02/02/1970| Engenheiro de Dados|18/09/2020|     140.04|            126.04|
|   Neaude1978|  Mr \tbailey Glo...|masculino|     01/12/1979|Analista de Intel...|01/10/2021|    1257.45|           1131.71|
|     Maress39|Mrs  \t isabella ...| feminino|     04/08/1960|  Arquiteto de Dados|24/03/2020|     771.99|            694.79|
|    Majeappre|   Mr Luca \tVaughan| feminino|     03/01/1971|Gerente de Tecnol...|15/07/2022|    1034.74|            931.27|
|     Kehonell| Mrs Chloe \tKirby  | feminino|     28/06/1949|      Analista de RH|07/06/2020|    1021.77|            919.59|
|    Giall1985|Mr Harrison \t Bowen| feminino|     04/04/1987| Engenheiro de Dados|25/03/2020|     628.07|            565.26|
| Fouldlairity|    Ms zoe \tPeacock|masculino|     03/06/1964| Analista Financeiro|04/12/2020|      51.95|             46.76|
|       Botter|    Mr Noah \tWalton| feminino|     09/03/1991|        Web Designer|26/07/2022|    3464.72|           3118.25|
| Ancomettiody| Mrs Libby \tWill...| feminino|     04/09/1974|         Estatístico|21/11/2020|     130.73|            117.66|
+-------------+--------------------+---------+---------------+--------------------+----------+-----------+------------------+

In [ ]:
df4.show()

+-------------+--------------------+---------+---------------+--------------------+----------+-----------+------------------+
|      usuario|                Nome|     Sexo|Data_Nascimento|            ocupacao|Assinatura|total_gasto|total_com_desconto|
+-------------+--------------------+---------+---------------+--------------------+----------+-----------+------------------+
|   Neaude1978|  Mr \tbailey Glo...|masculino|     01/12/1979|Analista de Intel...|01/10/2021|    1257.45|           1131.71|
|     Maress39|Mrs  \t isabella ...| feminino|     04/08/1960|  Arquiteto de Dados|24/03/2020|     771.99|            694.79|
|     Kehonell| Mrs Chloe \tKirby  | feminino|     28/06/1949|      Analista de RH|07/06/2020|    1021.77|            919.59|
|      Thimpay| Mrs louise \tCla...| feminino|     07/01/1995|  Arquiteto de Dados|03/11/2020|     234.76|            211.28|
|    Giall1985|Mr Harrison \t Bowen| feminino|     04/04/1987| Engenheiro de Dados|25/03/2020|     628.07|            565.26|
|    Neave1959|Mrs anna \t     S...| feminino|     02/02/1970| Engenheiro de Dados|18/09/2020|     140.04|            126.04|
|Nicterims1993|  Mrs \tDaisy And...|masculino|     05/07/1985| Engenheiro de Dados|29/01/2021|    2417.81|           2176.03|
| Fouldlairity|    Ms zoe \tPeacock|masculino|     03/06/1964| Analista Financeiro|04/12/2020|      51.95|             46.76|
| Ancomettiody| Mrs Libby \tWill...| feminino|     04/09/1974|         Estatístico|21/11/2020|     130.73|            117.66|
|       Onswis| Ms Katie \tMmtcalfe| feminino|     01/07/1983|Engenheiro de Mac...|27/02/2021|    1778.72|           1600.85|
|    Majeappre|   Mr Luca \tVaughan| feminino|     03/01/1971|Gerente de Tecnol...|15/07/2022|    1034.74|            931.27|
|      Theired|   Mr Henry \tHaynes|masculino|     06/09/1951|Analista de Intel...|23/12/2022|    1320.04|           1188.04|
|       Botter|    Mr Noah \tWalton| feminino|     09/03/1991|        Web Designer|26/07/2022|    3464.72|           3118.25|
+-------------+--------------------+---------+---------------+--------------------+----------+-----------+------------------+

In [ ]:
#RETORNAR A QUANTIDADE DE PESSOAS POR SEXO
df4.filter(F.col('sexo').contains('feminino')).count()
df4.filter(F.col('sexo').contains('masculino')).count()

4

In [ ]:
#RETORNAR A QUANTIDADE DE PESSOAS POR SEXO
df4.groupBy('sexo').count().show()

+---------+-----+
|     sexo|count|
+---------+-----+
|masculino|    4|
| feminino|    9|
+---------+-----+

In [ ]:
#RETORNAR A QUANTIDADE DE PESSOAS POR OCUPAÇÃO
df4.groupBy('ocupacao').count().show(truncate=False)

+-----------------------------------+-----+
|ocupacao                           |count|
+-----------------------------------+-----+
|Engenheiro de Machine Learning     |1    |
|Arquiteto de Dados                 |2    |
|Estatístico                        |1    |
|Analista de RH                     |1    |
|Engenheiro de Dados                |3    |
|Analista Financeiro                |1    |
|Gerente de Tecnologia              |1    |
|Web Designer                       |1    |
|Analista de Inteligência de Mercado|2    |
+-----------------------------------+-----+

In [ ]:
#RETORNAR O VALOR TOTAL GASTO POR SEXO 
df4.groupBy('sexo').sum('total_gasto').show()

+---------+-----------------+
|     sexo| sum(total_gasto)|
+---------+-----------------+
|masculino|          5047.25|
| feminino|9205.539999999999|
+---------+-----------------+

In [ ]:
df4.schema

StructType([StructField('usuario', StringType(), True), StructField('Nome', StringType(), True), StructField('Sexo', StringType(), True), StructField('Data_Nascimento', StringType(), True), StructField('ocupacao', StringType(), True), StructField('Assinatura', StringType(), True), StructField('total_gasto', DoubleType(), True), StructField('total_com_desconto', DoubleType(), True)])

In [ ]:
#RETORNAR O VALOR TOTAL GASTO POR SEXO E O VALOR MÍNIMO E MÁXIMO GASTOS POR CADA SEXO
df5 = (df4.select(F.col('sexo'), F.col('total_gasto')).groupBy('sexo').agg(F.round(F.sum('total_gasto')).alias('Total por Sexo'),
                                                    F.min('total_gasto').alias('Valor mínimo'),
                                                    F.max('total_gasto').alias('Valor máximo'))
)

In [ ]:
df5.show()

+---------+--------------+------------+------------+
|     sexo|Total por Sexo|Valor mínimo|Valor máximo|
+---------+--------------+------------+------------+
|masculino|        5047.0|       51.95|     2417.81|
| feminino|        9206.0|      130.73|     3464.72|
+---------+--------------+------------+------------+

In [ ]:
#RETORNAR O VALOR TOTAL GASTO POR OCUPAÇÃO
df4.groupBy('ocupacao').sum('total_gasto').show(truncate=False)

+-----------------------------------+----------------+
|ocupacao                           |sum(total_gasto)|
+-----------------------------------+----------------+
|Engenheiro de Machine Learning     |1778.72         |
|Arquiteto de Dados                 |1006.75         |
|Estatístico                        |130.73          |
|Analista de RH                     |1021.77         |
|Engenheiro de Dados                |3185.92         |
|Analista Financeiro                |51.95           |
|Gerente de Tecnologia              |1034.74         |
|Web Designer                       |3464.72         |
|Analista de Inteligência de Mercado|2577.49         |
+-----------------------------------+----------------+

In [ ]:
#CRIAR UMA NOVA COLUNA CONTENDO O NÚMERO 1 PARA O SEXO MASCULINO E 2 PARA O SEXO FEMININO
#AGORA EU TENHO UMA CONDIÇÃO - WHEN - OTHERWISE
( df4.select('sexo').withColumn('id_sexo', 
                                F.when(F.col('sexo') == 'masculino',F.lit(1))
                                .otherwise(F.lit(2)))
                                .show()
)

+---------+-------+
|     sexo|id_sexo|
+---------+-------+
|masculino|      1|
| feminino|      2|
| feminino|      2|
| feminino|      2|
| feminino|      2|
| feminino|      2|
|masculino|      1|
|masculino|      1|
| feminino|      2|
| feminino|      2|
| feminino|      2|
|masculino|      1|
| feminino|      2|
+---------+-------+

In [ ]:
df4.select('data_nascimento').show()

+---------------+
|data_nascimento|
+---------------+
|     01/12/1979|
|     04/08/1960|
|     28/06/1949|
|     07/01/1995|
|     04/04/1987|
|     02/02/1970|
|     05/07/1985|
|     03/06/1964|
|     04/09/1974|
|     01/07/1983|
|     03/01/1971|
|     06/09/1951|
|     09/03/1991|
+---------------+

In [ ]:
df4.select('data_nascimento').show()

F.substring(coluna, posição_inicial, tamanho)
F.substring()

+---------------+
|data_nascimento|
+---------------+
|     01/12/1979|
|     04/08/1960|
|     28/06/1949|
|     07/01/1995|
|     04/04/1987|
|     02/02/1970|
|     05/07/1985|
|     03/06/1964|
|     04/09/1974|
|     01/07/1983|
|     03/01/1971|
|     06/09/1951|
|     09/03/1991|
+---------------+

NameError: ignored

In [ ]:
#SEPARAR O DIA, MÊS E ANO EM 3 COLUNAS DIFERENTES
df_data_separada = ( df4.select('data_nascimento')
     .withColumn('dia', F.substring(F.col('data_nascimento'), 1, 2))
     .withColumn('mes', F.substring(F.col('data_nascimento'), 4, 2))
     .withColumn('ano', F.substring(F.col('data_nascimento'), 7, 4))
)

In [ ]:
df_data_separada.show(2)

+---------------+---+---+----+
|data_nascimento|dia|mes| ano|
+---------------+---+---+----+
|     01/12/1979| 01| 12|1979|
|     04/08/1960| 04| 08|1960|
+---------------+---+---+----+
only showing top 2 rows

In [ ]:
df_data_separada.printSchema()

root
 |-- data_nascimento: string (nullable = true)
 |-- dia: string (nullable = true)
 |-- mes: string (nullable = true)
 |-- ano: string (nullable = true)

In [ ]:
df4.show()

+-------------+--------------------+---------+---------------+--------------------+----------+-----------+------------------+
|      usuario|                Nome|     Sexo|Data_Nascimento|            ocupacao|Assinatura|total_gasto|total_com_desconto|
+-------------+--------------------+---------+---------------+--------------------+----------+-----------+------------------+
|   Neaude1978|  Mr \tbailey Glo...|masculino|     01/12/1979|Analista de Intel...|01/10/2021|    1257.45|           1131.71|
|     Maress39|Mrs  \t isabella ...| feminino|     04/08/1960|  Arquiteto de Dados|24/03/2020|     771.99|            694.79|
|     Kehonell| Mrs Chloe \tKirby  | feminino|     28/06/1949|      Analista de RH|07/06/2020|    1021.77|            919.59|
|      Thimpay| Mrs louise \tCla...| feminino|     07/01/1995|  Arquiteto de Dados|03/11/2020|     234.76|            211.28|
|    Giall1985|Mr Harrison \t Bowen| feminino|     04/04/1987| Engenheiro de Dados|25/03/2020|     628.07|            565.26|
|    Neave1959|Mrs anna \t     S...| feminino|     02/02/1970| Engenheiro de Dados|18/09/2020|     140.04|            126.04|
|Nicterims1993|  Mrs \tDaisy And...|masculino|     05/07/1985| Engenheiro de Dados|29/01/2021|    2417.81|           2176.03|
| Fouldlairity|    Ms zoe \tPeacock|masculino|     03/06/1964| Analista Financeiro|04/12/2020|      51.95|             46.76|
| Ancomettiody| Mrs Libby \tWill...| feminino|     04/09/1974|         Estatístico|21/11/2020|     130.73|            117.66|
|       Onswis| Ms Katie \tMmtcalfe| feminino|     01/07/1983|Engenheiro de Mac...|27/02/2021|    1778.72|           1600.85|
|    Majeappre|   Mr Luca \tVaughan| feminino|     03/01/1971|Gerente de Tecnol...|15/07/2022|    1034.74|            931.27|
|      Theired|   Mr Henry \tHaynes|masculino|     06/09/1951|Analista de Intel...|23/12/2022|    1320.04|           1188.04|
|       Botter|    Mr Noah \tWalton| feminino|     09/03/1991|        Web Designer|26/07/2022|    3464.72|           3118.25|
+-------------+--------------------+---------+---------------+--------------------+----------+-----------+------------------+

In [ ]:
from pyspark.sql.types import NullType
#FUNÇÃO PARA ALTERAR VALORES DENTRO DE UMA COLUNA
df7 = ( df4.withColumn('sexo', F.when(F.col('sexo') == 'masculino', F.regexp_replace(F.col('sexo'), 'masculino', 'm'))
                                .when(F.col('sexo') == 'feminino', F.regexp_replace(F.col('sexo'), 'feminino', 'f'))
                                .otherwise('Nao informado')    
                       )
)

In [ ]:
df7.show()

+-------------+--------------------+----+---------------+--------------------+----------+-----------+------------------+
|      usuario|                Nome|sexo|Data_Nascimento|            ocupacao|Assinatura|total_gasto|total_com_desconto|
+-------------+--------------------+----+---------------+--------------------+----------+-----------+------------------+
|   Neaude1978|  Mr \tbailey Glo...|   m|     01/12/1979|Analista de Intel...|01/10/2021|    1257.45|           1131.71|
|     Maress39|Mrs  \t isabella ...|   f|     04/08/1960|  Arquiteto de Dados|24/03/2020|     771.99|            694.79|
|     Kehonell| Mrs Chloe \tKirby  |   f|     28/06/1949|      Analista de RH|07/06/2020|    1021.77|            919.59|
|      Thimpay| Mrs louise \tCla...|   f|     07/01/1995|  Arquiteto de Dados|03/11/2020|     234.76|            211.28|
|    Giall1985|Mr Harrison \t Bowen|   f|     04/04/1987| Engenheiro de Dados|25/03/2020|     628.07|            565.26|
|    Neave1959|Mrs anna \t     S...|   f|     02/02/1970| Engenheiro de Dados|18/09/2020|     140.04|            126.04|
|Nicterims1993|  Mrs \tDaisy And...|   m|     05/07/1985| Engenheiro de Dados|29/01/2021|    2417.81|           2176.03|
| Fouldlairity|    Ms zoe \tPeacock|   m|     03/06/1964| Analista Financeiro|04/12/2020|      51.95|             46.76|
| Ancomettiody| Mrs Libby \tWill...|   f|     04/09/1974|         Estatístico|21/11/2020|     130.73|            117.66|
|       Onswis| Ms Katie \tMmtcalfe|   f|     01/07/1983|Engenheiro de Mac...|27/02/2021|    1778.72|           1600.85|
|    Majeappre|   Mr Luca \tVaughan|   f|     03/01/1971|Gerente de Tecnol...|15/07/2022|    1034.74|            931.27|
|      Theired|   Mr Henry \tHaynes|   m|     06/09/1951|Analista de Intel...|23/12/2022|    1320.04|           1188.04|
|       Botter|    Mr Noah \tWalton|   f|     09/03/1991|        Web Designer|26/07/2022|    3464.72|           3118.25|
+-------------+--------------------+----+---------------+--------------------+----------+-----------+------------------+

In [ ]:
#REMOVER LINHAS DUPLICADAS NO DATAFRAME
df7.dropDuplicates()
total_linhas = df7.count()
total_linhas_distintas = df7.distinct().count()

print(total_linhas - total_linhas_distintas)

In [ ]:
df7.summary().show()

In [ ]:
import pandas as pd

In [ ]:
#REMOVER UMA COLUNA NO DATAFRAME
df7.drop(F.col('usuario')).show()

df_pandas = df7.toPandas()

df_pandas.head(10)

+--------------------+----+---------------+--------------------+----------+-----------+------------------+
|                Nome|sexo|Data_Nascimento|            ocupacao|Assinatura|total_gasto|total_com_desconto|
+--------------------+----+---------------+--------------------+----------+-----------+------------------+
|  Mr \tbailey Glo...|   m|     01/12/1979|Analista de Intel...|01/10/2021|    1257.45|           1131.71|
|Mrs  \t isabella ...|   f|     04/08/1960|  Arquiteto de Dados|24/03/2020|     771.99|            694.79|
| Mrs Chloe \tKirby  |   f|     28/06/1949|      Analista de RH|07/06/2020|    1021.77|            919.59|
| Mrs louise \tCla...|   f|     07/01/1995|  Arquiteto de Dados|03/11/2020|     234.76|            211.28|
|Mr Harrison \t Bowen|   f|     04/04/1987| Engenheiro de Dados|25/03/2020|     628.07|            565.26|
|Mrs anna \t     S...|   f|     02/02/1970| Engenheiro de Dados|18/09/2020|     140.04|            126.04|
|  Mrs \tDaisy And...|   m|     05/07/1985| Engenheiro de Dados|29/01/2021|    2417.81|           2176.03|
|    Ms zoe \tPeacock|   m|     03/06/1964| Analista Financeiro|04/12/2020|      51.95|             46.76|
| Mrs Libby \tWill...|   f|     04/09/1974|         Estatístico|21/11/2020|     130.73|            117.66|
| Ms Katie \tMmtcalfe|   f|     01/07/1983|Engenheiro de Mac...|27/02/2021|    1778.72|           1600.85|
|   Mr Luca \tVaughan|   f|     03/01/1971|Gerente de Tecnol...|15/07/2022|    1034.74|            931.27|
|   Mr Henry \tHaynes|   m|     06/09/1951|Analista de Intel...|23/12/2022|    1320.04|           1188.04|
|    Mr Noah \tWalton|   f|     09/03/1991|        Web Designer|26/07/2022|    3464.72|           3118.25|
+--------------------+----+---------------+--------------------+----------+-----------+------------------+

,usuario,Nome,sexo,Data_Nascimento,ocupacao,Assinatura,total_gasto,total_com_desconto
0,Neaude1978,Mr \tbailey Glover,m,01/12/1979,Analista de Inteligência de Mercado,01/10/2021,1257.45,1131.71
1,Maress39,Mrs \t isabella Fowler,f,04/08/1960,Arquiteto de Dados,24/03/2020,771.99,694.79
2,Kehonell,Mrs Chloe \tKirby,f,28/06/1949,Analista de RH,07/06/2020,1021.77,919.59
3,Thimpay,Mrs louise \tClark,f,07/01/1995,Arquiteto de Dados,03/11/2020,234.76,211.28
4,Giall1985,Mr Harrison \t Bowen,f,04/04/1987,Engenheiro de Dados,25/03/2020,628.07,565.26
5,Neave1959,Mrs anna \t Sharp,f,02/02/1970,Engenheiro de Dados,18/09/2020,140.04,126.04
6,Nicterims1993,Mrs \tDaisy Anderson,m,05/07/1985,Engenheiro de Dados,29/01/2021,2417.81,2176.03
7,Fouldlairity,Ms zoe \tPeacock,m,03/06/1964,Analista Financeiro,04/12/2020,51.95,46.76
8,Ancomettiody,Mrs Libby \tWilliams,f,04/09/1974,Estatístico,21/11/2020,130.73,117.66
9,Onswis,Ms Katie \tMmtcalfe,f,01/07/1983,Engenheiro de Machine Learning,27/02/2021,1778.72,1600.85

In [ ]:
#SUBSTITUIÇÃO DE VALORES NULOS
df7.fillna('NA', subset=['Nome', 'sexo', 'data_nascimento'])

DataFrame[usuario: string, Nome: string, sexo: string, Data_Nascimento: string, ocupacao: string, Assinatura: string, total_gasto: double, total_com_desconto: double]

In [ ]:
df.schema

StructType([StructField('Username', StringType(), True), StructField('Nome', StringType(), True), StructField('Sexo', StringType(), True), StructField('Data_Nascimento', StringType(), True), StructField('Ocupação', StringType(), True), StructField('Assinatura', StringType(), True), StructField('Total_Gasto ', DoubleType(), True)])

In [ ]:
df.select('data_nascimento').show()

+---------------+
|data_nascimento|
+---------------+
|     01/12/1979|
|     04/08/1960|
|     28/06/1949|
|     07/01/1995|
|     04/04/1987|
|     02/02/1970|
|     05/07/1985|
|     03/06/1964|
|     04/09/1974|
|     01/07/1983|
|     03/01/1971|
|     06/09/1951|
|     09/03/1991|
+---------------+

In [ ]:
#CONVERTER UMA DATA DO FORMATO STRING PARA O FORMATO DATE - yyyy-MM-dd
df8 = df.withColumn('data_tipo_date', F.to_date(F.col('Data_nascimento'), 'dd/MM/yyyy'))
df8 = df.withColumn('Data_Nascimento', F.to_date(F.col('Data_nascimento'), 'dd/MM/yyyy'))

In [ ]:
df8.dtypes

[('Username', 'string'),
 ('Nome', 'string'),
 ('Sexo', 'string'),
 ('Data_Nascimento', 'string'),
 ('Ocupação', 'string'),
 ('Assinatura', 'string'),
 ('Total_Gasto ', 'double'),
 ('data_tipo_date', 'date')]

In [ ]:
#CONVERTER A DATA DO TIPO DATE QUE A GENTE CRIOU PARA STRING
df8.withColumn('DATA_STRING', F.date_format(F.col('data_tipo_date'), 'dd/MM/yyyy')).show()
#F.date_format(coluna_do_tipo_date, 'dd/MM/yyyy')

+-------------+--------------------+---------+---------------+--------------------+----------+------------+--------------+-----------+
|     Username|                Nome|     Sexo|Data_Nascimento|            Ocupação|Assinatura|Total_Gasto |data_tipo_date|DATA_STRING|
+-------------+--------------------+---------+---------------+--------------------+----------+------------+--------------+-----------+
|   Neaude1978|  Mr \tbailey Glo...|masculino|     01/12/1979|Analista de Intel...|01/10/2021|     1257.45|    1979-12-01| 01/12/1979|
|     Maress39|Mrs  \t isabella ...| feminino|     04/08/1960|  Arquiteto de Dados|24/03/2020|      771.99|    1960-08-04| 04/08/1960|
|     Kehonell| Mrs Chloe \tKirby  | feminino|     28/06/1949|      Analista de RH|07/06/2020|     1021.77|    1949-06-28| 28/06/1949|
|      Thimpay| Mrs louise \tCla...| feminino|     07/01/1995|  Arquiteto de Dados|03/11/2020|      234.76|    1995-01-07| 07/01/1995|
|    Giall1985|Mr Harrison \t Bowen| feminino|     04/04/1987| Engenheiro de Dados|25/03/2020|      628.07|    1987-04-04| 04/04/1987|
|    Neave1959|Mrs anna \t     S...| feminino|     02/02/1970| Engenheiro de Dados|18/09/2020|      140.04|    1970-02-02| 02/02/1970|
|Nicterims1993|  Mrs \tDaisy And...|masculino|     05/07/1985| Engenheiro de Dados|29/01/2021|     2417.81|    1985-07-05| 05/07/1985|
| Fouldlairity|    Ms zoe \tPeacock|masculino|     03/06/1964| Analista Financeiro|04/12/2020|       51.95|    1964-06-03| 03/06/1964|
| Ancomettiody| Mrs Libby \tWill...| feminino|     04/09/1974|         Estatístico|21/11/2020|      130.73|    1974-09-04| 04/09/1974|
|       Onswis| Ms Katie \tMmtcalfe| feminino|     01/07/1983|Engenheiro de Mac...|27/02/2021|     1778.72|    1983-07-01| 01/07/1983|
|    Majeappre|   Mr Luca \tVaughan| feminino|     03/01/1971|Gerente de Tecnol...|15/07/2022|     1034.74|    1971-01-03| 03/01/1971|
|      Theired|   Mr Henry \tHaynes|masculino|     06/09/1951|Analista de Intel...|23/12/2022|     1320.04|    1951-09-06| 06/09/1951|
|       Botter|    Mr Noah \tWalton| feminino|     09/03/1991|        Web Designer|26/07/2022|     3464.72|    1991-03-09| 09/03/1991|
+-------------+--------------------+---------+---------------+--------------------+----------+------------+--------------+-----------+

In [ ]:
# 1) F.datediff (data_final, data_inicial) - Retorna a diferença em dias entre duas datas
# 2) F.months_between (data_final, data_inicial) - Retorna a diferença em meses entre duas datas
# 3) year(), month(), next_day(), weekofyear()
# 4) dayofweek, dayofmonth(), dayofyear()

In [ ]:
#CONVERTER DATA_NASCIMENTO E ASSINATURA PARA DATE E APLICAR AS DUAS FUNÇÕES ACIMA
df9 = ( df8.select('Data_Nascimento', 'Assinatura')
     .withColumn('nasc_date', F.to_date(F.col('data_nascimento'), 'dd/MM/yyyy'))
     .withColumn('assinatura_date', F.to_date(F.col('Assinatura'), 'dd/MM/yyyy'))
)

In [ ]:
df9.withColumn('Dif_Dias', F.datediff(F.col('nasc_date'), F.col('assinatura_date'))).show()

+---------------+----------+----------+---------------+--------+
|Data_Nascimento|Assinatura| nasc_date|assinatura_date|Dif_Dias|
+---------------+----------+----------+---------------+--------+
|     01/12/1979|01/10/2021|1979-12-01|     2021-10-01|  -15280|
|     04/08/1960|24/03/2020|1960-08-04|     2020-03-24|  -21782|
|     28/06/1949|07/06/2020|1949-06-28|     2020-06-07|  -25912|
|     07/01/1995|03/11/2020|1995-01-07|     2020-11-03|   -9432|
|     04/04/1987|25/03/2020|1987-04-04|     2020-03-25|  -12044|
|     02/02/1970|18/09/2020|1970-02-02|     2020-09-18|  -18491|
|     05/07/1985|29/01/2021|1985-07-05|     2021-01-29|  -12992|
|     03/06/1964|04/12/2020|1964-06-03|     2020-12-04|  -20638|
|     04/09/1974|21/11/2020|1974-09-04|     2020-11-21|  -16880|
|     01/07/1983|27/02/2021|1983-07-01|     2021-02-27|  -13756|
|     03/01/1971|15/07/2022|1971-01-03|     2022-07-15|  -18821|
|     06/09/1951|23/12/2022|1951-09-06|     2022-12-23|  -26041|
|     09/03/1991|26/07/2022|1991-03-09|     2022-07-26|  -11462|
+---------------+----------+----------+---------------+--------+

In [ ]:
df9.withColumn('Dif_meses', F.months_between(F.col('nasc_date'), F.col('assinatura_date'))).show()

+---------------+----------+----------+---------------+-------------+
|Data_Nascimento|Assinatura| nasc_date|assinatura_date|    Dif_meses|
+---------------+----------+----------+---------------+-------------+
|     01/12/1979|01/10/2021|1979-12-01|     2021-10-01|       -502.0|
|     04/08/1960|24/03/2020|1960-08-04|     2020-03-24|-715.64516129|
|     28/06/1949|07/06/2020|1949-06-28|     2020-06-07|-851.32258065|
|     07/01/1995|03/11/2020|1995-01-07|     2020-11-03|-309.87096774|
|     04/04/1987|25/03/2020|1987-04-04|     2020-03-25|-395.67741935|
|     02/02/1970|18/09/2020|1970-02-02|     2020-09-18|-607.51612903|
|     05/07/1985|29/01/2021|1985-07-05|     2021-01-29|-426.77419355|
|     03/06/1964|04/12/2020|1964-06-03|     2020-12-04|-678.03225806|
|     04/09/1974|21/11/2020|1974-09-04|     2020-11-21| -554.5483871|
|     01/07/1983|27/02/2021|1983-07-01|     2021-02-27|-451.83870968|
|     03/01/1971|15/07/2022|1971-01-03|     2022-07-15|-618.38709677|
|     06/09/1951|23/12/2022|1951-09-06|     2022-12-23| -855.5483871|
|     09/03/1991|26/07/2022|1991-03-09|     2022-07-26| -376.5483871|
+---------------+----------+----------+---------------+-------------+

In [ ]:
#JOINS
schema = ['id', 'nome', 'salario']

dados = [
         (1, 'João', 2000),
         (2, 'Maria', 5000),
         (3, 'Pedro', 8300),
         (4, 'Gustavo', 1200),
         (5, 'Ana', 10000),
         (6, 'Vitoria', 7500),
         (7, 'Carlos', 4800),
         (8, 'Claudia', 4300),
         (9, 'Andre', 2400),
]

df10 = spark.createDataFrame(dados, schema)

In [ ]:
schema = ['id', 'cidade', 'estado']

dados = [
         (1, 'São Paulo', 'SP'),
         (2, 'Curitiba', 'PR'),
         (3, 'Fortaleza', 'CE'),
         (4, 'Ribeirão Preto', 'SP'),
         (8, 'Belo Horizonte', 'MG'),
         (9, 'Goiania', 'GO'),
         (10, 'Sobral', 'CE'),
         (11, 'Salvador', 'BA'),
         (12, 'São Luis', 'MA'),
]
df11 = spark.createDataFrame(dados, schema)

In [ ]:
df10.show()
df11.show()

+---+-------+-------+
| id|   nome|salario|
+---+-------+-------+
|  1|   João|   2000|
|  2|  Maria|   5000|
|  3|  Pedro|   8300|
|  4|Gustavo|   1200|
|  5|    Ana|  10000|
|  6|Vitoria|   7500|
|  7| Carlos|   4800|
|  8|Claudia|   4300|
|  9|  Andre|   2400|
+---+-------+-------+

+---+--------------+------+
| id|        cidade|estado|
+---+--------------+------+
|  1|     São Paulo|    SP|
|  2|      Curitiba|    PR|
|  3|     Fortaleza|    CE|
|  4|Ribeirão Preto|    SP|
|  8|Belo Horizonte|    MG|
|  9|       Goiania|    GO|
| 10|        Sobral|    CE|
| 11|      Salvador|    BA|
| 12|      São Luis|    MA|
+---+--------------+------+

In [ ]:
#INNER JOIN
df_inner = df10.join(df11, on=['id'], how='inner')
df_inner.show()

df_inner = df10.join(df11, df10.id == df11.id_endereco, how='inner')

+---+-------+-------+--------------+------+
| id|   nome|salario|        cidade|estado|
+---+-------+-------+--------------+------+
|  1|   João|   2000|     São Paulo|    SP|
|  2|  Maria|   5000|      Curitiba|    PR|
|  3|  Pedro|   8300|     Fortaleza|    CE|
|  4|Gustavo|   1200|Ribeirão Preto|    SP|
|  8|Claudia|   4300|Belo Horizonte|    MG|
|  9|  Andre|   2400|       Goiania|    GO|
+---+-------+-------+--------------+------+

In [ ]:
#LEFT JOIN
df_left = df10.join(df11, on=['id'], how='left')
df_left.orderBy('id').show()

+---+-------+-------+--------------+------+
| id|   nome|salario|        cidade|estado|
+---+-------+-------+--------------+------+
|  1|   João|   2000|     São Paulo|    SP|
|  2|  Maria|   5000|      Curitiba|    PR|
|  3|  Pedro|   8300|     Fortaleza|    CE|
|  4|Gustavo|   1200|Ribeirão Preto|    SP|
|  5|    Ana|  10000|          null|  null|
|  6|Vitoria|   7500|          null|  null|
|  7| Carlos|   4800|          null|  null|
|  8|Claudia|   4300|Belo Horizonte|    MG|
|  9|  Andre|   2400|       Goiania|    GO|
+---+-------+-------+--------------+------+

In [ ]:
#RIGHT JOIN
df_right = df10.join(df11, on=['id'], how='right')
df_right.orderBy('id').show()

+---+-------+-------+--------------+------+
| id|   nome|salario|        cidade|estado|
+---+-------+-------+--------------+------+
|  1|   João|   2000|     São Paulo|    SP|
|  2|  Maria|   5000|      Curitiba|    PR|
|  3|  Pedro|   8300|     Fortaleza|    CE|
|  4|Gustavo|   1200|Ribeirão Preto|    SP|
|  8|Claudia|   4300|Belo Horizonte|    MG|
|  9|  Andre|   2400|       Goiania|    GO|
| 10|   null|   null|        Sobral|    CE|
| 11|   null|   null|      Salvador|    BA|
| 12|   null|   null|      São Luis|    MA|
+---+-------+-------+--------------+------+

In [ ]:
#FULL
df_full = df10.join(df11, on=['id'], how='full')
df_full.orderBy('id').show()

+---+-------+-------+--------------+------+
| id|   nome|salario|        cidade|estado|
+---+-------+-------+--------------+------+
|  1|   João|   2000|     São Paulo|    SP|
|  2|  Maria|   5000|      Curitiba|    PR|
|  3|  Pedro|   8300|     Fortaleza|    CE|
|  4|Gustavo|   1200|Ribeirão Preto|    SP|
|  5|    Ana|  10000|          null|  null|
|  6|Vitoria|   7500|          null|  null|
|  7| Carlos|   4800|          null|  null|
|  8|Claudia|   4300|Belo Horizonte|    MG|
|  9|  Andre|   2400|       Goiania|    GO|
| 10|   null|   null|        Sobral|    CE|
| 11|   null|   null|      Salvador|    BA|
| 12|   null|   null|      São Luis|    MA|
+---+-------+-------+--------------+------+

In [ ]:
df10.show()
df11.show()

+---+-------+-------+
| id|   nome|salario|
+---+-------+-------+
|  1|   João|   2000|
|  2|  Maria|   5000|
|  3|  Pedro|   8300|
|  4|Gustavo|   1200|
|  5|    Ana|  10000|
|  6|Vitoria|   7500|
|  7| Carlos|   4800|
|  8|Claudia|   4300|
|  9|  Andre|   2400|
+---+-------+-------+

+---+--------------+------+
| id|        cidade|estado|
+---+--------------+------+
|  1|     São Paulo|    SP|
|  2|      Curitiba|    PR|
|  3|     Fortaleza|    CE|
|  4|Ribeirão Preto|    SP|
|  8|Belo Horizonte|    MG|
|  9|       Goiania|    GO|
| 10|        Sobral|    CE|
| 11|      Salvador|    BA|
| 12|      São Luis|    MA|
+---+--------------+------+

In [ ]:
#SALVAR
df9.write.format('csv').mode('overwrite').save('caminho')
df9.write.format('parquet').save('caminho')
df9.write.format('json').save('caminho')
df9.write.format('orc').save('caminho')

In [ ]:
#LEITURA
df_csv = spark.read.format('csv').load('caminho')
df_csv = spark.read.format('parquet').load('caminho')
df_csv = spark.read.format('json').load('caminho')
df_csv = spark.read.format('orc').load('caminho')