<a href="https://colab.research.google.com/github/Stesilva16/Eng-de-dados--/blob/main/despesas_de_gasto_tratamento_de_dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

*texto em itálico*# Importação das bibliotecas

In [ ]:
pip install pandera

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pandera
  Downloading pandera-0.13.4-py3-none-any.whl (122 kB)
     |████████████████████████████████| 122 kB 12.4 MB/s
Requirement already satisfied: typing-extensions>=3.7.4.3 in /usr/local/lib/python3.7/dist-packages (from pandera) (4.1.1)
Requirement already satisfied: pydantic in /usr/local/lib/python3.7/dist-packages (from pandera) (1.10.2)
Requirement already satisfied: numpy>=1.19.0 in /usr/local/lib/python3.7/dist-packages (from pandera) (1.21.6)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.7/dist-packages (from pandera) (21.3)
Requirement already satisfied: wrapt in /usr/local/lib/python3.7/dist-packages (from pandera) (1.14.1)
Requirement already satisfied: pandas>=1.2.0 in /usr/local/lib/python3.7/dist-packages (from pandera) (1.3.5)
Collecting typing-inspect>=0.6.0
  Downloading typing_inspect-0.8.0-py3-none-any.whl (8.7 kB)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=20.0->pandera) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.2.0->pandera) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.2.0->pandera) (2022.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=1.2.0->pandera) (1.15.0)
Collecting mypy-extensions>=0.3.0
  Downloading mypy_extensions-0.4.3-py2.py3-none-any.whl (4.5 kB)
Installing collected packages: mypy-extensions, typing-inspect, pandera
Successfully installed mypy-extensions-0.4.3 pandera-0.13.4 typing-inspect-0.8.0

In [ ]:
import pandas as pd
import pandera as pa
import numpy as np

#Extração das bases de dados

In [ ]:
#direto do servidor alesp 
#df2 = pd.read_xml('https://storage.googleapis.com/bc26-bucket/alesp_desp.csv')

In [ ]:
#informações erradas
df = pd.read_csv('https://storage.googleapis.com/pandas_26bc/cadastro_alesp.csv', sep = ',', encoding='ISO-8859-1' )
df1 = pd.read_csv('https://storage.googleapis.com/pandas_26bc/despesa_alesp.csv', sep =',' )

In [ ]:
df.head(2)

,IdDeputado,IdSPL,IdUA,Situacao,Andar,...,Sala,Partido,Telefone,Fax,PlacaVeiculo
0,549,1000000330,20377,EXE,3Âº andar,...,305,PSDB,(11) 3886-6557 / 6559,NaN,NaN
1,548,1000000332,20370,EXE,TÃ©rreo,...,T. 45,AGIR,(11) 3886-6567/8770,NaN,NaN

In [ ]:
#

In [ ]:
df1.head(2)

,Ano,Matricula,Mes,Valor,CNPJ,Tipo,Fornecedor
0,2013,300098,1,575.53,5.049700e+11,A - COMBUSTÍVEIS E LUBRIFICANTES,AUTO POSTO VANUTRE LTDA
1,2013,300098,1,1650.76,4.881450e+13,A - COMBUSTÍVEIS E LUBRIFICANTES,S.D.LUIZARI & CIA. LTDA.

# Backup

In [ ]:
dfback = df.copy()
df1 = df1.copy()

# RENOMEAR

In [ ]:
#renomear as colunas
df.rename(columns={'IdDeputado':'iddeputado', 'IdSPL':'idspl','IdUA':'idua', 'Situacao':'situacao','Andar':'andar', 'Aniversario':'aniversario', 'Biografia':'biografia', 'Email': 'email', 'Matricula':'matricula', 'NomeParlamentar' : 'nomeparlamentar', 'PlacaVeiculo': 'placaeiculo', 'Fax': 'fax', 'Telefone':'telefone','Partido': 'partido', 'Sala':'sala', 'PathFoto':'pathfoto'}, inplace=True)
df1.rename(columns={'Ano': 'ano', 'Matricula':'matricula', 'Mes' :'mes', 'Valor':'valor', 'CNPJ':'cnpj', 'Tipo': 'tipo','Fornecedor':'fornecedor'}, inplace=True)

In [ ]:
df.head(2)

,iddeputado,idspl,idua,situacao,andar,...,sala,partido,telefone,fax,placaeiculo
0,549,1000000330,20377,EXE,3Âº andar,...,305,PSDB,(11) 3886-6557 / 6559,NaN,NaN
1,548,1000000332,20370,EXE,TÃ©rreo,...,T. 45,AGIR,(11) 3886-6567/8770,NaN,NaN

In [ ]:
df1.head(2)

,ano,matricula,mes,valor,cnpj,tipo,fornecedor
0,2013,300098,1,575.53,5.049700e+11,A - COMBUSTÍVEIS E LUBRIFICANTES,AUTO POSTO VANUTRE LTDA
1,2013,300098,1,1650.76,4.881450e+13,A - COMBUSTÍVEIS E LUBRIFICANTES,S.D.LUIZARI & CIA. LTDA.

# Verificador de letras em numeros

In [ ]:
df1.replace(pd.Na,0,inplace=True)

In [ ]:
df1.dtypes

ano             int64
matricula       int64
mes             int64
valor         float64
cnpj          float64
tipo           object
fornecedor     object
dtype: object

In [ ]:
valores_estranhos = []
for i in range(len(df1)):
  try:
    int(df1.loc[i ,'cnpj'])
  except Exception:
    valores_estranhos.append(df1.loc[i , 'cnpj'])
print(valores_estranhos)

[nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]

In [ ]:
df1.isna().sum()

ano              0
matricula        0
mes              0
valor            0
cnpj          1854
tipo             0
fornecedor       0
dtype: int64

In [ ]:
df1.cnpj.is_unique

False

In [ ]:
df1.to_excel('cnpj_excel_ok.xlsx',index=False)

##Pré analise

In [ ]:
pd.set_option('display.max_columns',10)

In [ ]:
df.head(2)

,iddeputado,idspl,idua,situacao,andar,...,sala,partido,telefone,fax,placaeiculo
0,549,1000000330,20377,EXE,3Âº andar,...,305,PSDB,(11) 3886-6557 / 6559,NaN,NaN
1,548,1000000332,20370,EXE,TÃ©rreo,...,T. 45,AGIR,(11) 3886-6567/8770,NaN,NaN

In [ ]:
df.Fornecedor.is_unique

# Tratamento de dados

In [ ]:
df.dtypes

iddeputado          int64
idspl               int64
idua                int64
situacao           object
andar              object
aniversario        object
biografia          object
email              object
matricula           int64
nomeparlamentar    object
pathfoto           object
sala               object
partido            object
telefone           object
fax                object
placaeiculo        object
dtype: object

In [ ]:
#backup do dataframe original
dfback = df.copy()

In [ ]:
df.head(1)

,iddeputado,idspl,idua,situacao,andar,...,sala,partido,telefone,fax,placaeiculo
0,549,1000000330,20377,EXE,3Âº andar,...,305,PSDB,(11) 3886-6557 / 6559,NaN,NaN

In [ ]:
df.head()

,iddeputado,idspl,idua,situacao,andar,...,sala,partido,telefone,fax,placaeiculo
0,549,1000000330,20377,EXE,3Âº andar,...,305,PSDB,(11) 3886-6557 / 6559,NaN,NaN
1,548,1000000332,20370,EXE,TÃ©rreo,...,T. 45,AGIR,(11) 3886-6567/8770,NaN,NaN
2,547,1000000335,20455,EXE,2Âº andar,...,255,PL,(11)3886-6052/6054,NaN,NaN
3,128,39,20369,EXE,3Âº,...,356,UNIÃO,3886-6453/6454,NaN,NaN
4,546,1000000342,20399,EXE,1Âº,...,173,PL,(11)3886-6676 / 6677,NaN,NaN

In [ ]:
df.dtypes

iddeputado          int64
idspl               int64
idua                int64
situacao           object
andar              object
aniversario        object
biografia          object
email              object
matricula           int64
nomeparlamentar    object
pathfoto           object
sala               object
partido            object
telefone           object
fax                object
placaeiculo        object
dtype: object

# Limpeza de Dados

In [ ]:
pd.unique(df['ano'])

In [ ]:
pd.unique(df['matricula'])

array([300605, 300606, 300607, 300288, 300608, 300553, 300609, 300431,
       300497, 300612, 300188, 300613, 300540, 300217, 300614, 300501,
       300485, 300499, 300615, 300616, 300205, 300617, 300548, 300618,
       300619, 300620, 300621, 300543, 300650, 300622, 300623, 300624,
       300292, 300318, 300449, 300395, 300440, 300625, 300303, 300583,
       300626, 300627, 300450, 300628, 300629, 300510, 300630, 300367,
       300549, 300544, 300513, 300631, 300545, 300264, 300633, 300635,
       300634, 300552, 300471, 300636, 300533, 300653, 300098, 300483,
       300637, 300654, 300534, 300655, 300536, 300638, 300639, 300640,
       300641, 300344, 300470, 300539, 300642, 300267, 300382, 300643,
       300519, 300407, 300260, 300644, 300520, 300645, 300646, 300647,
       300584, 300648, 300649, 300430, 300589])

In [ ]:
pd.unique(df['mes'])

In [ ]:
pd.unique(df['valor'])

In [ ]:
pd.unique(df['cnpj'])

In [ ]:
pd.unique(df['tipo'])

In [ ]:
df.replace(['A - COMBUSTÃ\x8dVEIS E LUBRIFICANTES'], ['a - combustiveis e lubrificantes'], inplace=True)

In [ ]:
df.replace(['C - MATERIAIS E SERVIÃOS DE MANUT E CONSERV DE VEÃCULOS ; PEDÃGIOS'], ['c - materiais e servicos de manut e conserv de conserv de veiculos, pedagios'], inplace=True )

In [ ]:
df.replace(['PEDÃ\x81GIOS'], ['pedagios'], inplace=True)

In [ ]:
df.replace(['PEDÃGIO'], ['pedagios'], inplace=True)

In [ ]:
df.replace(['D - MATERIAIS E SERVIÃ\x87OS GRÃ\x81FICOS, DE CÃ\x93PIAS  E REPRODUÃ\x87Ã\x83O DE DOCS'],['d - materias e servicos graficos'], inplace=True)

In [ ]:
df.replace(['E - MATERIAIS DE ESCRITÃ\x93RIO E OUTROS MATERIAIS DE CONSUMO'], ['e - materiais de escritorio e outros materiais de consumo'], inplace=True)

In [ ]:
df.replace(['G - ASSINATURAS DE PERIÃ\x93DICOS, PUBLICAÃ\x87Ã\x95ES, INTERNET E SOFTWARES'],['g- assinaturas periodicas, publicacoes, internet e softwares'], inplace=True)

In [ ]:
df.replace(['H - SERV.UTIL.PÃ\x9aBLICA (TELEF.MÃ\x93VEL/FIXA, ENERGIA, Ã\x81GUA, GÃ\x81S ETC)'], ['h - servi.util.publica, telefone fixo, energia, agua, gas, etc'], inplace=True)

In [ ]:
df.replace(['I - HOSPEDAGEM, ALIMENTAÃ\x87Ã\x83O E DESPESAS DE LOCOMOÃ\x87Ã\x83O'],['i - hospedagem, alimentacao e despesas de locomocao'], inplace=True)

In [ ]:
df.replace(['J - SERVIÃ\x87OS DE COMUNICAÃ\x87Ã\x83O'],['j- servicos de comunicacao'], inplace=True)

In [ ]:
df.replace(['L - LOCAÃ\x87Ã\x83O DE BENS IMÃ\x93VEIS'], ['l - locacao de bens imoveis'], inplace =True)

In [ ]:
df.replace(['M - MANUTENÃ\x87Ã\x83O DE BENS MÃ\x93VEIS,  IMÃ\x93VEIS, CONDOMÃ\x8dNIOS E OUTROS'], ['m - manutencao de bens moveis, imoveis, condominios e outros'], inplace=True)

In [ ]:
df.replace(['N - MORADIA'],['n - moradia'], inplace=True)

In [ ]:
df.replace(['F - SERVIÃ\x87OS TÃ\x89CNICOS PROFISSIONAIS (CONSULTORIA, PESQUISAS ETC)'],['f - servicos tecnicos profissionais(consultoria, pesquisas, etc)'], inplace=True)

In [ ]:
df.replace(['O - LOCAÃ\x87Ã\x83O DE VEÃ\x8dCULO'], ['o - locacao de veiculos'], inplace=True)

In [ ]:
df.replace(['P - DIVULGAÃ\x87Ã\x83O DA ATIVIDADE PARLAMENTAR'],['p - divulgacao da atividade parlamentar'], inplace=True)

In [ ]:
df.replace(['K - LOCAÃ\x87Ã\x83O DE BENS MÃ\x93VEIS'], ['k - locacao de bens materiais'], inplace=True)

In [ ]:
df.head()

In [ ]:
filtro = df.tipo == 'c - materiais e servicos de manut e conserv de conserv de veiculos, pedagios'

In [ ]:
dped = df.loc[filtro]

In [ ]:
dped

In [ ]:
filtro2 = dped.fornecedor.str.contains('PED|PEG')

**negrito**# arrumando nomes dos fornecedores de pedagio

In [ ]:
df.replace(['AUTOESTE VEÃCULOS E PEÃAS LTDA.'], ['autoeste veiculos e pneus ltda'], inplace=True)

In [ ]:
df.head()

In [ ]:
filtro = df.fornecedor == ''

In [ ]:
pd.unique(df['fornecedor'])

In [ ]:
#consulta valores ausentes
df.isna().sum()

In [ ]:
#consulta dados "válidos"
df.count()

# Verificação dos dados

In [ ]:
df.dtypes

ano             int64
matricula       int64
mes             int64
valor         float64
cnpj          float64
tipo           object
fornecedor     object
dtype: object

In [ ]:
# Criação do schema de validação dos dados

schema = pa.DataFrameSchema(
    columns = {
        'ano':pa.Column(pa.Int),
        'matricula':pa.Column(pa.Int),
        'mes':pa.Column(pa.Int),
        'valor':pa.Column(pa.Float),
        'cnpj':pa.Column(pa.Float, nullable=True),
        'tipo':pa.Column(pa.String),
        'fornecedor':pa.Column(pa.String)
    }
    
)

In [ ]:
#validador do DF
schema.validate(df)

In [ ]:
df.isna().sum()

iddeputado          0
idspl               0
idua                0
situacao            0
andar               1
aniversario         0
biografia           0
email               0
matricula           0
nomeparlamentar     0
pathfoto            0
sala                0
partido             0
telefone            0
fax                82
placaeiculo        92
dtype: int64

# Filtros para tratamento

In [ ]:
#filtro par arrumar os nomes dos fornecadores
filtroforne = df.fornecedor.isna()
ftforne = df.fornecedor == 'SOFT ÃGUA MINERAL NATURAL LTDA. - ME'

In [ ]:
df.loc[ftforne]

# Nomes fornecedores

In [ ]:
df.replace(['ÃGUA E GELO COM DE REFRIGERAÃÃO LTDA. - ME'],['agua e gelo com refrigerante ltda - me'], inplace=True)

In [ ]:
df.replace(['AUTO POSTO VANUTRE LTDA'],['auto posto vanutre ltda'], inplace=True)

In [ ]:
df.replace(['S.D.LUIZARI & CIA. LTDA.'],['s.d.luizardi e cia ltda'], inplace=True)

In [ ]:
df.replace(['AUTO POSTO EXECUTIVO LTDA'],['auto posto executivo ltda'], inplace=True)

In [ ]:
df.replace(['CROMOGRAF GRAFICA DE PRESIDENTE PRUDENTE LTDA - EPP'],['cromograf grafica de presidente prudente ltda - epp'], inplace=True)

In [ ]:
df.replace(['FYIVAS SOLUÃÃES EM TECNOLOGIA LTDA ME'],['fyivas solucoes em tecnologia ltda me'], inplace=True)

In [ ]:
df.replace(['MARIA INES SINISGALLI'],['maria ines sinisgalli'], inplace=True)

In [ ]:
df.replace(['SECRETARIA MUNICIPAL DA FAZENDA'],['secretaria municipal da fazenda'], inplace=True)

In [ ]:
df.replace(['CONDOMINIO EDIF IBIRAPUERA PLAZA CENTER'], ['condominio edif ibirapuera plaa center'], inplace=True)

In [ ]:
df.replace(['UNIDAS VEÃCULOS ESPECIAIS S.A.'], ['unidas veiculos especiais s.a'], inplace=True)

In [ ]:
df.replace(['B J COM DE COMBUSTIVEIS E LUBR DE OURINHOS LTDA'], ['b j com de combustiveis e lubr de outinhos ltda'], inplace=True)

In [ ]:
df.replace(['CAIO COMERCIO DE EMBALAGENS LTDA - EPP'], ['caio comercia de embalagens ltda - epp'], inplace=True)

In [ ]:
df.replace(['SORVECON PRODUTOS ALIMENTICIOS LTDA'], ['sorvecon produtos alimenticios ltda'], inplace=True)

In [ ]:
df.replace(['M.J.FONSECA GUARDIA INFORMATICA LTDA'], ['m.j fonseca guardia informatica ltda'], inplace=True)

In [ ]:
df.replace(['GRÃFICA PRUDENTINA LTDA.'], ['gradica prudentina ltda'], inplace=True)

In [ ]:
df.replace(['STETNET TELECOM LTDA-ME'], ['stetnet telecom ltda-me'], inplace=True)

In [ ]:
df.replace(['TELEFONICA BRASIL S/A.'], ['telefonica brasil s-a'], inplace=True)

In [ ]:
df.replace(['ENERGISA SUL-SUDESTE - DISTRIBUIDORA DE ENERGIA S.A.'], ['energisa sul suldeste distr de energia s.a'], inplace=True)

In [ ]:
df.replace(['EMBRATEL'], ['embratel'], inplace=True)

In [ ]:
df.replace(['CIA. DE SANEAMENTO BÃSICO DO ESTADO DE SÃO PAULO - SABESP'], ['cia de saneamento basico do estado de sao paulo - sabesp'], inplace=True)

In [ ]:
df.replace(['GOL LINHAS AREAS INTELIGENTES'], ['gol linhas areas inteligentes'], inplace=True)

In [ ]:
df.replace(['CHOPERIA E LANCHONETE H2 LTDA - EPP'], ['choperia e lanchonet h2 ltada - epp'], inplace=True)

In [ ]:
df.replace(['UBIRAJARA MOURÃO COELHO'], ['ubirajara mourao coelho'], inplace=True)

In [ ]:
df.replace(['TERESINHA BARRETO COIMBRA'], ['teresinha barreto coimbra'], inplace=True)

In [ ]:
df.replace(['MILTON KIYOSHI KANAWA'], ['milton kiyoshi kanawa'], inplace=True)

In [ ]:
df.replace(['VEGASCOM TELECOM COM ASSIST TEC TEL P PTE LTDA ME'], ['vegascom telecom com assist tec tel p pte ltda me'], inplace=True)

In [ ]:
df.replace(['HOME SAFETY - EDISON GARANHANI EPP'], ['home safety - edison garanhani epp'], inplace=True)

In [ ]:
df.replace(['A Z COMERCIO DE COMBUSTIVEIS LTDA'], ['a z comercio de combustiveis ltda'], inplace=True)

In [ ]:
df.replace(['PREFEITURA MUNICIPAL DE PRESIDENTE PRUDENTE'], ['prefeitura municipal de presidente prudente'], inplace=True)

In [ ]:
df.replace(['RIFANE COM DE MATERIAIS HIDRAULICOS LTDA'], ['rifane com de materias hidraulicos ltda'], inplace=True)

In [ ]:
df.replace(['SOFT ÃGUA MINERAL NATURAL LTDA. - ME'], ['soft agua mineral nat ltda me'], inplace=True)

In [ ]:
df.replace(['PAPELARIA E INFORMATICA MARROLIVER LTDA-MF'], ['papelaria e inform marroliver ltda-mf'], inplace=True)

In [ ]:
df.replace(['LEONICE APARECIDA DEMARQUE - ME'], ['leonice aparecida demarque me'], inplace=True)

In [ ]:
df.replace(['KALUNGA COM. E IND. GRÃFICA LTDA.'], ['kalunga com e ind grafica ltda'], inplace=True)

In [ ]:
df.replace(['INSTITUTO MENSAGEIROS'], ['instituto mensageiros'], inplace=True)

In [ ]:
df.replace(['ECT - EMP.BRAS. DE CORREIOS E TELÃGRAFOS'], ['ect - emp.bras de correiros e telgrafos'], inplace=True)

In [ ]:
df.replace(['J. L. AUTO ELÃTRICA LTDA. - ME'], ['j. l. auto eletrica ltda - me'], inplace=True)

In [ ]:
df.replace(['SOFT ÃGUA MINERAL NATURAL LTDA. - ME'], ['soft agua mineral natural ltda'], inplace=True)

In [ ]:
df.replace(['AUTO POSTO SANTA TEREZINHA DE AVARE LTDA'], ['auto posto santa terezinha de avare ltda'], inplace=True)

In [ ]:
df.replace(['SOFT ÃGUA MINERAL NATURAL LTDA. - ME'], ['soft agua mineral natural ltda'], inplace=True)

In [ ]:
POSTO SANTA LUZIA DE RANCHARIA LTDA df.replace(['SOFT ÃGUA MINERAL NATURAL LTDA. - ME'], ['soft agua mineral natural ltda'], inplace=True)

In [ ]:
AUTO POSTO GD LTDA df.replace(['SOFT ÃGUA MINERAL NATURAL LTDA. - ME'], ['soft agua mineral natural ltda'], inplace=True)

In [ ]:
AUTO ELETRICA SOARES E SILVA LTDA - EPP df.replace(['SOFT ÃGUA MINERAL NATURAL LTDA. - ME'], ['soft agua mineral natural ltda'], inplace=True)

In [ ]:
EDITORA IMPRENSA LTDA df.replace(['SOFT ÃGUA MINERAL NATURAL LTDA. - ME'], ['soft agua mineral natural ltda'], inplace=True)

In [ ]:
RADIAL PNEUS CENTRO AUTOMOTIVO LTDA-ME df.replace(['SOFT ÃGUA MINERAL NATURAL LTDA. - ME'], ['soft agua mineral natural ltda'], inplace=True)

In [ ]:
POSTO SANTA LUZIA DE RANCHARIA LTDA df.replace(['SOFT ÃGUA MINERAL NATURAL LTDA. - ME'], ['soft agua mineral natural ltda'], inplace=True)

In [ ]:
AUTO POSTO DOM ALIPIO DE PRES. EPITACIO LTDA df.replace(['SOFT ÃGUA MINERAL NATURAL LTDA. - ME'], ['soft agua mineral natural ltda'], inplace=True)

In [ ]:
	AUTO POSTO BELETATO LTDA df.replace(['SOFT ÃGUA MINERAL NATURAL LTDA. - ME'], ['soft agua mineral natural ltda'], inplace=True)

In [ ]:
	AUTO POSTO 3 AMIGOS LTDA df.replace(['SOFT ÃGUA MINERAL NATURAL LTDA. - ME'], ['soft agua mineral natural ltda'], inplace=True)

In [ ]:
	POSTO DE SERVIÃO VENEZA LTDA df.replace(['SOFT ÃGUA MINERAL NATURAL LTDA. - ME'], ['soft agua mineral natural ltda'], inplace=True)

In [ ]:
POSTO RODOSERV STAR LTDA df.replace(['SOFT ÃGUA MINERAL NATURAL LTDA. - ME'], ['soft agua mineral natural ltda'], inplace=True)

In [ ]:
	AUTO POSTO MACEIO LTDA df.replace(['SOFT ÃGUA MINERAL NATURAL LTDA. - ME'], ['soft agua mineral natural ltda'], inplace=True)

In [ ]:
	TAXI df.replace(['SOFT ÃGUA MINERAL NATURAL LTDA. - ME'], ['soft agua mineral natural ltda'], inplace=True)

In [ ]:
	EMPRESA DE TRANSPORTES ANDORINHA S/A. df.replace(['SOFT ÃGUA MINERAL NATURAL LTDA. - ME'], ['soft agua mineral natural ltda'], inplace=True)

In [ ]:
df

,ano,matricula,mes,valor,cnpj,tipo,fornecedor
0,2013,300098,1,575.53,5.049700e+11,a - combustiveis e lubrificantes,auto posto vanutre ltda
1,2013,300098,1,1650.76,4.881450e+13,a - combustiveis e lubrificantes,s.d.luizardi e cia ltda
2,2013,300098,1,1799.29,6.586291e+13,a - combustiveis e lubrificantes,auto posto executivo ltda
3,2013,300098,1,36.40,NaN,c - materiais e servicos de manut e conserv de...,pedagios
4,2013,300098,1,3100.00,9.904660e+11,d - materias e servicos graficos,cromograf grafica de presidente prudente ltda ...
...,...,...,...,...,...,...,...
118412,2022,300655,9,1250.00,1.531481e+13,k - locacao de bens materiais,fyivas solucoes em tecnologia ltda me
118413,2022,300655,9,2500.00,6.729494e+10,l - locacao de bens imoveis,maria ines sinisgalli
118414,2022,300655,9,599.29,4.639213e+13,"m - manutencao de bens moveis, imoveis, condom...",secretaria municipal da fazenda
118415,2022,300655,9,1836.13,6.106391e+13,"m - manutencao de bens moveis, imoveis, condom...",condominio edif ibirapuera plaa center
118416,2022,300655,9,2835.90,2.491558e+12,o - locacao de veiculos,unidas veiculos especiais s.a

Warning: total number of rows (118417) exceeds max_rows (20000). Limiting to first (20000) rows.