<a href="https://colab.research.google.com/github/Stesilva16/Eng-de-dados--/blob/main/MongoDb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Importar Bibliotecas

In [ ]:
#pip install pymongo[srv] #caso der algum erro
import pymongo
from pymongo import MongoClient
import numpy as np

#Conector do Mongo Atlas

In [ ]:
uri = "mongodb+srv://stefany-soulcode.kg0uoaf.mongodb.net/?authSource=%24external&authMechanism=MONGODB-X509&retryWrites=true&w=majority"
client = MongoClient(uri,
                     tls=True,
                     tlsCertificateKeyFile='/content/certificado_mongodb.pem')
db = client['Aula1']
colecao = db['primeira']

#print(doc_count)

In [ ]:
#verificar conexão/Qtd. docuemtnos da coleção ( se é novo tem que estar zerado )
colecao.count_documents({})

63

#Create
###popular, de forma atualizada

In [ ]:
colecao.insert_one({'nome':'Igor Godin','idade':33, 'salario': 1200})

In [ ]:
colecao.insert_many([{'nome':'Franscico Conto','idade':36, 'salario':3500},{'nome':'Alerrandro', 'idade':44, 'salario':1500},{'nome':'Marcia Gomes','idade':33, 'Salario': 1880},{'nome':'Marcia Aurelio','idade':25}])

In [ ]:
#Retorna o id
dados = {'nome':'Paulo Alura','idade':45}
info = colecao.insert_one(dados)
print(info.inserted_id)

638a0b10c2e873f37dd3a856

In [ ]:
n = 10
y = 20

while n < 50:
  dados = {'nome' : ' cliente' + str(y), 'idade':n}
  i = colecao.insert_one(dados)
  n+=1
  y-=1
  print(i.inserted_id)

638a0b12c2e873f37dd3a857
638a0b12c2e873f37dd3a858
638a0b12c2e873f37dd3a859
638a0b12c2e873f37dd3a85a
638a0b12c2e873f37dd3a85b
638a0b12c2e873f37dd3a85c
638a0b12c2e873f37dd3a85d
638a0b13c2e873f37dd3a85e
638a0b13c2e873f37dd3a85f
638a0b13c2e873f37dd3a860
638a0b13c2e873f37dd3a861
638a0b13c2e873f37dd3a862
638a0b13c2e873f37dd3a863
638a0b13c2e873f37dd3a864
638a0b13c2e873f37dd3a865
638a0b14c2e873f37dd3a866
638a0b14c2e873f37dd3a867
638a0b14c2e873f37dd3a868
638a0b14c2e873f37dd3a869
638a0b14c2e873f37dd3a86a
638a0b14c2e873f37dd3a86b
638a0b14c2e873f37dd3a86c
638a0b14c2e873f37dd3a86d
638a0b15c2e873f37dd3a86e
638a0b15c2e873f37dd3a86f
638a0b15c2e873f37dd3a870
638a0b15c2e873f37dd3a871
638a0b15c2e873f37dd3a872
638a0b15c2e873f37dd3a873
638a0b15c2e873f37dd3a874
638a0b15c2e873f37dd3a875
638a0b16c2e873f37dd3a876
638a0b16c2e873f37dd3a877
638a0b16c2e873f37dd3a878
638a0b16c2e873f37dd3a879
638a0b16c2e873f37dd3a87a
638a0b16c2e873f37dd3a87b
638a0b16c2e873f37dd3a87c
638a0b16c2e873f37dd3a87d
638a0b16c2e873f37dd3a87e

#READ

In [ ]:
#Buscar arquivos em toda a coleção
for x in colecao.find():
  print(x)

{'_id': ObjectId('6389028b91e0366640f4fe30'), 'nome': 'Ste Gracy', 'idade': 28, 'salario': 3500, 'emancipado': 'SIM'}
{'_id': ObjectId('6389029b91e0366640f4fe31'), 'nome': 'Gu Meni', 'idade': 33, 'salario': 5500, 'emancipado': 'SIM'}
{'_id': ObjectId('638902d691e0366640f4fe32'), 'nome': 'Noah Kg', 'idade': 22, 'salario': 1500, 'emancipado': 'SIM'}
{'_id': ObjectId('6389035591e0366640f4fe33'), 'nome': 'Leo Santana', 'idade': 28, 'salario': 1250, 'emancipado': 'SIM'}
{'_id': ObjectId('6389036a91e0366640f4fe34'), 'nome': 'lisa', 'idade': 25, 'salario': 1200, 'emancipado': 'SIM'}
{'_id': ObjectId('6389052991e0366640f4fe35'), 'nome': 'Suzana', 'idade': 31, 'emancipado': 'SIM'}
{'_id': ObjectId('6389052991e0366640f4fe36'), 'nome': 'Ana Paula', 'idade': 26, 'emancipado': 'SIM'}
{'_id': ObjectId('638907f491e0366640f4fe37'), 'nome': 'Fe Martins', 'idade': 28, 'salario': 3500, 'Nacionalidade': 'brasileira', 'emancipado': 'SIM'}
{'_id': ObjectId('638907f491e0366640f4fe38'), 'nome': 'Maria José', 'idade': 36, 'salario': 1000, 'emancipado': 'SIM'}
{'_id': ObjectId('638907f491e0366640f4fe39'), 'nome': 'Joana Freire', 'idade': 45, 'Salario': 880, 'emancipado': 'SIM'}
{'_id': ObjectId('63890a9c91e0366640f4fe3a'), 'nome': 'Thiago Martins', 'idade': 38, 'salario': 1500, 'Nacionalidade': 'Uruguai', 'emancipado': 'SIM'}
{'_id': ObjectId('63890a9c91e0366640f4fe3b'), 'nome': 'João Marcos', 'idade': 27, 'salario': 4000, 'emancipado': 'SIM'}
{'_id': ObjectId('63890a9c91e0366640f4fe3c'), 'nome': 'Mauricio Freire', 'idade': 35, 'Salario': 8280, 'emancipado': 'SIM'}
{'_id': ObjectId('63890a9c91e0366640f4fe3d'), 'nome': 'Mauricio Freire', 'idade': 35, 'emancipado': 'SIM'}
{'_id': ObjectId('63890b7a91e0366640f4fe3e'), 'nome': 'Richarlison Dutra', 'idade': 26, 'salario': 4500, 'emancipado': 'SIM'}
{'_id': ObjectId('63890b7a91e0366640f4fe3f'), 'nome': 'Josef', 'idade': 24, 'salario': 9000, 'nacionalidade': 'Francesa', 'emancipado': 'SIM'}
{'_id': ObjectId('63890b7a91e0366640f4fe40'), 'nome': 'Murilo Gomes', 'idade': 33, 'Salario': 1880, 'emancipado': 'SIM'}
{'_id': ObjectId('63890b7a91e0366640f4fe41'), 'nome': 'Marcos Aurelio', 'idade': 25, 'emancipado': 'SIM'}
{'_id': ObjectId('63890bd591e0366640f4fe42'), 'nome': 'Franscico Conto', 'idade': 36, 'salario': 3500, 'emancipado': 'SIM'}
{'_id': ObjectId('63890bd591e0366640f4fe43'), 'nome': 'Alerrandro', 'idade': 44, 'salario': 1500, 'emancipado': 'SIM'}
{'_id': ObjectId('63890bd591e0366640f4fe44'), 'nome': 'Marcia Gomes', 'idade': 33, 'Salario': 1880, 'emancipado': 'SIM'}
{'_id': ObjectId('63890bd591e0366640f4fe45'), 'nome': 'Marcia Aurelio', 'idade': 25, 'emancipado': 'SIM'}
{'_id': ObjectId('63890cc691e0366640f4fe46'), 'nome': 'Paulo Alura', 'idade': 45, 'emancipado': 'SIM'}
{'_id': ObjectId('63890ec391e0366640f4fe47'), 'nome': ' cliente20', 'idade': 10, 'emancipado': 'NAO'}
{'_id': ObjectId('63890ec391e0366640f4fe48'), 'nome': ' cliente19', 'idade': 11, 'emancipado': 'NAO'}
{'_id': ObjectId('63890ec391e0366640f4fe49'), 'nome': ' cliente18', 'idade': 12, 'emancipado': 'NAO'}
{'_id': ObjectId('63890ec491e0366640f4fe4a'), 'nome': ' cliente17', 'idade': 13, 'emancipado': 'NAO'}
{'_id': ObjectId('63890ec491e0366640f4fe4b'), 'nome': ' cliente16', 'idade': 14, 'emancipado': 'NAO'}
{'_id': ObjectId('63890ec491e0366640f4fe4c'), 'nome': ' cliente15', 'idade': 15, 'emancipado': 'NAO'}
{'_id': ObjectId('63890ec491e0366640f4fe4d'), 'nome': ' cliente14', 'idade': 16, 'emancipado': 'NAO'}
{'_id': ObjectId('63890ec491e0366640f4fe4e'), 'nome': ' cliente13', 'idade': 17, 'emancipado': 'NAO'}
{'_id': ObjectId('63890ec491e0366640f4fe4f'), 'nome': ' cliente12', 'idade': 18, 'emancipado': 'SIM'}
{'_id': ObjectId('63890ec591e0366640f4fe50'), 'nome': ' cliente11', 'idade': 19, 'emancipado': 'SIM'}
{'_id': ObjectId('63890ec591e0366640f4fe51'), 'nome': ' cliente10', 'idade': 20, 'emancipado': 'SIM'}
{'_id': ObjectId('63890ec591e0366640f4fe52'), 'nome': ' cliente9', 'idade': 21, 'emancipado': 'SIM'}
{'_id': ObjectId('63890ec591e0366640f4fe53'), 'nome': ' cliente8', 'idade': 22, 'emancipado': 'SIM'}
{'_id': ObjectId('63890ec591e0366640f4fe54'), 'nome': ' cliente7', 'idade': 23, 'emancipado': 'SIM'}
{'_id': ObjectId('63890ec691e0366640f4fe55'), 'nome': ' cliente6', 'idade': 24, 'emancipado': 'SIM'}
{'_id': ObjectId('63890ec691e0366640f4fe56'), 'nome': ' cliente5', 'idade': 25, 'emancipado': 'SIM'}
{'_id': ObjectId('63890ec691e0366640f4fe57'), 'nome': ' cliente4', 'idade': 26, 'emancipado': 'SIM'}
{'_id': ObjectId('63890ec691e0366640f4fe58'), 'nome': ' cliente3', 'idade': 27, 'emancipado': 'SIM'}
{'_id': ObjectId('63890ec691e0366640f4fe59'), 'nome': ' cliente2', 'idade': 28, 'emancipado': 'SIM'}
{'_id': ObjectId('63890ec691e0366640f4fe5a'), 'nome': ' cliente1', 'idade': 29, 'emancipado': 'SIM'}
{'_id': ObjectId('63890ec791e0366640f4fe5b'), 'nome': ' cliente0', 'idade': 30, 'emancipado': 'SIM'}
{'_id': ObjectId('63890ec791e0366640f4fe5c'), 'nome': ' cliente-1', 'idade': 31, 'emancipado': 'SIM'}
{'_id': ObjectId('63890ec791e0366640f4fe5d'), 'nome': ' cliente-2', 'idade': 32, 'emancipado': 'SIM'}
{'_id': ObjectId('63890ec791e0366640f4fe5e'), 'nome': ' cliente-3', 'idade': 33, 'emancipado': 'SIM'}
{'_id': ObjectId('63890ec791e0366640f4fe5f'), 'nome': ' cliente-4', 'idade': 34, 'emancipado': 'SIM'}
{'_id': ObjectId('63890ec891e0366640f4fe60'), 'nome': ' cliente-5', 'idade': 35, 'emancipado': 'SIM'}
{'_id': ObjectId('63890ec891e0366640f4fe61'), 'nome': ' cliente-6', 'idade': 36, 'emancipado': 'SIM'}
{'_id': ObjectId('63890ec891e0366640f4fe62'), 'nome': ' cliente-7', 'idade': 37, 'emancipado': 'SIM'}
{'_id': ObjectId('63890ec891e0366640f4fe63'), 'nome': ' cliente-8', 'idade': 38, 'emancipado': 'SIM'}
{'_id': ObjectId('63890ec891e0366640f4fe64'), 'nome': ' cliente-9', 'idade': 39, 'emancipado': 'SIM'}
{'_id': ObjectId('63890ec891e0366640f4fe65'), 'nome': ' cliente-10', 'idade': 40, 'emancipado': 'SIM'}
{'_id': ObjectId('63890ec991e0366640f4fe66'), 'nome': ' cliente-11', 'idade': 41, 'emancipado': 'SIM'}
{'_id': ObjectId('63890ec991e0366640f4fe67'), 'nome': ' cliente-12', 'idade': 42, 'emancipado': 'SIM'}
{'_id': ObjectId('63890ec991e0366640f4fe68'), 'nome': ' cliente-13', 'idade': 43, 'emancipado': 'SIM'}
{'_id': ObjectId('63890ec991e0366640f4fe69'), 'nome': ' cliente-14', 'idade': 44, 'emancipado': 'SIM'}
{'_id': ObjectId('63890ec991e0366640f4fe6a'), 'nome': ' cliente-15', 'idade': 45, 'emancipado': 'SIM'}
{'_id': ObjectId('63890eca91e0366640f4fe6b'), 'nome': ' cliente-16', 'idade': 46, 'emancipado': 'SIM'}
{'_id': ObjectId('63890eca91e0366640f4fe6c'), 'nome': ' cliente-17', 'idade': 47, 'emancipado': 'SIM'}
{'_id': ObjectId('63890eca91e0366640f4fe6d'), 'nome': ' cliente-18', 'idade': 48, 'emancipado': 'SIM'}
{'_id': ObjectId('63890eca91e0366640f4fe6e'), 'nome': ' cliente-19', 'idade': 49, 'emancipado': 'SIM'}
{'_id': ObjectId('638a0b0dc2e873f37dd3a851'), 'nome': 'Igor Godin', 'idade': 33, 'salario': 1200}
{'_id': ObjectId('638a0b0fc2e873f37dd3a852'), 'nome': 'Franscico Conto', 'idade': 36, 'salario': 3500}
{'_id': ObjectId('638a0b0fc2e873f37dd3a853'), 'nome': 'Alerrandro', 'idade': 44, 'salario': 1500}
{'_id': ObjectId('638a0b0fc2e873f37dd3a854'), 'nome': 'Marcia Gomes', 'idade': 33, 'Salario': 1880}
{'_id': ObjectId('638a0b0fc2e873f37dd3a855'), 'nome': 'Marcia Aurelio', 'idade': 25}
{'_id': ObjectId('638a0b10c2e873f37dd3a856'), 'nome': 'Paulo Alura', 'idade': 45}
{'_id': ObjectId('638a0b12c2e873f37dd3a857'), 'nome': ' cliente20', 'idade': 10}
{'_id': ObjectId('638a0b12c2e873f37dd3a858'), 'nome': ' cliente19', 'idade': 11}
{'_id': ObjectId('638a0b12c2e873f37dd3a859'), 'nome': ' cliente18', 'idade': 12}
{'_id': ObjectId('638a0b12c2e873f37dd3a85a'), 'nome': ' cliente17', 'idade': 13}
{'_id': ObjectId('638a0b12c2e873f37dd3a85b'), 'nome': ' cliente16', 'idade': 14}
{'_id': ObjectId('638a0b12c2e873f37dd3a85c'), 'nome': ' cliente15', 'idade': 15}
{'_id': ObjectId('638a0b12c2e873f37dd3a85d'), 'nome': ' cliente14', 'idade': 16}
{'_id': ObjectId('638a0b13c2e873f37dd3a85e'), 'nome': ' cliente13', 'idade': 17}
{'_id': ObjectId('638a0b13c2e873f37dd3a85f'), 'nome': ' cliente12', 'idade': 18}
{'_id': ObjectId('638a0b13c2e873f37dd3a860'), 'nome': ' cliente11', 'idade': 19}
{'_id': ObjectId('638a0b13c2e873f37dd3a861'), 'nome': ' cliente10', 'idade': 20}
{'_id': ObjectId('638a0b13c2e873f37dd3a862'), 'nome': ' cliente9', 'idade': 21}
{'_id': ObjectId('638a0b13c2e873f37dd3a863'), 'nome': ' cliente8', 'idade': 22}
{'_id': ObjectId('638a0b13c2e873f37dd3a864'), 'nome': ' cliente7', 'idade': 23}
{'_id': ObjectId('638a0b13c2e873f37dd3a865'), 'nome': ' cliente6', 'idade': 24}
{'_id': ObjectId('638a0b14c2e873f37dd3a866'), 'nome': ' cliente5', 'idade': 25}
{'_id': ObjectId('638a0b14c2e873f37dd3a867'), 'nome': ' cliente4', 'idade': 26}
{'_id': ObjectId('638a0b14c2e873f37dd3a868'), 'nome': ' cliente3', 'idade': 27}
{'_id': ObjectId('638a0b14c2e873f37dd3a869'), 'nome': ' cliente2', 'idade': 28}
{'_id': ObjectId('638a0b14c2e873f37dd3a86a'), 'nome': ' cliente1', 'idade': 29}
{'_id': ObjectId('638a0b14c2e873f37dd3a86b'), 'nome': ' cliente0', 'idade': 30}
{'_id': ObjectId('638a0b14c2e873f37dd3a86c'), 'nome': ' cliente-1', 'idade': 31}
{'_id': ObjectId('638a0b14c2e873f37dd3a86d'), 'nome': ' cliente-2', 'idade': 32}
{'_id': ObjectId('638a0b15c2e873f37dd3a86e'), 'nome': ' cliente-3', 'idade': 33}
{'_id': ObjectId('638a0b15c2e873f37dd3a86f'), 'nome': ' cliente-4', 'idade': 34}
{'_id': ObjectId('638a0b15c2e873f37dd3a870'), 'nome': ' cliente-5', 'idade': 35}
{'_id': ObjectId('638a0b15c2e873f37dd3a871'), 'nome': ' cliente-6', 'idade': 36}
{'_id': ObjectId('638a0b15c2e873f37dd3a872'), 'nome': ' cliente-7', 'idade': 37}
{'_id': ObjectId('638a0b15c2e873f37dd3a873'), 'nome': ' cliente-8', 'idade': 38}
{'_id': ObjectId('638a0b15c2e873f37dd3a874'), 'nome': ' cliente-9', 'idade': 39}
{'_id': ObjectId('638a0b15c2e873f37dd3a875'), 'nome': ' cliente-10', 'idade': 40}
{'_id': ObjectId('638a0b16c2e873f37dd3a876'), 'nome': ' cliente-11', 'idade': 41}
{'_id': ObjectId('638a0b16c2e873f37dd3a877'), 'nome': ' cliente-12', 'idade': 42}
{'_id': ObjectId('638a0b16c2e873f37dd3a878'), 'nome': ' cliente-13', 'idade': 43}
{'_id': ObjectId('638a0b16c2e873f37dd3a879'), 'nome': ' cliente-14', 'idade': 44}
{'_id': ObjectId('638a0b16c2e873f37dd3a87a'), 'nome': ' cliente-15', 'idade': 45}
{'_id': ObjectId('638a0b16c2e873f37dd3a87b'), 'nome': ' cliente-16', 'idade': 46}
{'_id': ObjectId('638a0b16c2e873f37dd3a87c'), 'nome': ' cliente-17', 'idade': 47}
{'_id': ObjectId('638a0b16c2e873f37dd3a87d'), 'nome': ' cliente-18', 'idade': 48}
{'_id': ObjectId('638a0b16c2e873f37dd3a87e'), 'nome': ' cliente-19', 'idade': 49}

lt=Menorque| gt = maior que |  lte=Menorigual| gte = Maior e igual | $ne = Diferente

In [ ]:
#Localizar por parametro
busca = {'idade':{'$gte':30}}

doc = colecao.find(busca)

for x in doc:
  print(x)

{'_id': ObjectId('6389029b91e0366640f4fe31'), 'nome': 'Gu Meni', 'idade': 33, 'salario': 5500, 'emancipado': 'SIM'}
{'_id': ObjectId('6389052991e0366640f4fe35'), 'nome': 'Suzana', 'idade': 31, 'emancipado': 'SIM'}
{'_id': ObjectId('638907f491e0366640f4fe38'), 'nome': 'Maria José', 'idade': 36, 'salario': 1000, 'emancipado': 'SIM'}
{'_id': ObjectId('638907f491e0366640f4fe39'), 'nome': 'Joana Freire', 'idade': 45, 'Salario': 880, 'emancipado': 'SIM'}
{'_id': ObjectId('63890a9c91e0366640f4fe3a'), 'nome': 'Thiago Martins', 'idade': 38, 'salario': 1500, 'Nacionalidade': 'Uruguai', 'emancipado': 'SIM'}
{'_id': ObjectId('63890a9c91e0366640f4fe3c'), 'nome': 'Mauricio Freire', 'idade': 35, 'Salario': 8280, 'emancipado': 'SIM'}
{'_id': ObjectId('63890a9c91e0366640f4fe3d'), 'nome': 'Mauricio Freire', 'idade': 35, 'emancipado': 'SIM'}
{'_id': ObjectId('63890b7a91e0366640f4fe40'), 'nome': 'Murilo Gomes', 'idade': 33, 'Salario': 1880, 'emancipado': 'SIM'}
{'_id': ObjectId('63890bd591e0366640f4fe42'), 'nome': 'Franscico Conto', 'idade': 36, 'salario': 3500, 'emancipado': 'SIM'}
{'_id': ObjectId('63890bd591e0366640f4fe43'), 'nome': 'Alerrandro', 'idade': 44, 'salario': 1500, 'emancipado': 'SIM'}
{'_id': ObjectId('63890bd591e0366640f4fe44'), 'nome': 'Marcia Gomes', 'idade': 33, 'Salario': 1880, 'emancipado': 'SIM'}
{'_id': ObjectId('63890cc691e0366640f4fe46'), 'nome': 'Paulo Alura', 'idade': 45, 'emancipado': 'SIM'}
{'_id': ObjectId('63890ec791e0366640f4fe5b'), 'nome': ' cliente0', 'idade': 30, 'emancipado': 'SIM'}
{'_id': ObjectId('63890ec791e0366640f4fe5c'), 'nome': ' cliente-1', 'idade': 31, 'emancipado': 'SIM'}
{'_id': ObjectId('63890ec791e0366640f4fe5d'), 'nome': ' cliente-2', 'idade': 32, 'emancipado': 'SIM'}
{'_id': ObjectId('63890ec791e0366640f4fe5e'), 'nome': ' cliente-3', 'idade': 33, 'emancipado': 'SIM'}
{'_id': ObjectId('63890ec791e0366640f4fe5f'), 'nome': ' cliente-4', 'idade': 34, 'emancipado': 'SIM'}
{'_id': ObjectId('63890ec891e0366640f4fe60'), 'nome': ' cliente-5', 'idade': 35, 'emancipado': 'SIM'}
{'_id': ObjectId('63890ec891e0366640f4fe61'), 'nome': ' cliente-6', 'idade': 36, 'emancipado': 'SIM'}
{'_id': ObjectId('63890ec891e0366640f4fe62'), 'nome': ' cliente-7', 'idade': 37, 'emancipado': 'SIM'}
{'_id': ObjectId('63890ec891e0366640f4fe63'), 'nome': ' cliente-8', 'idade': 38, 'emancipado': 'SIM'}
{'_id': ObjectId('63890ec891e0366640f4fe64'), 'nome': ' cliente-9', 'idade': 39, 'emancipado': 'SIM'}
{'_id': ObjectId('63890ec891e0366640f4fe65'), 'nome': ' cliente-10', 'idade': 40, 'emancipado': 'SIM'}
{'_id': ObjectId('63890ec991e0366640f4fe66'), 'nome': ' cliente-11', 'idade': 41, 'emancipado': 'SIM'}
{'_id': ObjectId('63890ec991e0366640f4fe67'), 'nome': ' cliente-12', 'idade': 42, 'emancipado': 'SIM'}
{'_id': ObjectId('63890ec991e0366640f4fe68'), 'nome': ' cliente-13', 'idade': 43, 'emancipado': 'SIM'}
{'_id': ObjectId('63890ec991e0366640f4fe69'), 'nome': ' cliente-14', 'idade': 44, 'emancipado': 'SIM'}
{'_id': ObjectId('63890ec991e0366640f4fe6a'), 'nome': ' cliente-15', 'idade': 45, 'emancipado': 'SIM'}
{'_id': ObjectId('63890eca91e0366640f4fe6b'), 'nome': ' cliente-16', 'idade': 46, 'emancipado': 'SIM'}
{'_id': ObjectId('63890eca91e0366640f4fe6c'), 'nome': ' cliente-17', 'idade': 47, 'emancipado': 'SIM'}
{'_id': ObjectId('63890eca91e0366640f4fe6d'), 'nome': ' cliente-18', 'idade': 48, 'emancipado': 'SIM'}
{'_id': ObjectId('63890eca91e0366640f4fe6e'), 'nome': ' cliente-19', 'idade': 49, 'emancipado': 'SIM'}
{'_id': ObjectId('638a0b0dc2e873f37dd3a851'), 'nome': 'Igor Godin', 'idade': 33, 'salario': 1200}
{'_id': ObjectId('638a0b0fc2e873f37dd3a852'), 'nome': 'Franscico Conto', 'idade': 36, 'salario': 3500}
{'_id': ObjectId('638a0b0fc2e873f37dd3a853'), 'nome': 'Alerrandro', 'idade': 44, 'salario': 1500}
{'_id': ObjectId('638a0b0fc2e873f37dd3a854'), 'nome': 'Marcia Gomes', 'idade': 33, 'Salario': 1880}
{'_id': ObjectId('638a0b10c2e873f37dd3a856'), 'nome': 'Paulo Alura', 'idade': 45}
{'_id': ObjectId('638a0b14c2e873f37dd3a86b'), 'nome': ' cliente0', 'idade': 30}
{'_id': ObjectId('638a0b14c2e873f37dd3a86c'), 'nome': ' cliente-1', 'idade': 31}
{'_id': ObjectId('638a0b14c2e873f37dd3a86d'), 'nome': ' cliente-2', 'idade': 32}
{'_id': ObjectId('638a0b15c2e873f37dd3a86e'), 'nome': ' cliente-3', 'idade': 33}
{'_id': ObjectId('638a0b15c2e873f37dd3a86f'), 'nome': ' cliente-4', 'idade': 34}
{'_id': ObjectId('638a0b15c2e873f37dd3a870'), 'nome': ' cliente-5', 'idade': 35}
{'_id': ObjectId('638a0b15c2e873f37dd3a871'), 'nome': ' cliente-6', 'idade': 36}
{'_id': ObjectId('638a0b15c2e873f37dd3a872'), 'nome': ' cliente-7', 'idade': 37}
{'_id': ObjectId('638a0b15c2e873f37dd3a873'), 'nome': ' cliente-8', 'idade': 38}
{'_id': ObjectId('638a0b15c2e873f37dd3a874'), 'nome': ' cliente-9', 'idade': 39}
{'_id': ObjectId('638a0b15c2e873f37dd3a875'), 'nome': ' cliente-10', 'idade': 40}
{'_id': ObjectId('638a0b16c2e873f37dd3a876'), 'nome': ' cliente-11', 'idade': 41}
{'_id': ObjectId('638a0b16c2e873f37dd3a877'), 'nome': ' cliente-12', 'idade': 42}
{'_id': ObjectId('638a0b16c2e873f37dd3a878'), 'nome': ' cliente-13', 'idade': 43}
{'_id': ObjectId('638a0b16c2e873f37dd3a879'), 'nome': ' cliente-14', 'idade': 44}
{'_id': ObjectId('638a0b16c2e873f37dd3a87a'), 'nome': ' cliente-15', 'idade': 45}
{'_id': ObjectId('638a0b16c2e873f37dd3a87b'), 'nome': ' cliente-16', 'idade': 46}
{'_id': ObjectId('638a0b16c2e873f37dd3a87c'), 'nome': ' cliente-17', 'idade': 47}
{'_id': ObjectId('638a0b16c2e873f37dd3a87d'), 'nome': ' cliente-18', 'idade': 48}
{'_id': ObjectId('638a0b16c2e873f37dd3a87e'), 'nome': ' cliente-19', 'idade': 49}

In [ ]:
#para fazer uma busca especifica de varios 

busca = {'idade':{'$in' : [18, 22]}}

doc = colecao.find(busca)

for x in doc:
  print(x)

{'_id': ObjectId('638902d691e0366640f4fe32'), 'nome': 'Noah Kg', 'idade': 22, 'salario': 1500, 'emancipado': 'SIM'}
{'_id': ObjectId('63890ec491e0366640f4fe4f'), 'nome': ' cliente12', 'idade': 18, 'emancipado': 'SIM'}
{'_id': ObjectId('63890ec591e0366640f4fe53'), 'nome': ' cliente8', 'idade': 22, 'emancipado': 'SIM'}
{'_id': ObjectId('638a0b13c2e873f37dd3a85f'), 'nome': ' cliente12', 'idade': 18}
{'_id': ObjectId('638a0b13c2e873f37dd3a863'), 'nome': ' cliente8', 'idade': 22}

In [ ]:
#para usar com intervalo 
#busca = {'$nor':[{'idade':{'$lte':20}},{'idade':{'$gte':25}}]}
busca = {'idade':{'$gt':20,'$lt':25}}

doc = colecao.find(busca)

for x in doc:
  print(x)

{'_id': ObjectId('638902d691e0366640f4fe32'), 'nome': 'Noah Kg', 'idade': 22, 'salario': 1500, 'emancipado': 'SIM'}
{'_id': ObjectId('63890b7a91e0366640f4fe3f'), 'nome': 'Josef', 'idade': 24, 'salario': 9000, 'nacionalidade': 'Francesa', 'emancipado': 'SIM'}
{'_id': ObjectId('63890ec591e0366640f4fe52'), 'nome': ' cliente9', 'idade': 21, 'emancipado': 'SIM'}
{'_id': ObjectId('63890ec591e0366640f4fe53'), 'nome': ' cliente8', 'idade': 22, 'emancipado': 'SIM'}
{'_id': ObjectId('63890ec591e0366640f4fe54'), 'nome': ' cliente7', 'idade': 23, 'emancipado': 'SIM'}
{'_id': ObjectId('63890ec691e0366640f4fe55'), 'nome': ' cliente6', 'idade': 24, 'emancipado': 'SIM'}
{'_id': ObjectId('638a0b13c2e873f37dd3a862'), 'nome': ' cliente9', 'idade': 21}
{'_id': ObjectId('638a0b13c2e873f37dd3a863'), 'nome': ' cliente8', 'idade': 22}
{'_id': ObjectId('638a0b13c2e873f37dd3a864'), 'nome': ' cliente7', 'idade': 23}
{'_id': ObjectId('638a0b13c2e873f37dd3a865'), 'nome': ' cliente6', 'idade': 24}

In [ ]:
busca = {'$or':[{'idade':{'$gt':20}},{'idade':{'$lt':25}}]}

#Update | Atualização

In [ ]:
#ele acrescentou o que são emacipados maiores que 18
busca = {'idade':{'$gte':18}}

modifica = {'$set':{'emancipado':'SIM'}}

colecao.update_many(busca , modifica)

In [ ]:
busca = {'idade':{'$lt':18}}

modifica = {'$set':{'emancipado':'NAO'}}

colecao.update_many(busca , modifica)

In [ ]:
busca = {'idade':{'$lte':18}}

doc = colecao.find(busca)

for x in doc:
  print(x)

{'_id': ObjectId('63890ec391e0366640f4fe47'), 'nome': ' cliente20', 'idade': 10, 'emancipado': 'NAO'}
{'_id': ObjectId('63890ec391e0366640f4fe48'), 'nome': ' cliente19', 'idade': 11, 'emancipado': 'NAO'}
{'_id': ObjectId('63890ec391e0366640f4fe49'), 'nome': ' cliente18', 'idade': 12, 'emancipado': 'NAO'}
{'_id': ObjectId('63890ec491e0366640f4fe4a'), 'nome': ' cliente17', 'idade': 13, 'emancipado': 'NAO'}
{'_id': ObjectId('63890ec491e0366640f4fe4b'), 'nome': ' cliente16', 'idade': 14, 'emancipado': 'NAO'}
{'_id': ObjectId('63890ec491e0366640f4fe4c'), 'nome': ' cliente15', 'idade': 15, 'emancipado': 'NAO'}
{'_id': ObjectId('63890ec491e0366640f4fe4d'), 'nome': ' cliente14', 'idade': 16, 'emancipado': 'NAO'}
{'_id': ObjectId('63890ec491e0366640f4fe4e'), 'nome': ' cliente13', 'idade': 17, 'emancipado': 'NAO'}
{'_id': ObjectId('63890ec491e0366640f4fe4f'), 'nome': ' cliente12', 'idade': 18, 'emancipado': 'SIM'}
{'_id': ObjectId('638a0b12c2e873f37dd3a857'), 'nome': ' cliente20', 'idade': 10, 'emancipado': 'NAO'}
{'_id': ObjectId('638a0b12c2e873f37dd3a858'), 'nome': ' cliente19', 'idade': 11, 'emancipado': 'NAO'}
{'_id': ObjectId('638a0b12c2e873f37dd3a859'), 'nome': ' cliente18', 'idade': 12, 'emancipado': 'NAO'}
{'_id': ObjectId('638a0b12c2e873f37dd3a85a'), 'nome': ' cliente17', 'idade': 13, 'emancipado': 'NAO'}
{'_id': ObjectId('638a0b12c2e873f37dd3a85b'), 'nome': ' cliente16', 'idade': 14, 'emancipado': 'NAO'}
{'_id': ObjectId('638a0b12c2e873f37dd3a85c'), 'nome': ' cliente15', 'idade': 15, 'emancipado': 'NAO'}
{'_id': ObjectId('638a0b12c2e873f37dd3a85d'), 'nome': ' cliente14', 'idade': 16, 'emancipado': 'NAO'}
{'_id': ObjectId('638a0b13c2e873f37dd3a85e'), 'nome': ' cliente13', 'idade': 17, 'emancipado': 'NAO'}
{'_id': ObjectId('638a0b13c2e873f37dd3a85f'), 'nome': ' cliente12', 'idade': 18, 'emancipado': 'SIM'}

#Delete | Apagar ou deletar

In [ ]:
#o mongo não tem back-up ele, então apagamos um por por um e usamos one. 
colecao.delete_one({'nome':'IGOR GONDIM'})

In [ ]:
busca = {'idade':{'$gte':18}}

doc = colecao.find(busca)

for x in doc:
  print(x)

{'_id': ObjectId('6389028b91e0366640f4fe30'), 'nome': 'Ste Gracy', 'idade': 28, 'salario': 3500, 'emancipado': 'SIM'}
{'_id': ObjectId('6389029b91e0366640f4fe31'), 'nome': 'Gu Meni', 'idade': 33, 'salario': 5500, 'emancipado': 'SIM'}
{'_id': ObjectId('638902d691e0366640f4fe32'), 'nome': 'Noah Kg', 'idade': 22, 'salario': 1500, 'emancipado': 'SIM'}
{'_id': ObjectId('6389035591e0366640f4fe33'), 'nome': 'Leo Santana', 'idade': 28, 'salario': 1250, 'emancipado': 'SIM'}
{'_id': ObjectId('6389036a91e0366640f4fe34'), 'nome': 'lisa', 'idade': 25, 'salario': 1200, 'emancipado': 'SIM'}
{'_id': ObjectId('6389052991e0366640f4fe35'), 'nome': 'Suzana', 'idade': 31, 'emancipado': 'SIM'}
{'_id': ObjectId('6389052991e0366640f4fe36'), 'nome': 'Ana Paula', 'idade': 26, 'emancipado': 'SIM'}
{'_id': ObjectId('638907f491e0366640f4fe37'), 'nome': 'Fe Martins', 'idade': 28, 'salario': 3500, 'Nacionalidade': 'brasileira', 'emancipado': 'SIM'}
{'_id': ObjectId('638907f491e0366640f4fe38'), 'nome': 'Maria José', 'idade': 36, 'salario': 1000, 'emancipado': 'SIM'}
{'_id': ObjectId('638907f491e0366640f4fe39'), 'nome': 'Joana Freire', 'idade': 45, 'Salario': 880, 'emancipado': 'SIM'}
{'_id': ObjectId('63890a9c91e0366640f4fe3a'), 'nome': 'Thiago Martins', 'idade': 38, 'salario': 1500, 'Nacionalidade': 'Uruguai', 'emancipado': 'SIM'}
{'_id': ObjectId('63890a9c91e0366640f4fe3b'), 'nome': 'João Marcos', 'idade': 27, 'salario': 4000, 'emancipado': 'SIM'}
{'_id': ObjectId('63890a9c91e0366640f4fe3c'), 'nome': 'Mauricio Freire', 'idade': 35, 'Salario': 8280, 'emancipado': 'SIM'}
{'_id': ObjectId('63890a9c91e0366640f4fe3d'), 'nome': 'Mauricio Freire', 'idade': 35, 'emancipado': 'SIM'}
{'_id': ObjectId('63890b7a91e0366640f4fe3e'), 'nome': 'Richarlison Dutra', 'idade': 26, 'salario': 4500, 'emancipado': 'SIM'}
{'_id': ObjectId('63890b7a91e0366640f4fe3f'), 'nome': 'Josef', 'idade': 24, 'salario': 9000, 'nacionalidade': 'Francesa', 'emancipado': 'SIM'}
{'_id': ObjectId('63890b7a91e0366640f4fe40'), 'nome': 'Murilo Gomes', 'idade': 33, 'Salario': 1880, 'emancipado': 'SIM'}
{'_id': ObjectId('63890b7a91e0366640f4fe41'), 'nome': 'Marcos Aurelio', 'idade': 25, 'emancipado': 'SIM'}
{'_id': ObjectId('63890bd591e0366640f4fe42'), 'nome': 'Franscico Conto', 'idade': 36, 'salario': 3500, 'emancipado': 'SIM'}
{'_id': ObjectId('63890bd591e0366640f4fe43'), 'nome': 'Alerrandro', 'idade': 44, 'salario': 1500, 'emancipado': 'SIM'}
{'_id': ObjectId('63890bd591e0366640f4fe44'), 'nome': 'Marcia Gomes', 'idade': 33, 'Salario': 1880, 'emancipado': 'SIM'}
{'_id': ObjectId('63890bd591e0366640f4fe45'), 'nome': 'Marcia Aurelio', 'idade': 25, 'emancipado': 'SIM'}
{'_id': ObjectId('63890cc691e0366640f4fe46'), 'nome': 'Paulo Alura', 'idade': 45, 'emancipado': 'SIM'}
{'_id': ObjectId('63890ec491e0366640f4fe4f'), 'nome': ' cliente12', 'idade': 18, 'emancipado': 'SIM'}
{'_id': ObjectId('63890ec591e0366640f4fe50'), 'nome': ' cliente11', 'idade': 19, 'emancipado': 'SIM'}
{'_id': ObjectId('63890ec591e0366640f4fe51'), 'nome': ' cliente10', 'idade': 20, 'emancipado': 'SIM'}
{'_id': ObjectId('63890ec591e0366640f4fe52'), 'nome': ' cliente9', 'idade': 21, 'emancipado': 'SIM'}
{'_id': ObjectId('63890ec591e0366640f4fe53'), 'nome': ' cliente8', 'idade': 22, 'emancipado': 'SIM'}
{'_id': ObjectId('63890ec591e0366640f4fe54'), 'nome': ' cliente7', 'idade': 23, 'emancipado': 'SIM'}
{'_id': ObjectId('63890ec691e0366640f4fe55'), 'nome': ' cliente6', 'idade': 24, 'emancipado': 'SIM'}
{'_id': ObjectId('63890ec691e0366640f4fe56'), 'nome': ' cliente5', 'idade': 25, 'emancipado': 'SIM'}
{'_id': ObjectId('63890ec691e0366640f4fe57'), 'nome': ' cliente4', 'idade': 26, 'emancipado': 'SIM'}
{'_id': ObjectId('63890ec691e0366640f4fe58'), 'nome': ' cliente3', 'idade': 27, 'emancipado': 'SIM'}
{'_id': ObjectId('63890ec691e0366640f4fe59'), 'nome': ' cliente2', 'idade': 28, 'emancipado': 'SIM'}
{'_id': ObjectId('63890ec691e0366640f4fe5a'), 'nome': ' cliente1', 'idade': 29, 'emancipado': 'SIM'}
{'_id': ObjectId('63890ec791e0366640f4fe5b'), 'nome': ' cliente0', 'idade': 30, 'emancipado': 'SIM'}
{'_id': ObjectId('63890ec791e0366640f4fe5c'), 'nome': ' cliente-1', 'idade': 31, 'emancipado': 'SIM'}
{'_id': ObjectId('63890ec791e0366640f4fe5d'), 'nome': ' cliente-2', 'idade': 32, 'emancipado': 'SIM'}
{'_id': ObjectId('63890ec791e0366640f4fe5e'), 'nome': ' cliente-3', 'idade': 33, 'emancipado': 'SIM'}
{'_id': ObjectId('63890ec791e0366640f4fe5f'), 'nome': ' cliente-4', 'idade': 34, 'emancipado': 'SIM'}
{'_id': ObjectId('63890ec891e0366640f4fe60'), 'nome': ' cliente-5', 'idade': 35, 'emancipado': 'SIM'}
{'_id': ObjectId('63890ec891e0366640f4fe61'), 'nome': ' cliente-6', 'idade': 36, 'emancipado': 'SIM'}
{'_id': ObjectId('63890ec891e0366640f4fe62'), 'nome': ' cliente-7', 'idade': 37, 'emancipado': 'SIM'}
{'_id': ObjectId('63890ec891e0366640f4fe63'), 'nome': ' cliente-8', 'idade': 38, 'emancipado': 'SIM'}
{'_id': ObjectId('63890ec891e0366640f4fe64'), 'nome': ' cliente-9', 'idade': 39, 'emancipado': 'SIM'}
{'_id': ObjectId('63890ec891e0366640f4fe65'), 'nome': ' cliente-10', 'idade': 40, 'emancipado': 'SIM'}
{'_id': ObjectId('63890ec991e0366640f4fe66'), 'nome': ' cliente-11', 'idade': 41, 'emancipado': 'SIM'}
{'_id': ObjectId('63890ec991e0366640f4fe67'), 'nome': ' cliente-12', 'idade': 42, 'emancipado': 'SIM'}
{'_id': ObjectId('63890ec991e0366640f4fe68'), 'nome': ' cliente-13', 'idade': 43, 'emancipado': 'SIM'}
{'_id': ObjectId('63890ec991e0366640f4fe69'), 'nome': ' cliente-14', 'idade': 44, 'emancipado': 'SIM'}
{'_id': ObjectId('63890ec991e0366640f4fe6a'), 'nome': ' cliente-15', 'idade': 45, 'emancipado': 'SIM'}
{'_id': ObjectId('63890eca91e0366640f4fe6b'), 'nome': ' cliente-16', 'idade': 46, 'emancipado': 'SIM'}
{'_id': ObjectId('63890eca91e0366640f4fe6c'), 'nome': ' cliente-17', 'idade': 47, 'emancipado': 'SIM'}
{'_id': ObjectId('63890eca91e0366640f4fe6d'), 'nome': ' cliente-18', 'idade': 48, 'emancipado': 'SIM'}
{'_id': ObjectId('63890eca91e0366640f4fe6e'), 'nome': ' cliente-19', 'idade': 49, 'emancipado': 'SIM'}
{'_id': ObjectId('638a0b0dc2e873f37dd3a851'), 'nome': 'Igor Godin', 'idade': 33, 'salario': 1200, 'emancipado': 'SIM'}
{'_id': ObjectId('638a0b0fc2e873f37dd3a852'), 'nome': 'Franscico Conto', 'idade': 36, 'salario': 3500, 'emancipado': 'SIM'}
{'_id': ObjectId('638a0b0fc2e873f37dd3a853'), 'nome': 'Alerrandro', 'idade': 44, 'salario': 1500, 'emancipado': 'SIM'}
{'_id': ObjectId('638a0b0fc2e873f37dd3a854'), 'nome': 'Marcia Gomes', 'idade': 33, 'Salario': 1880, 'emancipado': 'SIM'}
{'_id': ObjectId('638a0b0fc2e873f37dd3a855'), 'nome': 'Marcia Aurelio', 'idade': 25, 'emancipado': 'SIM'}
{'_id': ObjectId('638a0b10c2e873f37dd3a856'), 'nome': 'Paulo Alura', 'idade': 45, 'emancipado': 'SIM'}
{'_id': ObjectId('638a0b13c2e873f37dd3a85f'), 'nome': ' cliente12', 'idade': 18, 'emancipado': 'SIM'}
{'_id': ObjectId('638a0b13c2e873f37dd3a860'), 'nome': ' cliente11', 'idade': 19, 'emancipado': 'SIM'}
{'_id': ObjectId('638a0b13c2e873f37dd3a861'), 'nome': ' cliente10', 'idade': 20, 'emancipado': 'SIM'}
{'_id': ObjectId('638a0b13c2e873f37dd3a862'), 'nome': ' cliente9', 'idade': 21, 'emancipado': 'SIM'}
{'_id': ObjectId('638a0b13c2e873f37dd3a863'), 'nome': ' cliente8', 'idade': 22, 'emancipado': 'SIM'}
{'_id': ObjectId('638a0b13c2e873f37dd3a864'), 'nome': ' cliente7', 'idade': 23, 'emancipado': 'SIM'}
{'_id': ObjectId('638a0b13c2e873f37dd3a865'), 'nome': ' cliente6', 'idade': 24, 'emancipado': 'SIM'}
{'_id': ObjectId('638a0b14c2e873f37dd3a866'), 'nome': ' cliente5', 'idade': 25, 'emancipado': 'SIM'}
{'_id': ObjectId('638a0b14c2e873f37dd3a867'), 'nome': ' cliente4', 'idade': 26, 'emancipado': 'SIM'}
{'_id': ObjectId('638a0b14c2e873f37dd3a868'), 'nome': ' cliente3', 'idade': 27, 'emancipado': 'SIM'}
{'_id': ObjectId('638a0b14c2e873f37dd3a869'), 'nome': ' cliente2', 'idade': 28, 'emancipado': 'SIM'}
{'_id': ObjectId('638a0b14c2e873f37dd3a86a'), 'nome': ' cliente1', 'idade': 29, 'emancipado': 'SIM'}
{'_id': ObjectId('638a0b14c2e873f37dd3a86b'), 'nome': ' cliente0', 'idade': 30, 'emancipado': 'SIM'}
{'_id': ObjectId('638a0b14c2e873f37dd3a86c'), 'nome': ' cliente-1', 'idade': 31, 'emancipado': 'SIM'}
{'_id': ObjectId('638a0b14c2e873f37dd3a86d'), 'nome': ' cliente-2', 'idade': 32, 'emancipado': 'SIM'}
{'_id': ObjectId('638a0b15c2e873f37dd3a86e'), 'nome': ' cliente-3', 'idade': 33, 'emancipado': 'SIM'}
{'_id': ObjectId('638a0b15c2e873f37dd3a86f'), 'nome': ' cliente-4', 'idade': 34, 'emancipado': 'SIM'}
{'_id': ObjectId('638a0b15c2e873f37dd3a870'), 'nome': ' cliente-5', 'idade': 35, 'emancipado': 'SIM'}
{'_id': ObjectId('638a0b15c2e873f37dd3a871'), 'nome': ' cliente-6', 'idade': 36, 'emancipado': 'SIM'}
{'_id': ObjectId('638a0b15c2e873f37dd3a872'), 'nome': ' cliente-7', 'idade': 37, 'emancipado': 'SIM'}
{'_id': ObjectId('638a0b15c2e873f37dd3a873'), 'nome': ' cliente-8', 'idade': 38, 'emancipado': 'SIM'}
{'_id': ObjectId('638a0b15c2e873f37dd3a874'), 'nome': ' cliente-9', 'idade': 39, 'emancipado': 'SIM'}
{'_id': ObjectId('638a0b15c2e873f37dd3a875'), 'nome': ' cliente-10', 'idade': 40, 'emancipado': 'SIM'}
{'_id': ObjectId('638a0b16c2e873f37dd3a876'), 'nome': ' cliente-11', 'idade': 41, 'emancipado': 'SIM'}
{'_id': ObjectId('638a0b16c2e873f37dd3a877'), 'nome': ' cliente-12', 'idade': 42, 'emancipado': 'SIM'}
{'_id': ObjectId('638a0b16c2e873f37dd3a878'), 'nome': ' cliente-13', 'idade': 43, 'emancipado': 'SIM'}
{'_id': ObjectId('638a0b16c2e873f37dd3a879'), 'nome': ' cliente-14', 'idade': 44, 'emancipado': 'SIM'}
{'_id': ObjectId('638a0b16c2e873f37dd3a87a'), 'nome': ' cliente-15', 'idade': 45, 'emancipado': 'SIM'}
{'_id': ObjectId('638a0b16c2e873f37dd3a87b'), 'nome': ' cliente-16', 'idade': 46, 'emancipado': 'SIM'}
{'_id': ObjectId('638a0b16c2e873f37dd3a87c'), 'nome': ' cliente-17', 'idade': 47, 'emancipado': 'SIM'}
{'_id': ObjectId('638a0b16c2e873f37dd3a87d'), 'nome': ' cliente-18', 'idade': 48, 'emancipado': 'SIM'}
{'_id': ObjectId('638a0b16c2e873f37dd3a87e'), 'nome': ' cliente-19', 'idade': 49, 'emancipado': 'SIM'}

In [ ]:
colecao.delete_many({'emancipado':'Não'})

In [ ]:
busca = {'idade':{'$gte':18}}

doc = colecao.find(busca)

for x in doc:
  print(x)

{'_id': ObjectId('6389028b91e0366640f4fe30'), 'nome': 'Ste Gracy', 'idade': 28, 'salario': 3500, 'emancipado': 'SIM'}
{'_id': ObjectId('6389029b91e0366640f4fe31'), 'nome': 'Gu Meni', 'idade': 33, 'salario': 5500, 'emancipado': 'SIM'}
{'_id': ObjectId('638902d691e0366640f4fe32'), 'nome': 'Noah Kg', 'idade': 22, 'salario': 1500, 'emancipado': 'SIM'}
{'_id': ObjectId('6389035591e0366640f4fe33'), 'nome': 'Leo Santana', 'idade': 28, 'salario': 1250, 'emancipado': 'SIM'}
{'_id': ObjectId('6389036a91e0366640f4fe34'), 'nome': 'lisa', 'idade': 25, 'salario': 1200, 'emancipado': 'SIM'}
{'_id': ObjectId('6389052991e0366640f4fe35'), 'nome': 'Suzana', 'idade': 31, 'emancipado': 'SIM'}
{'_id': ObjectId('6389052991e0366640f4fe36'), 'nome': 'Ana Paula', 'idade': 26, 'emancipado': 'SIM'}
{'_id': ObjectId('638907f491e0366640f4fe37'), 'nome': 'Fe Martins', 'idade': 28, 'salario': 3500, 'Nacionalidade': 'brasileira', 'emancipado': 'SIM'}
{'_id': ObjectId('638907f491e0366640f4fe38'), 'nome': 'Maria José', 'idade': 36, 'salario': 1000, 'emancipado': 'SIM'}
{'_id': ObjectId('638907f491e0366640f4fe39'), 'nome': 'Joana Freire', 'idade': 45, 'Salario': 880, 'emancipado': 'SIM'}
{'_id': ObjectId('63890a9c91e0366640f4fe3a'), 'nome': 'Thiago Martins', 'idade': 38, 'salario': 1500, 'Nacionalidade': 'Uruguai', 'emancipado': 'SIM'}
{'_id': ObjectId('63890a9c91e0366640f4fe3b'), 'nome': 'João Marcos', 'idade': 27, 'salario': 4000, 'emancipado': 'SIM'}
{'_id': ObjectId('63890a9c91e0366640f4fe3c'), 'nome': 'Mauricio Freire', 'idade': 35, 'Salario': 8280, 'emancipado': 'SIM'}
{'_id': ObjectId('63890a9c91e0366640f4fe3d'), 'nome': 'Mauricio Freire', 'idade': 35, 'emancipado': 'SIM'}
{'_id': ObjectId('63890b7a91e0366640f4fe3e'), 'nome': 'Richarlison Dutra', 'idade': 26, 'salario': 4500, 'emancipado': 'SIM'}
{'_id': ObjectId('63890b7a91e0366640f4fe3f'), 'nome': 'Josef', 'idade': 24, 'salario': 9000, 'nacionalidade': 'Francesa', 'emancipado': 'SIM'}
{'_id': ObjectId('63890b7a91e0366640f4fe40'), 'nome': 'Murilo Gomes', 'idade': 33, 'Salario': 1880, 'emancipado': 'SIM'}
{'_id': ObjectId('63890b7a91e0366640f4fe41'), 'nome': 'Marcos Aurelio', 'idade': 25, 'emancipado': 'SIM'}
{'_id': ObjectId('63890bd591e0366640f4fe42'), 'nome': 'Franscico Conto', 'idade': 36, 'salario': 3500, 'emancipado': 'SIM'}
{'_id': ObjectId('63890bd591e0366640f4fe43'), 'nome': 'Alerrandro', 'idade': 44, 'salario': 1500, 'emancipado': 'SIM'}
{'_id': ObjectId('63890bd591e0366640f4fe44'), 'nome': 'Marcia Gomes', 'idade': 33, 'Salario': 1880, 'emancipado': 'SIM'}
{'_id': ObjectId('63890bd591e0366640f4fe45'), 'nome': 'Marcia Aurelio', 'idade': 25, 'emancipado': 'SIM'}
{'_id': ObjectId('63890cc691e0366640f4fe46'), 'nome': 'Paulo Alura', 'idade': 45, 'emancipado': 'SIM'}
{'_id': ObjectId('63890ec491e0366640f4fe4f'), 'nome': ' cliente12', 'idade': 18, 'emancipado': 'SIM'}
{'_id': ObjectId('63890ec591e0366640f4fe50'), 'nome': ' cliente11', 'idade': 19, 'emancipado': 'SIM'}
{'_id': ObjectId('63890ec591e0366640f4fe51'), 'nome': ' cliente10', 'idade': 20, 'emancipado': 'SIM'}
{'_id': ObjectId('63890ec591e0366640f4fe52'), 'nome': ' cliente9', 'idade': 21, 'emancipado': 'SIM'}
{'_id': ObjectId('63890ec591e0366640f4fe53'), 'nome': ' cliente8', 'idade': 22, 'emancipado': 'SIM'}
{'_id': ObjectId('63890ec591e0366640f4fe54'), 'nome': ' cliente7', 'idade': 23, 'emancipado': 'SIM'}
{'_id': ObjectId('63890ec691e0366640f4fe55'), 'nome': ' cliente6', 'idade': 24, 'emancipado': 'SIM'}
{'_id': ObjectId('63890ec691e0366640f4fe56'), 'nome': ' cliente5', 'idade': 25, 'emancipado': 'SIM'}
{'_id': ObjectId('63890ec691e0366640f4fe57'), 'nome': ' cliente4', 'idade': 26, 'emancipado': 'SIM'}
{'_id': ObjectId('63890ec691e0366640f4fe58'), 'nome': ' cliente3', 'idade': 27, 'emancipado': 'SIM'}
{'_id': ObjectId('63890ec691e0366640f4fe59'), 'nome': ' cliente2', 'idade': 28, 'emancipado': 'SIM'}
{'_id': ObjectId('63890ec691e0366640f4fe5a'), 'nome': ' cliente1', 'idade': 29, 'emancipado': 'SIM'}
{'_id': ObjectId('63890ec791e0366640f4fe5b'), 'nome': ' cliente0', 'idade': 30, 'emancipado': 'SIM'}
{'_id': ObjectId('63890ec791e0366640f4fe5c'), 'nome': ' cliente-1', 'idade': 31, 'emancipado': 'SIM'}
{'_id': ObjectId('63890ec791e0366640f4fe5d'), 'nome': ' cliente-2', 'idade': 32, 'emancipado': 'SIM'}
{'_id': ObjectId('63890ec791e0366640f4fe5e'), 'nome': ' cliente-3', 'idade': 33, 'emancipado': 'SIM'}
{'_id': ObjectId('63890ec791e0366640f4fe5f'), 'nome': ' cliente-4', 'idade': 34, 'emancipado': 'SIM'}
{'_id': ObjectId('63890ec891e0366640f4fe60'), 'nome': ' cliente-5', 'idade': 35, 'emancipado': 'SIM'}
{'_id': ObjectId('63890ec891e0366640f4fe61'), 'nome': ' cliente-6', 'idade': 36, 'emancipado': 'SIM'}
{'_id': ObjectId('63890ec891e0366640f4fe62'), 'nome': ' cliente-7', 'idade': 37, 'emancipado': 'SIM'}
{'_id': ObjectId('63890ec891e0366640f4fe63'), 'nome': ' cliente-8', 'idade': 38, 'emancipado': 'SIM'}
{'_id': ObjectId('63890ec891e0366640f4fe64'), 'nome': ' cliente-9', 'idade': 39, 'emancipado': 'SIM'}
{'_id': ObjectId('63890ec891e0366640f4fe65'), 'nome': ' cliente-10', 'idade': 40, 'emancipado': 'SIM'}
{'_id': ObjectId('63890ec991e0366640f4fe66'), 'nome': ' cliente-11', 'idade': 41, 'emancipado': 'SIM'}
{'_id': ObjectId('63890ec991e0366640f4fe67'), 'nome': ' cliente-12', 'idade': 42, 'emancipado': 'SIM'}
{'_id': ObjectId('63890ec991e0366640f4fe68'), 'nome': ' cliente-13', 'idade': 43, 'emancipado': 'SIM'}
{'_id': ObjectId('63890ec991e0366640f4fe69'), 'nome': ' cliente-14', 'idade': 44, 'emancipado': 'SIM'}
{'_id': ObjectId('63890ec991e0366640f4fe6a'), 'nome': ' cliente-15', 'idade': 45, 'emancipado': 'SIM'}
{'_id': ObjectId('63890eca91e0366640f4fe6b'), 'nome': ' cliente-16', 'idade': 46, 'emancipado': 'SIM'}
{'_id': ObjectId('63890eca91e0366640f4fe6c'), 'nome': ' cliente-17', 'idade': 47, 'emancipado': 'SIM'}
{'_id': ObjectId('63890eca91e0366640f4fe6d'), 'nome': ' cliente-18', 'idade': 48, 'emancipado': 'SIM'}
{'_id': ObjectId('63890eca91e0366640f4fe6e'), 'nome': ' cliente-19', 'idade': 49, 'emancipado': 'SIM'}
{'_id': ObjectId('638a0b0dc2e873f37dd3a851'), 'nome': 'Igor Godin', 'idade': 33, 'salario': 1200, 'emancipado': 'SIM'}
{'_id': ObjectId('638a0b0fc2e873f37dd3a852'), 'nome': 'Franscico Conto', 'idade': 36, 'salario': 3500, 'emancipado': 'SIM'}
{'_id': ObjectId('638a0b0fc2e873f37dd3a853'), 'nome': 'Alerrandro', 'idade': 44, 'salario': 1500, 'emancipado': 'SIM'}
{'_id': ObjectId('638a0b0fc2e873f37dd3a854'), 'nome': 'Marcia Gomes', 'idade': 33, 'Salario': 1880, 'emancipado': 'SIM'}
{'_id': ObjectId('638a0b0fc2e873f37dd3a855'), 'nome': 'Marcia Aurelio', 'idade': 25, 'emancipado': 'SIM'}
{'_id': ObjectId('638a0b10c2e873f37dd3a856'), 'nome': 'Paulo Alura', 'idade': 45, 'emancipado': 'SIM'}
{'_id': ObjectId('638a0b13c2e873f37dd3a85f'), 'nome': ' cliente12', 'idade': 18, 'emancipado': 'SIM'}
{'_id': ObjectId('638a0b13c2e873f37dd3a860'), 'nome': ' cliente11', 'idade': 19, 'emancipado': 'SIM'}
{'_id': ObjectId('638a0b13c2e873f37dd3a861'), 'nome': ' cliente10', 'idade': 20, 'emancipado': 'SIM'}
{'_id': ObjectId('638a0b13c2e873f37dd3a862'), 'nome': ' cliente9', 'idade': 21, 'emancipado': 'SIM'}
{'_id': ObjectId('638a0b13c2e873f37dd3a863'), 'nome': ' cliente8', 'idade': 22, 'emancipado': 'SIM'}
{'_id': ObjectId('638a0b13c2e873f37dd3a864'), 'nome': ' cliente7', 'idade': 23, 'emancipado': 'SIM'}
{'_id': ObjectId('638a0b13c2e873f37dd3a865'), 'nome': ' cliente6', 'idade': 24, 'emancipado': 'SIM'}
{'_id': ObjectId('638a0b14c2e873f37dd3a866'), 'nome': ' cliente5', 'idade': 25, 'emancipado': 'SIM'}
{'_id': ObjectId('638a0b14c2e873f37dd3a867'), 'nome': ' cliente4', 'idade': 26, 'emancipado': 'SIM'}
{'_id': ObjectId('638a0b14c2e873f37dd3a868'), 'nome': ' cliente3', 'idade': 27, 'emancipado': 'SIM'}
{'_id': ObjectId('638a0b14c2e873f37dd3a869'), 'nome': ' cliente2', 'idade': 28, 'emancipado': 'SIM'}
{'_id': ObjectId('638a0b14c2e873f37dd3a86a'), 'nome': ' cliente1', 'idade': 29, 'emancipado': 'SIM'}
{'_id': ObjectId('638a0b14c2e873f37dd3a86b'), 'nome': ' cliente0', 'idade': 30, 'emancipado': 'SIM'}
{'_id': ObjectId('638a0b14c2e873f37dd3a86c'), 'nome': ' cliente-1', 'idade': 31, 'emancipado': 'SIM'}
{'_id': ObjectId('638a0b14c2e873f37dd3a86d'), 'nome': ' cliente-2', 'idade': 32, 'emancipado': 'SIM'}
{'_id': ObjectId('638a0b15c2e873f37dd3a86e'), 'nome': ' cliente-3', 'idade': 33, 'emancipado': 'SIM'}
{'_id': ObjectId('638a0b15c2e873f37dd3a86f'), 'nome': ' cliente-4', 'idade': 34, 'emancipado': 'SIM'}
{'_id': ObjectId('638a0b15c2e873f37dd3a870'), 'nome': ' cliente-5', 'idade': 35, 'emancipado': 'SIM'}
{'_id': ObjectId('638a0b15c2e873f37dd3a871'), 'nome': ' cliente-6', 'idade': 36, 'emancipado': 'SIM'}
{'_id': ObjectId('638a0b15c2e873f37dd3a872'), 'nome': ' cliente-7', 'idade': 37, 'emancipado': 'SIM'}
{'_id': ObjectId('638a0b15c2e873f37dd3a873'), 'nome': ' cliente-8', 'idade': 38, 'emancipado': 'SIM'}
{'_id': ObjectId('638a0b15c2e873f37dd3a874'), 'nome': ' cliente-9', 'idade': 39, 'emancipado': 'SIM'}
{'_id': ObjectId('638a0b15c2e873f37dd3a875'), 'nome': ' cliente-10', 'idade': 40, 'emancipado': 'SIM'}
{'_id': ObjectId('638a0b16c2e873f37dd3a876'), 'nome': ' cliente-11', 'idade': 41, 'emancipado': 'SIM'}
{'_id': ObjectId('638a0b16c2e873f37dd3a877'), 'nome': ' cliente-12', 'idade': 42, 'emancipado': 'SIM'}
{'_id': ObjectId('638a0b16c2e873f37dd3a878'), 'nome': ' cliente-13', 'idade': 43, 'emancipado': 'SIM'}
{'_id': ObjectId('638a0b16c2e873f37dd3a879'), 'nome': ' cliente-14', 'idade': 44, 'emancipado': 'SIM'}
{'_id': ObjectId('638a0b16c2e873f37dd3a87a'), 'nome': ' cliente-15', 'idade': 45, 'emancipado': 'SIM'}
{'_id': ObjectId('638a0b16c2e873f37dd3a87b'), 'nome': ' cliente-16', 'idade': 46, 'emancipado': 'SIM'}
{'_id': ObjectId('638a0b16c2e873f37dd3a87c'), 'nome': ' cliente-17', 'idade': 47, 'emancipado': 'SIM'}
{'_id': ObjectId('638a0b16c2e873f37dd3a87d'), 'nome': ' cliente-18', 'idade': 48, 'emancipado': 'SIM'}
{'_id': ObjectId('638a0b16c2e873f37dd3a87e'), 'nome': ' cliente-19', 'idade': 49, 'emancipado': 'SIM'}

#Integração com Pandas

In [ ]:
import pandas as pd

##Extrair do mongo

In [ ]:
#Extrair de uma coleção
cursor = colecao.find({})
dfmongo = pd.DataFrame(list(cursor))

In [ ]:
dfmongo

,_id,nome,idade,salario,emancipado,Nacionalidade,Salario,nacionalidade
0,6389028b91e0366640f4fe30,Ste Gracy,28,3500.0,SIM,NaN,NaN,NaN
1,6389029b91e0366640f4fe31,Gu Meni,33,5500.0,SIM,NaN,NaN,NaN
2,638902d691e0366640f4fe32,Noah Kg,22,1500.0,SIM,NaN,NaN,NaN
3,6389035591e0366640f4fe33,Leo Santana,28,1250.0,SIM,NaN,NaN,NaN
4,6389036a91e0366640f4fe34,lisa,25,1200.0,SIM,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
104,638a0b16c2e873f37dd3a87a,cliente-15,45,NaN,SIM,NaN,NaN,NaN
105,638a0b16c2e873f37dd3a87b,cliente-16,46,NaN,SIM,NaN,NaN,NaN
106,638a0b16c2e873f37dd3a87c,cliente-17,47,NaN,SIM,NaN,NaN,NaN
107,638a0b16c2e873f37dd3a87d,cliente-18,48,NaN,SIM,NaN,NaN,NaN
108,638a0b16c2e873f37dd3a87e,cliente-19,49,NaN,SIM,NaN,NaN,NaN

In [ ]:
dfmongo.dtypes

_id               object
nome              object
idade              int64
salario          float64
emancipado        object
Nacionalidade     object
Salario          float64
nacionalidade     object
dtype: object

#Base cenipa

In [ ]:
df = pd.read_csv('https://storage.googleapis.com/bc26-bucket/ocorrencia.csv',sep=';',encoding = 'ISO-8859-1',parse_dates=['ocorrencia_dia'],dayfirst=True)

In [ ]:
#Dropagem das colunas que tinham dados repetidos
df.drop(['codigo_ocorrencia1','codigo_ocorrencia2','codigo_ocorrencia3','codigo_ocorrencia4'],axis=1,inplace=True)
#Drop de colunas que não serão utilizadas
df.drop(['ocorrencia_latitude','ocorrencia_longitude','investigacao_aeronave_liberada','investigacao_status','divulgacao_relatorio_numero','divulgacao_relatorio_publicado','divulgacao_dia_publicacao'],axis=1,inplace=True)

In [ ]:
#Renomear as colunas
df.rename(columns={'codigo_ocorrencia':'ocorrencia','ocorrencia_classificacao':'classificacao','ocorrencia_cidade':'cidade','ocorrencia_uf':'uf','ocorrencia_pais':'pais','ocorrencia_aerodromo':'aerodromo'},inplace=True)
df.rename(columns={'ocorrencia_dia':'dia','ocorrencia_hora':'horario','total_recomendacoes':'recomendacoes','total_aeronaves_envolvidas':'n_aeronaves','ocorrencia_saida_pista':'saida_pista'},inplace=True)

In [ ]:
df.replace(['***','**NI'],pd.NA,inplace=True)

In [ ]:
df.replace(pd.NA,np.NaN,inplace=True)

In [ ]:
#converter coluna dia
df['dia'] = df['dia'].astype(str)

In [ ]:
#criar a coluna de data
df['data'] = pd.to_datetime(df['dia']+' '+df['horario'])

In [ ]:
df.drop(['dia','horario'],axis=1,inplace=True)

In [ ]:
df2 = df[['ocorrencia','data','aerodromo','cidade','uf','classificacao','n_aeronaves','saida_pista','recomendacoes']]

In [ ]:
df2

,ocorrencia,data,aerodromo,cidade,uf,classificacao,n_aeronaves,saida_pista,recomendacoes
0,81027,2022-10-09 16:30:00,SBSP,SÃO PAULO,SP,INCIDENTE GRAVE,1,SIM,0
1,81030,2022-10-09 16:20:00,SBVT,VITÓRIA,ES,INCIDENTE,1,NÃO,0
2,81023,2022-10-06 15:30:00,SDAI,AMERICANA,SP,INCIDENTE GRAVE,1,SIM,0
3,81029,2022-10-06 00:44:00,SBBH,BELO HORIZONTE,MG,INCIDENTE,1,NÃO,0
4,81025,2022-10-05 20:56:00,SBEG,MANAUS,AM,INCIDENTE,1,NÃO,0
...,...,...,...,...,...,...,...,...,...
6764,40324,2010-01-05 19:25:00,SBPK,PELOTAS,RS,INCIDENTE,1,NÃO,0
6765,39527,2010-01-04 17:30:00,NaN,LUCAS DO RIO VERDE,MT,ACIDENTE,1,NÃO,0
6766,40211,2010-01-03 12:00:00,NaN,RIO DE JANEIRO,RJ,INCIDENTE,1,NÃO,0
6767,40349,2010-01-03 11:05:00,SBBE,BELÉM,PA,INCIDENTE,1,NÃO,0
6768,40351,2010-01-03 03:00:00,SBRJ,RIO DE JANEIRO,RJ,INCIDENTE,1,NÃO,0

#Enviar o DataFrame para o mongo

In [ ]:
db2 = cliente ['cenipa']
colecaocenipa = db2 ['tratado']
colecaocenipa.count_documents({})

NameError: ignored