<a href="https://colab.research.google.com/github/Stesilva16/Eng-de-dados--/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Importação das bibliotecas

In [ ]:
pip install pandera

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandera in /usr/local/lib/python3.7/dist-packages (0.13.4)
Requirement already satisfied: numpy>=1.19.0 in /usr/local/lib/python3.7/dist-packages (from pandera) (1.21.6)
Requirement already satisfied: pandas>=1.2.0 in /usr/local/lib/python3.7/dist-packages (from pandera) (1.3.5)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.7/dist-packages (from pandera) (21.3)
Requirement already satisfied: typing-inspect>=0.6.0 in /usr/local/lib/python3.7/dist-packages (from pandera) (0.8.0)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /usr/local/lib/python3.7/dist-packages (from pandera) (4.1.1)
Requirement already satisfied: wrapt in /usr/local/lib/python3.7/dist-packages (from pandera) (1.14.1)
Requirement already satisfied: pydantic in /usr/local/lib/python3.7/dist-packages (from pandera) (1.10.2)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=20.0->pandera) (3.0.9)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.2.0->pandera) (2022.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.2.0->pandera) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=1.2.0->pandera) (1.15.0)
Requirement already satisfied: mypy-extensions>=0.3.0 in /usr/local/lib/python3.7/dist-packages (from typing-inspect>=0.6.0->pandera) (0.4.3)

In [ ]:
import pandas as pd
import pandera as pa
import numpy as np

In [ ]:
pd.set_option('display.max_columns',100)
#pd.set_option('display.max_rows')

# Extração das bases de dados

In [ ]:
df = pd.read_csv('https://storage.googleapis.com/bc26-bucket/ocorrencia.csv',sep=';',encoding = 'ISO-8859-1', parse_dates=['ocorrencia_dia'], dayfirst = True)

In [ ]:
df

,codigo_ocorrencia,codigo_ocorrencia1,codigo_ocorrencia2,codigo_ocorrencia3,codigo_ocorrencia4,ocorrencia_classificacao,ocorrencia_latitude,ocorrencia_longitude,ocorrencia_cidade,ocorrencia_uf,ocorrencia_pais,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,investigacao_aeronave_liberada,investigacao_status,divulgacao_relatorio_numero,divulgacao_relatorio_publicado,divulgacao_dia_publicacao,total_recomendacoes,total_aeronaves_envolvidas,ocorrencia_saida_pista
0,81027,81027,81027,81027,81027,INCIDENTE GRAVE,NaN,NaN,SÃO PAULO,SP,BRASIL,SBSP,2022-10-09,16:30:00,SIM,ATIVA,A DEFINIR,NÃO,NaN,0,1,SIM
1,81030,81030,81030,81030,81030,INCIDENTE,NaN,NaN,VITÓRIA,ES,BRASIL,SBVT,2022-10-09,16:20:00,SIM,ATIVA,A DEFINIR,NÃO,NaN,0,1,NÃO
2,81023,81023,81023,81023,81023,INCIDENTE GRAVE,NaN,NaN,AMERICANA,SP,BRASIL,SDAI,2022-10-06,15:30:00,SIM,FINALIZADA,***,NÃO,NaN,0,1,SIM
3,81029,81029,81029,81029,81029,INCIDENTE,NaN,NaN,BELO HORIZONTE,MG,BRASIL,SBBH,2022-10-06,00:44:00,SIM,FINALIZADA,***,NÃO,NaN,0,1,NÃO
4,81025,81025,81025,81025,81025,INCIDENTE,NaN,NaN,MANAUS,AM,BRASIL,SBEG,2022-10-05,20:56:00,SIM,FINALIZADA,***,NÃO,NaN,0,1,NÃO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6764,40324,40324,40324,40324,40324,INCIDENTE,NaN,NaN,PELOTAS,RS,BRASIL,SBPK,2010-01-05,19:25:00,SIM,FINALIZADA,NaN,NÃO,NaN,0,1,NÃO
6765,39527,39527,39527,39527,39527,ACIDENTE,-13.1066666667,-55.9930555556,LUCAS DO RIO VERDE,MT,BRASIL,***,2010-01-04,17:30:00,SIM,FINALIZADA,A-539/CENIPA/2018,SIM,2019-10-28,0,1,NÃO
6766,40211,40211,40211,40211,40211,INCIDENTE,***,***,RIO DE JANEIRO,RJ,BRASIL,***,2010-01-03,12:00:00,SIM,FINALIZADA,***,NÃO,NaN,0,1,NÃO
6767,40349,40349,40349,40349,40349,INCIDENTE,NaN,NaN,BELÉM,PA,BRASIL,SBBE,2010-01-03,11:05:00,SIM,FINALIZADA,NaN,NÃO,NaN,0,1,NÃO
6768,40351,40351,40351,40351,40351,INCIDENTE,NaN,NaN,RIO DE JANEIRO,RJ,BRASIL,SBRJ,2010-01-03,03:00:00,SIM,FINALIZADA,NaN,NÃO,NaN,0,1,NÃO

# Pré-analise

In [ ]:
df.head(2)

,codigo_ocorrencia,codigo_ocorrencia1,codigo_ocorrencia2,codigo_ocorrencia3,codigo_ocorrencia4,ocorrencia_classificacao,ocorrencia_latitude,ocorrencia_longitude,ocorrencia_cidade,ocorrencia_uf,ocorrencia_pais,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,investigacao_aeronave_liberada,investigacao_status,divulgacao_relatorio_numero,divulgacao_relatorio_publicado,divulgacao_dia_publicacao,total_recomendacoes,total_aeronaves_envolvidas,ocorrencia_saida_pista
0,81027,81027,81027,81027,81027,INCIDENTE GRAVE,NaN,NaN,SÃO PAULO,SP,BRASIL,SBSP,2022-10-09,16:30:00,SIM,ATIVA,A DEFINIR,NÃO,NaN,0,1,SIM
1,81030,81030,81030,81030,81030,INCIDENTE,NaN,NaN,VITÓRIA,ES,BRASIL,SBVT,2022-10-09,16:20:00,SIM,ATIVA,A DEFINIR,NÃO,NaN,0,1,NÃO

In [ ]:
df.tail(2)

,codigo_ocorrencia,codigo_ocorrencia1,codigo_ocorrencia2,codigo_ocorrencia3,codigo_ocorrencia4,ocorrencia_classificacao,ocorrencia_latitude,ocorrencia_longitude,ocorrencia_cidade,ocorrencia_uf,ocorrencia_pais,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,investigacao_aeronave_liberada,investigacao_status,divulgacao_relatorio_numero,divulgacao_relatorio_publicado,divulgacao_dia_publicacao,total_recomendacoes,total_aeronaves_envolvidas,ocorrencia_saida_pista
6767,40349,40349,40349,40349,40349,INCIDENTE,NaN,NaN,BELÉM,PA,BRASIL,SBBE,2010-01-03,11:05:00,SIM,FINALIZADA,NaN,NÃO,NaN,0,1,NÃO
6768,40351,40351,40351,40351,40351,INCIDENTE,NaN,NaN,RIO DE JANEIRO,RJ,BRASIL,SBRJ,2010-01-03,03:00:00,SIM,FINALIZADA,NaN,NÃO,NaN,0,1,NÃO

In [ ]:
df.dtypes

codigo_ocorrencia                          int64
codigo_ocorrencia1                         int64
codigo_ocorrencia2                         int64
codigo_ocorrencia3                         int64
codigo_ocorrencia4                         int64
ocorrencia_classificacao                  object
ocorrencia_latitude                       object
ocorrencia_longitude                      object
ocorrencia_cidade                         object
ocorrencia_uf                             object
ocorrencia_pais                           object
ocorrencia_aerodromo                      object
ocorrencia_dia                    datetime64[ns]
ocorrencia_hora                           object
investigacao_aeronave_liberada            object
investigacao_status                       object
divulgacao_relatorio_numero               object
divulgacao_relatorio_publicado            object
divulgacao_dia_publicacao                 object
total_recomendacoes                        int64
total_aeronaves_envolvidas                 int64
ocorrencia_saida_pista                    object
dtype: object

In [ ]:
df.head()

,codigo_ocorrencia,codigo_ocorrencia1,codigo_ocorrencia2,codigo_ocorrencia3,codigo_ocorrencia4,ocorrencia_classificacao,ocorrencia_latitude,ocorrencia_longitude,ocorrencia_cidade,ocorrencia_uf,ocorrencia_pais,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,investigacao_aeronave_liberada,investigacao_status,divulgacao_relatorio_numero,divulgacao_relatorio_publicado,divulgacao_dia_publicacao,total_recomendacoes,total_aeronaves_envolvidas,ocorrencia_saida_pista
0,81027,81027,81027,81027,81027,INCIDENTE GRAVE,NaN,NaN,SÃO PAULO,SP,BRASIL,SBSP,2022-10-09,16:30:00,SIM,ATIVA,A DEFINIR,NÃO,NaN,0,1,SIM
1,81030,81030,81030,81030,81030,INCIDENTE,NaN,NaN,VITÓRIA,ES,BRASIL,SBVT,2022-10-09,16:20:00,SIM,ATIVA,A DEFINIR,NÃO,NaN,0,1,NÃO
2,81023,81023,81023,81023,81023,INCIDENTE GRAVE,NaN,NaN,AMERICANA,SP,BRASIL,SDAI,2022-10-06,15:30:00,SIM,FINALIZADA,***,NÃO,NaN,0,1,SIM
3,81029,81029,81029,81029,81029,INCIDENTE,NaN,NaN,BELO HORIZONTE,MG,BRASIL,SBBH,2022-10-06,00:44:00,SIM,FINALIZADA,***,NÃO,NaN,0,1,NÃO
4,81025,81025,81025,81025,81025,INCIDENTE,NaN,NaN,MANAUS,AM,BRASIL,SBEG,2022-10-05,20:56:00,SIM,FINALIZADA,***,NÃO,NaN,0,1,NÃO

In [ ]:
df.codigo_ocorrencia.is_unique

True

## Tratamentos de dados

In [ ]:
#backup do dataframe original
dfback = df.copy()

df.drop(['codigo_ocorrencia1','codigo_ocorrencia2','codigo_ocorrencia3','codigo_ocorrencia4'],axis=1,inplace=True)

In [ ]:
df.head(1)

,codigo_ocorrencia,codigo_ocorrencia1,codigo_ocorrencia2,codigo_ocorrencia3,codigo_ocorrencia4,ocorrencia_classificacao,ocorrencia_latitude,ocorrencia_longitude,ocorrencia_cidade,ocorrencia_uf,ocorrencia_pais,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,investigacao_aeronave_liberada,investigacao_status,divulgacao_relatorio_numero,divulgacao_relatorio_publicado,divulgacao_dia_publicacao,total_recomendacoes,total_aeronaves_envolvidas,ocorrencia_saida_pista
0,81027,81027,81027,81027,81027,INCIDENTE GRAVE,NaN,NaN,SÃO PAULO,SP,BRASIL,SBSP,2022-10-09,16:30:00,SIM,ATIVA,A DEFINIR,NÃO,NaN,0,1,SIM

# drop de colunas

ocorrencia_latitude , ocorrencia_longitude , investigacao_aeronave_liberada , investigacao_status , divulgacao_relatorio_numero , divulgacao_relatorio_publicado, divulgacao_dia_publicacao , codigo_ocorrencia1,codigo_ocorrencia2,codigo_ocorrencia3,codigo_ocorrencia4

In [ ]:
#Dropagem das colunas que tinham dados repetidos
df.drop(['codigo_ocorrencia1','codigo_ocorrencia2','codigo_ocorrencia3','codigo_ocorrencia4'],axis=1,inplace=True)

In [ ]:
#Drop de colunas que não serão utilizadas
df.drop(['ocorrencia_latitude','ocorrencia_longitude','investigacao_aeronave_liberada','investigacao_status','divulgacao_relatorio_numero','divulgacao_relatorio_publicado','divulgacao_dia_publicacao'],axis=1,inplace=True)

In [ ]:
df.dtypes

codigo_ocorrencia                      int64
ocorrencia_classificacao              object
ocorrencia_cidade                     object
ocorrencia_uf                         object
ocorrencia_pais                       object
ocorrencia_aerodromo                  object
ocorrencia_dia                datetime64[ns]
ocorrencia_hora                       object
total_recomendacoes                    int64
total_aeronaves_envolvidas             int64
ocorrencia_saida_pista                object
dtype: object

In [ ]:
#Renomear as colunas

df.rename(columns={'codigo_ocorrencia':'ocorrencia','ocorrencia_classificacao':'classificacao','ocorrencia_cidade':'cidade','ocorrencia_uf':'uf','ocorrencia_pais':'pais','ocorrencia_aerodromo':'aerodromo'},inplace=True)
df.rename(columns={'ocorrencia_dia':'dia','ocorrencia_hora':'horario','total_recomendacoes':'recomendacoes','total_aeronaves_envolvidas':'n_aeronaves','ocorrencia_saida_pista':'saida_pista'},inplace=True)

In [ ]:
df.dtypes

ocorrencia                int64
classificacao            object
cidade                   object
uf                       object
pais                     object
aerodromo                object
dia              datetime64[ns]
horario                  object
recomendacoes             int64
n_aeronaves               int64
saida_pista              object
dtype: object

In [ ]:
pd.unique(df['classificacao'])

array(['INCIDENTE GRAVE', 'INCIDENTE', 'ACIDENTE'], dtype=object)

In [ ]:
sorted(pd.unique(df['saida_pista']))

['NÃO', 'SIM']

inconsistencia encontradas ***, **NI

In [ ]:
df.replace(['***','**NI'],pd.NA, inplace=True)

In [ ]:
df.tail(10)

,ocorrencia,classificacao,cidade,uf,pais,aerodromo,dia,horario,recomendacoes,n_aeronaves,saida_pista
6759,40069,ACIDENTE,SÃO PAULO,SP,BRASIL,SBMT,2010-01-10,14:50:00,8,1,NÃO
6760,40414,INCIDENTE,BRASÍLIA,DF,BRASIL,SBBR,2010-01-10,03:00:00,0,1,NÃO
6761,39707,INCIDENTE GRAVE,CANUTAMA,AM,BRASIL,<NA>,2010-01-09,12:30:00,3,1,NÃO
6762,40215,INCIDENTE,COARI,AM,BRASIL,SBUY,2010-01-07,18:40:00,0,1,SIM
6763,39807,INCIDENTE,SALVADOR,BA,BRASIL,<NA>,2010-01-06,17:53:00,0,1,NÃO
6764,40324,INCIDENTE,PELOTAS,RS,BRASIL,SBPK,2010-01-05,19:25:00,0,1,NÃO
6765,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,BRASIL,<NA>,2010-01-04,17:30:00,0,1,NÃO
6766,40211,INCIDENTE,RIO DE JANEIRO,RJ,BRASIL,<NA>,2010-01-03,12:00:00,0,1,NÃO
6767,40349,INCIDENTE,BELÉM,PA,BRASIL,SBBE,2010-01-03,11:05:00,0,1,NÃO
6768,40351,INCIDENTE,RIO DE JANEIRO,RJ,BRASIL,SBRJ,2010-01-03,03:00:00,0,1,NÃO

In [ ]:
df.loc[0]

ocorrencia                     81027
classificacao        INCIDENTE GRAVE
cidade                     SÃO PAULO
uf                                SP
pais                          BRASIL
aerodromo                       SBSP
dia              2022-10-09 00:00:00
horario                     16:30:00
recomendacoes                      0
n_aeronaves                        1
saida_pista                      SIM
Name: 0, dtype: object

In [ ]:
#consulta dados "Invalidos"
df.isna().sum()

ocorrencia          0
classificacao       0
cidade              0
uf                  4
pais                0
aerodromo        2618
dia                 0
horario             2
recomendacoes       0
n_aeronaves         0
saida_pista         0
dtype: int64

In [ ]:
#consulta dados "validos"
df.count()

ocorrencia       6769
classificacao    6769
cidade           6769
uf               6765
pais             6769
aerodromo        4151
dia              6769
horario          6767
recomendacoes    6769
n_aeronaves      6769
saida_pista      6769
dtype: int64

#Filtros

In [ ]:
filtrouf = df.uf.isna()
filtrohorario = df.horario.isna()

In [ ]:
df.loc[filtrouf]

,ocorrencia,classificacao,cidade,uf,pais,aerodromo,dia,horario,recomendacoes,n_aeronaves,saida_pista
283,80665,ACIDENTE,NÃO IDENTIFICADA,<NA>,BRASIL,<NA>,2022-04-22,20:00:00,0,1,NÃO
320,80631,INCIDENTE,NÃO IDENTIFICADA,<NA>,BRASIL,<NA>,2022-04-04,11:15:00,0,1,NÃO
912,79956,ACIDENTE,NÃO IDENTIFICADA,<NA>,BRASIL,<NA>,2021-02-26,11:00:00,0,1,NÃO
4541,49474,ACIDENTE,ÁGUAS INTERNACIONAIS,<NA>,BRASIL,<NA>,2013-09-02,02:54:00,0,1,NÃO

In [ ]:
df.loc[filtrohorario]

,ocorrencia,classificacao,cidade,uf,pais,aerodromo,dia,horario,recomendacoes,n_aeronaves,saida_pista
56,80938,INCIDENTE,MARABÁ,PA,BRASIL,SBMA,2022-08-29,NaN,0,1,NÃO
2671,78823,INCIDENTE,CORUMBÁ,MS,BRASIL,<NA>,2017-07-09,NaN,0,1,NÃO



---

#Back de colunas

In [ ]:
df['back_cidade'] = df.cidade

#24/11 - convertendo as colunas

In [ ]:
df.replace(['****','**NI'], pd.NA, inplace=True)

In [ ]:
#nova
df.replace(pd.NA,np.NaN,inplace=True)

In [ ]:
#converter colunas dia
df['dia'] = df['dia'].astype(str)

In [ ]:
#criar a coluna de data 
df['data'] = pd.to_datetime(df['dia']+ ' ' + df['horario'])

In [ ]:
df.drop(['dia','horario'], axis = 1, inplace = True)

In [ ]:
#arrumar a coluna de lugar
df2 = df [['ocorrencia', 'data', 'aerodromo', 'cidade', 'uf', 'classificacao', 'n_aeronaves','saida_pista']]

In [ ]:
df2.head(2)

In [ ]:
df.dtypes

ocorrencia                int64
classificacao            object
cidade                   object
uf                       object
pais                     object
aerodromo                object
recomendacoes             int64
n_aeronaves               int64
saida_pista              object
back_cidade              object
data             datetime64[ns]
dtype: object

In [ ]:
# region filters
#ftsul = df.uf.isin(['RS','PR', 'SC'])
#ftsudeste = df.uf.isin(['ES','MG', 'RJ', 'SP'])
#ftco = df.uf.isin(['DF','GO', 'MT', 'MS'])
#ftnordeste = df.uf.isin(['AL','BA', 'CE', 'MA', 'PB', 'PI', 'PE', 'RN', 'SE'])
#ftnorte = df.uf.isin(['AC','AP', 'AM', 'PA', 'RO', 'RR', 'TO'])

# Validação

In [ ]:
df.dtypes

ocorrencia                int64
classificacao            object
cidade                   object
uf                       object
pais                     object
aerodromo                object
dia              datetime64[ns]
horario                  object
recomendacoes             int64
n_aeronaves               int64
saida_pista              object
back_cidade              object
dtype: object

In [ ]:
#criação de schema de validação dos dados 

schema = pa.DataFrameSchema(
    columns ={
        'classificacao':pa.Column(pa.String),
        'ocorrencia':pa.Column(pa.Int),
        'cidade':pa.Column(pa.String),
        'uf':pa.Column(pa.String,pa.Check.str_length(2,2), nullable=True),
        'pais':pa.Column(pa.String),
        'aerodromo':pa.Column(pa.String, pa.Check.str_length(4,4), nullable=True),
        'dia':pa.Column(pa.DateTime),
        'horario':pa.Column(pa.String, pa.Check.str_matches(r'^([0-1]?[0-9]|[2][0-3]):([0-5][0-9]):([0-5][0-9])?$'), nullable=True),
        'recomendacoes':pa.Column(pa.Int),
        'n_aeronaves':pa.Column(pa.Int),
        'saida_pista' :pa.Column(pa.String, pa.Check.str_length(3,3)),


    }
)

In [ ]:
#validador do DF
schema.validate(df)

,ocorrencia,classificacao,cidade,uf,pais,aerodromo,dia,horario,recomendacoes,n_aeronaves,saida_pista,back_cidade
0,81027,INCIDENTE GRAVE,SÃO PAULO,SP,BRASIL,SBSP,2022-10-09,16:30:00,0,1,SIM,SÃO PAULO
1,81030,INCIDENTE,VITÓRIA,ES,BRASIL,SBVT,2022-10-09,16:20:00,0,1,NÃO,VITÓRIA
2,81023,INCIDENTE GRAVE,AMERICANA,SP,BRASIL,SDAI,2022-10-06,15:30:00,0,1,SIM,AMERICANA
3,81029,INCIDENTE,BELO HORIZONTE,MG,BRASIL,SBBH,2022-10-06,00:44:00,0,1,NÃO,BELO HORIZONTE
4,81025,INCIDENTE,MANAUS,AM,BRASIL,SBEG,2022-10-05,20:56:00,0,1,NÃO,MANAUS
...,...,...,...,...,...,...,...,...,...,...,...,...
6764,40324,INCIDENTE,PELOTAS,RS,BRASIL,SBPK,2010-01-05,19:25:00,0,1,NÃO,PELOTAS
6765,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,BRASIL,<NA>,2010-01-04,17:30:00,0,1,NÃO,LUCAS DO RIO VERDE
6766,40211,INCIDENTE,RIO DE JANEIRO,RJ,BRASIL,<NA>,2010-01-03,12:00:00,0,1,NÃO,RIO DE JANEIRO
6767,40349,INCIDENTE,BELÉM,PA,BRASIL,SBBE,2010-01-03,11:05:00,0,1,NÃO,BELÉM
6768,40351,INCIDENTE,RIO DE JANEIRO,RJ,BRASIL,SBRJ,2010-01-03,03:00:00,0,1,NÃO,RIO DE JANEIRO

In [ ]:
#
df.isna().sum()

ocorrencia          0
classificacao       0
cidade              0
uf                  4
pais                0
aerodromo        2618
dia                 0
horario             2
recomendacoes       0
n_aeronaves         0
saida_pista         0
back_cidade         0
dtype: int64

# outros filtros (especificos)

In [ ]:
filtrouf = df.uf.isna()
filtrohorario = df.horario.isna()

In [ ]:
df.loc[filtrouf]

,ocorrencia,classificacao,cidade,uf,pais,aerodromo,dia,horario,recomendacoes,n_aeronaves,saida_pista,back_cidade
283,80665,ACIDENTE,NÃO IDENTIFICADA,<NA>,BRASIL,<NA>,2022-04-22,20:00:00,0,1,NÃO,NÃO IDENTIFICADA
320,80631,INCIDENTE,NÃO IDENTIFICADA,<NA>,BRASIL,<NA>,2022-04-04,11:15:00,0,1,NÃO,NÃO IDENTIFICADA
912,79956,ACIDENTE,NÃO IDENTIFICADA,<NA>,BRASIL,<NA>,2021-02-26,11:00:00,0,1,NÃO,NÃO IDENTIFICADA
4541,49474,ACIDENTE,ÁGUAS INTERNACIONAIS,<NA>,BRASIL,<NA>,2013-09-02,02:54:00,0,1,NÃO,ÁGUAS INTERNACIONAIS

In [ ]:
df.loc[filtrohorario]

,ocorrencia,classificacao,cidade,uf,pais,aerodromo,dia,horario,recomendacoes,n_aeronaves,saida_pista,back_cidade
56,80938,INCIDENTE,MARABÁ,PA,BRASIL,SBMA,2022-08-29,NaN,0,1,NÃO,MARABÁ
2671,78823,INCIDENTE,CORUMBÁ,MS,BRASIL,<NA>,2017-07-09,NaN,0,1,NÃO,CORUMBÁ

In [ ]:
filtrosp = df.uf == "SP"

In [ ]:
ftincidente = df.classificacao == 'INCIDENTE'
ftano = df.dia.dt.year == 2021
ftsp = df.uf == 'SP'

In [ ]:
#exemplode nome para salvar oum filtro especifico 
dfosni = df.loc[ftsp & ftano]

In [ ]:
dfosni

,ocorrencia,classificacao,cidade,uf,pais,aerodromo,dia,horario,recomendacoes,n_aeronaves,saida_pista,back_cidade
460,80452,ACIDENTE,MARACAÍ,SP,BRASIL,<NA>,2021-12-31,09:30:00,0,1,NÃO,MARACAÍ
465,80456,INCIDENTE,SÃO PAULO,SP,BRASIL,SBSP,2021-12-30,13:15:00,0,1,SIM,SÃO PAULO
467,80453,INCIDENTE,CAMPINAS,SP,BRASIL,SBKP,2021-12-29,09:00:00,0,1,NÃO,CAMPINAS
468,80454,INCIDENTE GRAVE,ARAÇATUBA,SP,BRASIL,SBAU,2021-12-29,21:35:00,0,1,SIM,ARAÇATUBA
476,80545,INCIDENTE,GUARULHOS,SP,BRASIL,SBGR,2021-12-22,11:50:00,0,1,NÃO,GUARULHOS
...,...,...,...,...,...,...,...,...,...,...,...,...
994,79816,INCIDENTE,GUARULHOS,SP,BRASIL,SBGR,2021-01-11,11:50:00,0,1,NÃO,GUARULHOS
1001,79805,INCIDENTE,GUARULHOS,SP,BRASIL,SBGR,2021-01-07,02:05:00,0,1,NÃO,GUARULHOS
1005,79809,INCIDENTE,GUARULHOS,SP,BRASIL,SBGR,2021-01-06,12:48:00,0,1,NÃO,GUARULHOS
1008,79798,ACIDENTE,GUARÁ,SP,BRASIL,<NA>,2021-01-05,20:30:00,0,1,NÃO,GUARÁ
1013,79758,INCIDENTE,SÃO PAULO,SP,BRASIL,<NA>,2021-01-02,18:30:00,0,1,NÃO,SÃO PAULO

#Filtro 23/11

In [ ]:
#filtra os valores nulos ou ausentes | NA, NULL, NaN,NaT E ETEC
filtronulo = df.aerodromo.isna()
df.loc[filtronulo]

,ocorrencia,classificacao,cidade,uf,pais,aerodromo,dia,horario,recomendacoes,n_aeronaves,saida_pista,back_cidade
5,81019,ACIDENTE,PORTO ALEGRE,RS,BRASIL,<NA>,2022-10-03,20:50:00,0,1,NÃO,PORTO ALEGRE
6,81022,INCIDENTE,LOBATO,PR,BRASIL,<NA>,2022-10-03,15:38:00,0,1,NÃO,LOBATO
7,81021,ACIDENTE,NOVA BANDEIRANTES,MT,BRASIL,<NA>,2022-10-02,19:00:00,0,1,SIM,NOVA BANDEIRANTES
8,81009,INCIDENTE GRAVE,NAVIRAÍ,MS,BRASIL,<NA>,2022-10-01,10:10:00,0,1,SIM,NAVIRAÍ
9,81012,INCIDENTE,LINHARES,ES,BRASIL,<NA>,2022-09-30,12:20:00,0,1,NÃO,LINHARES
...,...,...,...,...,...,...,...,...,...,...,...,...
6758,39789,INCIDENTE,SÃO PEDRO DO SUL,RS,BRASIL,<NA>,2010-01-10,21:30:00,0,1,NÃO,SÃO PEDRO DO SUL
6761,39707,INCIDENTE GRAVE,CANUTAMA,AM,BRASIL,<NA>,2010-01-09,12:30:00,3,1,NÃO,CANUTAMA
6763,39807,INCIDENTE,SALVADOR,BA,BRASIL,<NA>,2010-01-06,17:53:00,0,1,NÃO,SALVADOR
6765,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,BRASIL,<NA>,2010-01-04,17:30:00,0,1,NÃO,LUCAS DO RIO VERDE
6766,40211,INCIDENTE,RIO DE JANEIRO,RJ,BRASIL,<NA>,2010-01-03,12:00:00,0,1,NÃO,RIO DE JANEIRO

In [ ]:
#filtro de classificacao
filtroacidente = df.classificacao == 'ACIDENTE'
dfacidente = df.loc[filtroacidente]

In [ ]:
#filtro mais detalhado
ftcidade = df.cidade == 'SÃO PAULO'
ftpista = df.saida_pista =='SIM'
ft2020 = df.dia.dt.year == 2020
df.loc[ftcidade & ftpista & ft2020]

,ocorrencia,classificacao,cidade,uf,pais,aerodromo,dia,horario,recomendacoes,n_aeronaves,saida_pista,back_cidade
1050,79718,INCIDENTE GRAVE,SÃO PAULO,SP,BRASIL,SBMT,2020-12-11,13:50:00,0,1,SIM,SÃO PAULO

In [ ]:
ftsul = df.uf.isin(['RS','PR','SC'])
df.loc[ftsul & filtroacidente]

,ocorrencia,classificacao,cidade,uf,pais,aerodromo,dia,horario,recomendacoes,n_aeronaves,saida_pista,back_cidade
5,81019,ACIDENTE,PORTO ALEGRE,RS,BRASIL,<NA>,2022-10-03,20:50:00,0,1,NÃO,PORTO ALEGRE
15,81018,ACIDENTE,LONTRAS,SC,BRASIL,<NA>,2022-09-24,20:05:00,0,1,NÃO,LONTRAS
48,80954,ACIDENTE,NAVEGANTES,SC,BRASIL,SBNF,2022-09-02,11:40:00,0,1,NÃO,NAVEGANTES
52,80952,ACIDENTE,ELDORADO DO SUL,RS,BRASIL,SSMK,2022-09-01,18:00:00,0,1,NÃO,ELDORADO DO SUL
62,80942,ACIDENTE,CAMPO LARGO,PR,BRASIL,<NA>,2022-08-27,20:30:00,0,1,NÃO,CAMPO LARGO
...,...,...,...,...,...,...,...,...,...,...,...,...
6574,41053,ACIDENTE,CASCAVEL,PR,BRASIL,SBCA,2010-05-19,08:10:00,2,1,NÃO,CASCAVEL
6611,40572,ACIDENTE,PORTO ALEGRE,RS,BRASIL,SBPA,2010-04-28,14:10:00,0,1,NÃO,PORTO ALEGRE
6644,40147,ACIDENTE,UNIÃO DA VITÓRIA,PR,BRASIL,SSUV,2010-04-08,14:20:00,3,1,SIM,UNIÃO DA VITÓRIA
6723,39316,ACIDENTE,RIO DO OESTE,SC,BRASIL,<NA>,2010-02-04,17:55:00,2,1,NÃO,RIO DO OESTE
6744,39320,ACIDENTE,FAROL,PR,BRASIL,<NA>,2010-01-19,18:30:00,4,1,NÃO,FAROL

In [ ]:
#filtro de datas certas - por datas
ftagosto = df.dia.dt.month == 8
ftquinz = (df.dia.dt.day > 0) & (df.dia.dt.day < 16)
df.loc[ftagosto & ftquinz]

,ocorrencia,classificacao,cidade,uf,pais,aerodromo,dia,horario,recomendacoes,n_aeronaves,saida_pista,back_cidade
82,80915,INCIDENTE,GOIÂNIA,GO,BRASIL,SBGO,2022-08-15,09:25:00,0,1,NÃO,GOIÂNIA
83,80919,INCIDENTE,SOROCABA,SP,BRASIL,SDCO,2022-08-15,11:30:00,0,1,NÃO,SOROCABA
84,80920,ACIDENTE,RIO DE JANEIRO,RJ,BRASIL,<NA>,2022-08-15,18:30:00,0,1,NÃO,RIO DE JANEIRO
85,81008,INCIDENTE,GUARULHOS,SP,BRASIL,SBGR,2022-08-15,03:15:00,0,1,NÃO,GUARULHOS
86,80921,ACIDENTE,SÃO LUÍS,MA,BRASIL,<NA>,2022-08-14,19:00:00,0,1,NÃO,SÃO LUÍS
...,...,...,...,...,...,...,...,...,...,...,...,...
6460,42449,ACIDENTE,SÃO FÉLIX DO XINGU,PA,BRASIL,<NA>,2010-08-03,16:20:00,8,1,NÃO,SÃO FÉLIX DO XINGU
6461,42286,INCIDENTE,CUIABÁ,MT,BRASIL,<NA>,2010-08-02,10:00:00,0,1,NÃO,CUIABÁ
6462,42446,INCIDENTE,BAURU,SP,BRASIL,SBAE,2010-08-02,11:04:00,0,1,NÃO,BAURU
6463,42626,INCIDENTE,CURITIBA,PR,BRASIL,<NA>,2010-08-02,01:40:00,0,1,NÃO,CURITIBA
6464,42590,INCIDENTE,SÃO LUÍS,MA,BRASIL,SBSL,2010-08-01,18:50:00,0,1,NÃO,SÃO LUÍS

# Group by

In [ ]:
df.groupby(['uf'], dropna = False).size().sort_values(ascending=False)

uf
SP     1625
MG      638
RJ      578
PR      548
RS      395
GO      359
MT      359
PA      344
AM      279
BA      253
SC      223
MS      191
DF      156
PE      126
CE       95
ES       91
MA       86
RR       73
AC       66
TO       60
RO       54
PI       45
AL       34
PB       28
SE       22
RN       22
AP       15
NaN       4
dtype: int64

#Teste de Grupo By

In [ ]:
df.groupby(['classificacao']).size().sort_values(ascending=False)

classificacao
INCIDENTE          3795
ACIDENTE           2090
INCIDENTE GRAVE     884
dtype: int64

In [ ]:
df.groupby(['uf'],dropna=False).size().sort_values(ascending=False)

uf
SP     1625
MG      638
RJ      578
PR      548
RS      395
GO      359
MT      359
PA      344
AM      279
BA      253
SC      223
MS      191
DF      156
PE      126
CE       95
ES       91
MA       86
RR       73
AC       66
TO       60
RO       54
PI       45
AL       34
PB       28
SE       22
RN       22
AP       15
NaN       4
dtype: int64

In [ ]:
df.groupby(['aerodromo'],dropna=False).size().sort_values(ascending=False)

aerodromo
NaN     2618
SBGR     173
SBMT     150
SBKP     128
SBBH     124
        ...
SJVL       1
SJTO       1
SJOD       1
SJNQ       1
SJNC       1
Length: 574, dtype: int64