<a href="https://colab.research.google.com/github/Stesilva16/Eng-de-dados--/blob/main/Struct_type_Windows_fuctions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### no spark a gente interfere schema, em que ele coloca o tipo de dado que ele veja que faça mais sentido, mas as vezes ele não interfere da maneira como nós desejamos;

##TIPOS BÁSICOS DE DADOS DO SPARK;
ByteType() - int;
ShortType() - int;
IntegerType() - int;
LongType() - int;
FloatType() - float;
DoubleType() - float;
Stringtype() - string;
BooleanType - bool;
DecimalType() - float;
Null;

##Tipos Complexos de Dados;

TimetampType() - datetime;
DateType() - datetime;
ArrayType() - lista, tupla, array;
Maptype() - dict;
StructType() - lista, tupla;
StructField() - Tipo do Campo;

#passo a passo:
1 - instalar o pyspark!;
2 - importar a pysparksession;
3 - montar a sessão;
4 - chamar o spark para ver se está okay

In [ ]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 45 kB/s
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     |████████████████████████████████| 199 kB 48.7 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.1-py2.py3-none-any.whl size=281845512 sha256=a849ffc2a5fa2a2570068989c7fd815aff0ba8a4dc2cae5967f1c7c7b472325a
  Stored in directory: /root/.cache/pip/wheels/43/dc/11/ec201cd671da62fa9c5cc77078235e40722170ceba231d7598
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.1

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark = (
    SparkSession.builder
      .master('local')
      .appName('structtype')
      .config('saprk.ui.port','4050')
      .getOrCreate()
)

In [ ]:
spark

#passo a passo:
1) importar os tipos de variaveis do Spark; (quando eu coloco o * no final, significa que eu estou importando todos);
2) montar o Schema;
3) vamos usar o StructType;
4) dentra da StructType, vamos criar o structfield, que ele vai ter a quantidade de colunas que temos dentro do arquivo; ( exe: esquema = (
    StructType([StructField(),])
5) dentro de cada structField, já vamos deixar do jeito que você deseja; 
6) você já pode alterar o nome e deixa-lo com o nome correto, porém ela deve estra na mesma sequencia;
7) se der erro colocamos em string, para ver o porque e então colocamos ver onde está o erro e concertar;

In [ ]:
#importar os tipos de variáveis do spark 
from pyspark.sql.types import *

In [ ]:
esquema = (
    StructType([StructField('id', IntegerType()),
                StructField('nome_musica', StringType()),
                StructField('popularidade',IntegerType()),
                StructField('duracao_musica', IntegerType()),
                StructField('acustica', FloatType()),
                StructField('danceabilidade', FloatType()),
                StructField('energia', FloatType()),
                StructField('instrumentabilidade', StringType()),
                StructField('nota_musical', IntegerType()),
                StructField('ao_vivo', FloatType()),
                StructField('volume', FloatType()),
                StructField('modo_de_audio', IntegerType()),
                StructField('discurso', FloatType()),
                StructField('ritmo', FloatType()),
                StructField('assinatura_de_tempo', FloatType()),
                StructField('valencia_de_audio', FloatType()),
                ])
)

#passo a passo 2:
1 ) criar um dataframe para mostrar;
2) subir o arquivo;
3) formatar;

In [ ]:
#AQUI IREMOS LER O DATAFRAME COLOCANDO INFERSCHEMA COMO FALSE PARA QUE O SPARK NÃO INFIRA O ESQUEMA
# E ADICIONAMOS schema=esquema, PARA UTILIZARMOS O ESQUEMA QUE CRIAMOS ANTERIORMENTE
df = (
    spark.read.format('csv')
              .option('inferschema', 'false')
              .option('delimiter', ',')
              .load('/content/spotify.csv', schema = esquema)
)

In [ ]:
#COMANDO PARA VERIFICAR O ESQUEMA DO DATAFRAME
df.printSchema()

root
 |-- id: integer (nullable = true)
 |-- nome_musica: string (nullable = true)
 |-- popularidade: integer (nullable = true)
 |-- duracao_musica: integer (nullable = true)
 |-- acustica: float (nullable = true)
 |-- danceabilidade: float (nullable = true)
 |-- energia: float (nullable = true)
 |-- instrumentabilidade: string (nullable = true)
 |-- nota_musical: integer (nullable = true)
 |-- ao_vivo: float (nullable = true)
 |-- volume: float (nullable = true)
 |-- modo_de_audio: integer (nullable = true)
 |-- discurso: float (nullable = true)
 |-- ritmo: float (nullable = true)
 |-- assinatura_de_tempo: float (nullable = true)
 |-- valencia_de_audio: float (nullable = true)

In [ ]:
df.show(truncate=False)

+----+--------------------------+------------+--------------+--------+--------------+-------+---------------------+------------+-------+------+-------------+--------+-------+-------------------+-----------------+
|id  |nome_musica               |popularidade|duracao_musica|acustica|danceabilidade|energia|instrumentabilidade  |nota_musical|ao_vivo|volume|modo_de_audio|discurso|ritmo  |assinatura_de_tempo|valencia_de_audio|
+----+--------------------------+------------+--------------+--------+--------------+-------+---------------------+------------+-------+------+-------------+--------+-------+-------------------+-----------------+
|null|song_name                 |null        |null          |null    |null          |null   |instrumentalness     |null        |null   |null  |null         |null    |null   |null               |null             |
|0   |Boulevard of Broken Dreams|73          |262333        |null    |null          |0.682  |2.94e-05             |8           |0.0589 |-4.095|1            |0.0294  |167.06 |4.0                |0.474            |
|1   |In The End                |66          |216933        |null    |null          |0.853  |0.0                  |3           |0.108  |-6.407|0            |0.0498  |105.256|4.0                |0.37             |
|2   |Seven Nation Army         |76          |231733        |null    |null          |0.463  |0.447                |0           |0.255  |-7.828|1            |0.0792  |123.881|4.0                |0.324            |
|3   |By The Way                |74          |216933        |null    |null          |0.97   |0.00355              |0           |0.102  |-4.938|1            |0.107   |122.444|4.0                |0.198            |
|4   |How You Remind Me         |56          |223826        |null    |null          |0.766  |0.0                  |10          |0.113  |-5.065|1            |0.0313  |172.011|4.0                |0.574            |
|5   |Bring Me To Life          |80          |235893        |null    |null          |0.945  |1.85e-06             |4           |0.396  |-3.169|0            |0.124   |189.931|4.0                |0.32             |
|6   |Last Resort               |81          |199893        |null    |null          |0.887  |0.00111              |4           |0.268  |-3.659|0            |0.0624  |90.578 |4.0                |0.724            |
|7   |Are You Gonna Be My Girl  |76          |213800        |null    |null          |0.953  |0.000582             |2           |0.152  |-3.435|1            |0.0855  |105.046|4.0                |0.537            |
|8   |Mr. Brightside            |80          |222586        |null    |null          |0.936  |0.0                  |1           |0.0926 |-3.66 |1            |0.0917  |148.112|4.0                |0.234            |
|9   |Sex on Fire               |81          |203346        |null    |null          |0.905  |0.0104               |9           |0.136  |-5.653|1            |0.054   |153.398|4.0                |0.374            |
|10  |The Middle                |78          |168253        |null    |null          |0.897  |0.0                  |2           |0.263  |-3.401|1            |0.0483  |161.944|4.0                |0.93             |
|11  |Numb                      |63          |185586        |null    |null          |0.863  |0.0                  |9           |0.639  |-4.153|1            |0.0381  |110.018|4.0                |0.243            |
|12  |Smooth Criminal           |75          |209266        |null    |null          |0.964  |0.0036               |9           |0.15   |-4.225|0            |0.06    |126.942|4.0                |0.875            |
|13  |Can't Stop                |81          |269000        |null    |null          |0.938  |0.0                  |9           |0.167  |-3.442|1            |0.0456  |91.455 |4.0                |0.875            |
|14  |Chop Suey!                |69          |210240        |null    |null          |0.929  |0.0007469999999999999|7           |0.122  |-3.899|0            |0.121   |127.204|4.0                |0.3              |
|15  |Take Me Out               |77          |237026        |null    |null          |0.676  |0.0008990000000000002|9           |0.136  |-8.821|1            |0.0371  |104.545|4.0                |0.494            |
|16  |I Miss You                |71          |227240        |null    |null          |0.778  |6.79e-06             |11          |0.0841 |-6.423|1            |0.0379  |110.022|4.0                |0.623            |
|17  |Best of You               |62          |256600        |null    |null          |0.944  |2.9e-06              |1           |0.135  |-4.979|0            |0.0767  |130.315|4.0                |0.345            |
|18  |I Write Sins Not Tragedies|77          |187613        |null    |null          |0.795  |0.0                  |9           |0.114  |-4.985|0            |0.134   |170.06 |4.0                |0.635            |
+----+--------------------------+------------+--------------+--------+--------------+-------+---------------------+------------+-------+------+-------------+--------+-------+-------------------+-----------------+
only showing top 20 rows

#passo a passo:
###O windows fuctions, ele serve para você colocar em ordem, como exemplo quem ganha mais, em uma empresa;

1) instalar o windows fuction;
1.1) importar o f de função do pyspark sql;
2) criar um esquema ou chamar;
3) como eu criei uma nova eu coloquei em uma dataframe;

In [ ]:
#Window Functions
from pyspark.sql.window import Window
import pyspark.sql.functions as F

In [ ]:
schema = ['nome', 'departamento', 'estado', 'salario']

dados = [('Anderson', 'vendas', 'SP', 9000),
        ('Kennedy', 'vendas', 'RJ', 4500),
        ('Luciana', 'vendas', 'SP', 4500),
        ('Marta', 'vendas', 'SP', 4500),
        ('João', 'vendas', 'SP', 4500),
        ('Diego', 'vendas', 'SP', 4500),
        ('Marilia', 'vendas', 'SP', 1200),
        ('Gustavo', 'financeiro', 'AM', 8000),
        ('Pedro', 'financeiro', 'AM', 2750),
        ('Juliana', 'financeiro', 'MG', 3000),
        ('Leticia', 'financeiro', 'RJ', 7500),
        ('Oswaldo', 'marketing', 'RJ', 2450),
        ('Denis', 'marketing', 'MG', 1300)
         
        ]

In [ ]:
df2 = spark.createDataFrame(dados, schema)

In [ ]:
df2.show()

+--------+------------+------+-------+
|    nome|departamento|estado|salario|
+--------+------------+------+-------+
|Anderson|      vendas|    SP|   9000|
| Kennedy|      vendas|    RJ|   4500|
| Luciana|      vendas|    SP|   4500|
|   Marta|      vendas|    SP|   4500|
|    João|      vendas|    SP|   4500|
|   Diego|      vendas|    SP|   4500|
| Marilia|      vendas|    SP|   1200|
| Gustavo|  financeiro|    AM|   8000|
|   Pedro|  financeiro|    AM|   2750|
| Juliana|  financeiro|    MG|   3000|
| Leticia|  financeiro|    RJ|   7500|
| Oswaldo|   marketing|    RJ|   2450|
|   Denis|   marketing|    MG|   1300|
+--------+------------+------+-------+

#Particion by
vamos fazer uma particionby, ele faz uma função parecida como orderby, porém ele retorna sobre todas as linhas do grupo inteiro, de um por um não agrupa como gupoby, uma coisa só);
 - o grupBy ele soma todos e juntas;

1) criar um window - que é tipo um ranking ;
2) fuction, e você coloca qua é a coluna que você irá usar;
3) w0 = Window.partitionBy(F.col('departamento')).orderBy(F.col('salario').desc()); - você pode colocar o descrecente no final para fazer outro tipo de ordenação;

In [ ]:
#CRIAR UMA PARTIÇÃO SOBRE O DATAFRAME PARA UTILIZAR ALGUM TIPO DE CLASSIFICAÇÃO
w0 = Window.partitionBy(F.col('departamento')).orderBy(F.col('salario'))

In [ ]:
# 1) ROW_NUMBER - RETORNA O NÚMERO DA LINHA DE ACORDO COM A PARTIÇÃO CRIADA
df3 = df2.withColumn('numero_linha', F.row_number().over(w0))

In [ ]:
df3.show()

+--------+------------+------+-------+------------+
|    nome|departamento|estado|salario|numero_linha|
+--------+------------+------+-------+------------+
|   Pedro|  financeiro|    AM|   2750|           1|
| Juliana|  financeiro|    MG|   3000|           2|
| Leticia|  financeiro|    RJ|   7500|           3|
| Gustavo|  financeiro|    AM|   8000|           4|
|   Denis|   marketing|    MG|   1300|           1|
| Oswaldo|   marketing|    RJ|   2450|           2|
| Marilia|      vendas|    SP|   1200|           1|
| Kennedy|      vendas|    RJ|   4500|           2|
| Luciana|      vendas|    SP|   4500|           3|
|   Marta|      vendas|    SP|   4500|           4|
|    João|      vendas|    SP|   4500|           5|
|   Diego|      vendas|    SP|   4500|           6|
|Anderson|      vendas|    SP|   9000|           7|
+--------+------------+------+-------+------------+

#tipo Rankin
1) podemos fazer tipo Raking; 
2) dense rank

In [ ]:
#rank
df3 = df3.withColumn('rank', F.rank().over(w0))

In [ ]:
df3.show()

+--------+------------+------+-------+------------+----+
|    nome|departamento|estado|salario|numero_linha|rank|
+--------+------------+------+-------+------------+----+
|   Pedro|  financeiro|    AM|   2750|           1|   1|
| Juliana|  financeiro|    MG|   3000|           2|   2|
| Leticia|  financeiro|    RJ|   7500|           3|   3|
| Gustavo|  financeiro|    AM|   8000|           4|   4|
|   Denis|   marketing|    MG|   1300|           1|   1|
| Oswaldo|   marketing|    RJ|   2450|           2|   2|
| Marilia|      vendas|    SP|   1200|           1|   1|
| Kennedy|      vendas|    RJ|   4500|           2|   2|
| Luciana|      vendas|    SP|   4500|           3|   2|
|   Marta|      vendas|    SP|   4500|           4|   2|
|    João|      vendas|    SP|   4500|           5|   2|
|   Diego|      vendas|    SP|   4500|           6|   2|
|Anderson|      vendas|    SP|   9000|           7|   7|
+--------+------------+------+-------+------------+----+

In [ ]:
#DENSE_RANK
df3 = df3.withColumn('dense_rank', F.dense_rank().over(w0))

In [ ]:
df3.show()

+--------+------------+------+-------+------------+----+----------+
|    nome|departamento|estado|salario|numero_linha|rank|dense_rank|
+--------+------------+------+-------+------------+----+----------+
|   Pedro|  financeiro|    AM|   2750|           1|   1|         1|
| Juliana|  financeiro|    MG|   3000|           2|   2|         2|
| Leticia|  financeiro|    RJ|   7500|           3|   3|         3|
| Gustavo|  financeiro|    AM|   8000|           4|   4|         4|
|   Denis|   marketing|    MG|   1300|           1|   1|         1|
| Oswaldo|   marketing|    RJ|   2450|           2|   2|         2|
| Marilia|      vendas|    SP|   1200|           1|   1|         1|
| Kennedy|      vendas|    RJ|   4500|           2|   2|         2|
| Luciana|      vendas|    SP|   4500|           3|   2|         2|
|   Marta|      vendas|    SP|   4500|           4|   2|         2|
|    João|      vendas|    SP|   4500|           5|   2|         2|
|   Diego|      vendas|    SP|   4500|           6|   2|         2|
|Anderson|      vendas|    SP|   9000|           7|   7|         3|
+--------+------------+------+-------+------------+----+----------+

#LAG
Ela é usado para ver quais os valores na coluna dentro do "departamento" antes dele;

In [ ]:
df3 = df3.withColumn('lag', F.lag("salario", 2).over(w0))

In [ ]:
df3.show()

+--------+------------+------+-------+------------+----+----------+----+
|    nome|departamento|estado|salario|numero_linha|rank|dense_rank| lag|
+--------+------------+------+-------+------------+----+----------+----+
|   Pedro|  financeiro|    AM|   2750|           1|   1|         1|null|
| Juliana|  financeiro|    MG|   3000|           2|   2|         2|null|
| Leticia|  financeiro|    RJ|   7500|           3|   3|         3|2750|
| Gustavo|  financeiro|    AM|   8000|           4|   4|         4|3000|
|   Denis|   marketing|    MG|   1300|           1|   1|         1|null|
| Oswaldo|   marketing|    RJ|   2450|           2|   2|         2|null|
| Marilia|      vendas|    SP|   1200|           1|   1|         1|null|
| Kennedy|      vendas|    RJ|   4500|           2|   2|         2|null|
| Luciana|      vendas|    SP|   4500|           3|   2|         2|1200|
|   Marta|      vendas|    SP|   4500|           4|   2|         2|4500|
|    João|      vendas|    SP|   4500|           5|   2|         2|4500|
|   Diego|      vendas|    SP|   4500|           6|   2|         2|4500|
|Anderson|      vendas|    SP|   9000|           7|   7|         3|4500|
+--------+------------+------+-------+------------+----+----------+----+

#LEAD
Ela é usado para ver quais os valores na coluna dentro do "departamento" depois dele;

In [ ]:
df3 = df3.withColumn('lag', F.lead("salario", 2).over(w0))

In [ ]:
df3.show()

+--------+------------+------+-------+------------+----+----------+----+
|    nome|departamento|estado|salario|numero_linha|rank|dense_rank| lag|
+--------+------------+------+-------+------------+----+----------+----+
|   Pedro|  financeiro|    AM|   2750|           1|   1|         1|7500|
| Juliana|  financeiro|    MG|   3000|           2|   2|         2|8000|
| Leticia|  financeiro|    RJ|   7500|           3|   3|         3|null|
| Gustavo|  financeiro|    AM|   8000|           4|   4|         4|null|
|   Denis|   marketing|    MG|   1300|           1|   1|         1|null|
| Oswaldo|   marketing|    RJ|   2450|           2|   2|         2|null|
| Marilia|      vendas|    SP|   1200|           1|   1|         1|4500|
| Kennedy|      vendas|    RJ|   4500|           2|   2|         2|4500|
| Luciana|      vendas|    SP|   4500|           3|   2|         2|4500|
|   Marta|      vendas|    SP|   4500|           4|   2|         2|4500|
|    João|      vendas|    SP|   4500|           5|   2|         2|9000|
|   Diego|      vendas|    SP|   4500|           6|   2|         2|null|
|Anderson|      vendas|    SP|   9000|           7|   7|         3|null|
+--------+------------+------+-------+------------+----+----------+----+