<a href="https://colab.research.google.com/github/Stesilva16/Eng-de-dados--/blob/main/Struct_Type_Window_functionsipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#STRUCT TYPES

In [ ]:
'''
TIPOS BÁSICOS DE DADOS DO SPARK
ByteType() - int
ShortType() - int
IntegerType() - int
LongType() - int
FloatType() - float
DoubleType() - float
StringType() - str
BooleanType - bool
DecimalType() - float
NULL
'''

In [ ]:
'''
TIPOS COMPLEXOS DE DADOS
TimestampType() - datetime
DateType() - datetime
ArrayType() - lista, tupla, array
MapType() - dict
StructType() - lista, tupla
StructField() - Tipo do campo
'''

In [ ]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 32 kB/s
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     |████████████████████████████████| 199 kB 45.5 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.1-py2.py3-none-any.whl size=281845512 sha256=8a5f7b2711b4fcd7ed0ad2dc15ad2dfbea367a9aae7c7c968b31fc6866211069
  Stored in directory: /root/.cache/pip/wheels/43/dc/11/ec201cd671da62fa9c5cc77078235e40722170ceba231d7598
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.1

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark = (
    SparkSession.builder
                .master('local')
                .appName('structtype')
                .config('spark.ui.port', '4050')
                .getOrCreate()
)

In [ ]:
spark

In [ ]:
#IMPORTAR OS TIPOS DE VARIÁVEIS DO SPARK
from pyspark.sql.types import *

In [ ]:
#AQUI VOCÊ IRÁ MONTAR O ESQUEMA DE COLUNAS CONTENDO OS TIPOS DE CADA COLUNA
esquema = (
    StructType([
        StructField('id', StringType()),
        StructField('nome_musica', StringType()),
        StructField('popularidade', IntegerType()),
        StructField('duracao_musica', IntegerType()),
        StructField('acustica', StringType()),
        StructField('danceabilidade', StringType()),
        StructField('energia', FloatType()),
        StructField('instrumentalidade', StringType()),
        StructField('nota_musical', IntegerType()),
        StructField('ao_vivo', FloatType()),
        StructField('volume', FloatType()),
        StructField('modo_de_audio', IntegerType()),
        StructField('discurso', FloatType()),
        StructField('ritmo', FloatType()),
        StructField('assinatura de tempo', FloatType()),
        StructField('valencia_de_audio', FloatType())
    ])
)

In [ ]:
#AQUI IREMOS LER O DATAFRAME COLOCANDO INFERSCHEMA COMO FALSE PARA QUE O SPARK NÃO INFIRA O ESQUEMA
# E ADICIONAMOS schema=esquema, PARA UTILIZARMOS O ESQUEMA QUE CRIAMOS ANTERIORMENTE
df = (
    spark.read.format('csv')
              .option('header', 'true')
              .option('inferschema', 'false')
              .option('delimiter', ',')
              .load('/content/drive/MyDrive/Datasets/spotify.csv', schema = esquema)
)

In [ ]:
#COMANDO PARA VERIFICAR O ESQUEMA DO DATAFRAME
df.printSchema()

root
 |-- id: integer (nullable = true)
 |-- nome_musica: string (nullable = true)
 |-- popularidade: integer (nullable = true)
 |-- duracao_musica: integer (nullable = true)
 |-- acustica: float (nullable = true)
 |-- danceabilidade: float (nullable = true)
 |-- energia: float (nullable = true)
 |-- instrumentalidade: string (nullable = true)
 |-- nota_musical: integer (nullable = true)
 |-- ao_vivo: float (nullable = true)
 |-- volume: float (nullable = true)
 |-- modo_de_audio: integer (nullable = true)
 |-- discurso: float (nullable = true)
 |-- ritmo: float (nullable = true)
 |-- assinatura de tempo: float (nullable = true)
 |-- valencia_de_audio: float (nullable = true)

In [ ]:
df.show(truncate=False)

+---+--------------------------+------------+--------------+----------------------+-----------------------+-------+---------------------+------------+-------+------+-------------+--------+-------+-------------------+-----------------+
|id |nome_musica               |popularidade|duracao_musica|acustica              |danceabilidade         |energia|instrumentalidade    |nota_musical|ao_vivo|volume|modo_de_audio|discurso|ritmo  |assinatura de tempo|valencia_de_audio|
+---+--------------------------+------------+--------------+----------------------+-----------------------+-------+---------------------+------------+-------+------+-------------+--------+-------+-------------------+-----------------+
|0  |Boulevard of Broken Dreams|73          |262333        |0.005520000000000001kg|0.496mol/L             |0.682  |2.94e-05             |8           |0.0589 |-4.095|1            |0.0294  |167.06 |4.0                |0.474            |
|1  |In The End                |66          |216933        |0.0103kg              |0.542mol/L             |0.853  |0.0                  |3           |0.108  |-6.407|0            |0.0498  |105.256|4.0                |0.37             |
|2  |Seven Nation Army         |76          |231733        |0.00817kg             |0.737mol/L             |0.463  |0.447                |0           |0.255  |-7.828|1            |0.0792  |123.881|4.0                |0.324            |
|3  |By The Way                |74          |216933        |0.0264kg              |0.451mol/L             |0.97   |0.00355              |0           |0.102  |-4.938|1            |0.107   |122.444|4.0                |0.198            |
|4  |How You Remind Me         |56          |223826        |0.000954kg            |0.447mol/L             |0.766  |0.0                  |10          |0.113  |-5.065|1            |0.0313  |172.011|4.0                |0.574            |
|5  |Bring Me To Life          |80          |235893        |0.00895kg             |0.316mol/L             |0.945  |1.85e-06             |4           |0.396  |-3.169|0            |0.124   |189.931|4.0                |0.32             |
|6  |Last Resort               |81          |199893        |0.000504kg            |0.581mol/L             |0.887  |0.00111              |4           |0.268  |-3.659|0            |0.0624  |90.578 |4.0                |0.724            |
|7  |Are You Gonna Be My Girl  |76          |213800        |0.00148kg             |0.613mol/L             |0.953  |0.000582             |2           |0.152  |-3.435|1            |0.0855  |105.046|4.0                |0.537            |
|8  |Mr. Brightside            |80          |222586        |0.00108kg             |0.33mol/L              |0.936  |0.0                  |1           |0.0926 |-3.66 |1            |0.0917  |148.112|4.0                |0.234            |
|9  |Sex on Fire               |81          |203346        |0.00172kg             |0.542mol/L             |0.905  |0.0104               |9           |0.136  |-5.653|1            |0.054   |153.398|4.0                |0.374            |
|10 |The Middle                |78          |168253        |0.0424kg              |0.629mol/L             |0.897  |0.0                  |2           |0.263  |-3.401|1            |0.0483  |161.944|4.0                |0.93             |
|11 |Numb                      |63          |185586        |0.0046kg              |0.496mol/L             |0.863  |0.0                  |9           |0.639  |-4.153|1            |0.0381  |110.018|4.0                |0.243            |
|12 |Smooth Criminal           |75          |209266        |0.00434kg             |0.647mol/L             |0.964  |0.0036               |9           |0.15   |-4.225|0            |0.06    |126.942|4.0                |0.875            |
|13 |Can't Stop                |81          |269000        |0.0179kg              |0.618mol/L             |0.938  |0.0                  |9           |0.167  |-3.442|1            |0.0456  |91.455 |4.0                |0.875            |
|14 |Chop Suey!                |69          |210240        |0.000353kg            |0.42mol/L              |0.929  |0.0007469999999999999|7           |0.122  |-3.899|0            |0.121   |127.204|4.0                |0.3              |
|15 |Take Me Out               |77          |237026        |0.000423kg            |0.278mol/L             |0.676  |0.0008990000000000002|9           |0.136  |-8.821|1            |0.0371  |104.545|4.0                |0.494            |
|16 |I Miss You                |71          |227240        |0.00136kg             |0.659mol/L             |0.778  |6.79e-06             |11          |0.0841 |-6.423|1            |0.0379  |110.022|4.0                |0.623            |
|17 |Best of You               |62          |256600        |0.00701kg             |0.37mol/L              |0.944  |2.9e-06              |1           |0.135  |-4.979|0            |0.0767  |130.315|4.0                |0.345            |
|18 |I Write Sins Not Tragedies|77          |187613        |0.0938kg              |0.5670000000000001mol/L|0.795  |0.0                  |9           |0.114  |-4.985|0            |0.134   |170.06 |4.0                |0.635            |
|19 |Kryptonite                |79          |233933        |0.006640000000000001kg|0.545mol/L             |0.865  |1.12e-05             |11          |0.168  |-5.708|0            |0.0286  |99.01  |4.0                |0.543            |
+---+--------------------------+------------+--------------+----------------------+-----------------------+-------+---------------------+------------+-------+------+-------------+--------+-------+-------------------+-----------------+
only showing top 20 rows

In [ ]:
#WINDOW FUNCTIONS
from pyspark.sql.window import Window
import pyspark.sql.functions as F

In [ ]:
schema = ['nome', 'departamento', 'estado', 'salario']

dados = [('Anderson', 'vendas', 'SP', 9000),
         ('Kennedy', 'vendas', 'RJ', 4500),
         ('Luciana', 'vendas', 'SP', 4500),
         ('Marta', 'vendas', 'SP', 4500),
         ('João', 'vendas', 'SP', 4500),
         ('Diego', 'vendas', 'SP', 4500),
         ('Marilia', 'vendas', 'SP', 1200),
         ('Gustavo', 'financeiro', 'AM', 8000),
         ('Pedro', 'financeiro', 'AM', 2750),
         ('Juliana', 'financeiro', 'MG', 3000),
         ('Leticia', 'financeiro', 'RJ', 7500),
         ('Oswaldo', 'marketing', 'RJ', 2450),
         ('Denis', 'marketing', 'MG', 1300)
         
        ]

In [ ]:
df2 = spark.createDataFrame(dados, schema)

In [ ]:
df2.show()

+--------+------------+------+-------+
|    nome|departamento|estado|salario|
+--------+------------+------+-------+
|Anderson|      vendas|    SP|   9000|
| Kennedy|      vendas|    RJ|   4500|
| Luciana|      vendas|    SP|   4500|
|   Marta|      vendas|    SP|   4500|
|    João|      vendas|    SP|   4500|
|   Diego|      vendas|    SP|   4500|
| Marilia|      vendas|    SP|   1200|
| Gustavo|  financeiro|    AM|   8000|
|   Pedro|  financeiro|    AM|   2750|
| Juliana|  financeiro|    MG|   3000|
| Leticia|  financeiro|    RJ|   7500|
| Oswaldo|   marketing|    RJ|   2450|
|   Denis|   marketing|    MG|   1300|
+--------+------------+------+-------+

In [ ]:
#CRIAR UMA PARTIÇÃO SOBRE O DATAFRAME PARA UTILIZAR ALGUM TIPO DE CLASSIFICAÇÃO
w0 = Window.partitionBy(F.col('departamento')).orderBy(F.col('salario').desc())

In [ ]:
# 1) ROW_NUMBER - RETORNA O NÚMERO DA LINHA DE ACORDO COM A PARTIÇÃO CRIADA
df3 = df2.withColumn('numero_linha', F.row_number().over(w0))

In [ ]:
df3.show()

+--------+------------+------+-------+------------+
|    nome|departamento|estado|salario|numero_linha|
+--------+------------+------+-------+------------+
| Gustavo|  financeiro|    AM|   8000|           1|
| Leticia|  financeiro|    RJ|   7500|           2|
| Juliana|  financeiro|    MG|   3000|           3|
|   Pedro|  financeiro|    AM|   2750|           4|
| Oswaldo|   marketing|    RJ|   2450|           1|
|   Denis|   marketing|    MG|   1300|           2|
|Anderson|      vendas|    SP|   9000|           1|
| Kennedy|      vendas|    RJ|   4500|           2|
| Luciana|      vendas|    SP|   4500|           3|
|   Marta|      vendas|    SP|   4500|           4|
|    João|      vendas|    SP|   4500|           5|
|   Diego|      vendas|    SP|   4500|           6|
| Marilia|      vendas|    SP|   1200|           7|
+--------+------------+------+-------+------------+

In [ ]:
#RANK
df3 = df3.withColumn('rank', F.rank().over(w0))

In [ ]:
df3.show()

+--------+------------+------+-------+------------+----+
|    nome|departamento|estado|salario|numero_linha|rank|
+--------+------------+------+-------+------------+----+
| Gustavo|  financeiro|    AM|   8000|           1|   1|
| Leticia|  financeiro|    RJ|   7500|           2|   2|
| Juliana|  financeiro|    MG|   3000|           3|   3|
|   Pedro|  financeiro|    AM|   2750|           4|   4|
| Oswaldo|   marketing|    RJ|   2450|           1|   1|
|   Denis|   marketing|    MG|   1300|           2|   2|
|Anderson|      vendas|    SP|   9000|           1|   1|
| Kennedy|      vendas|    RJ|   4500|           2|   2|
| Luciana|      vendas|    SP|   4500|           3|   2|
|   Marta|      vendas|    SP|   4500|           4|   2|
|    João|      vendas|    SP|   4500|           5|   2|
|   Diego|      vendas|    SP|   4500|           6|   2|
| Marilia|      vendas|    SP|   1200|           7|   7|
+--------+------------+------+-------+------------+----+

In [ ]:
#DENSE_RANK
df3 = df3.withColumn('dense_rank', F.dense_rank().over(w0))

In [ ]:
df3.show()

+--------+------------+------+-------+------------+----+----------+
|    nome|departamento|estado|salario|numero_linha|rank|dense_rank|
+--------+------------+------+-------+------------+----+----------+
| Gustavo|  financeiro|    AM|   8000|           1|   1|         1|
| Leticia|  financeiro|    RJ|   7500|           2|   2|         2|
| Juliana|  financeiro|    MG|   3000|           3|   3|         3|
|   Pedro|  financeiro|    AM|   2750|           4|   4|         4|
| Oswaldo|   marketing|    RJ|   2450|           1|   1|         1|
|   Denis|   marketing|    MG|   1300|           2|   2|         2|
|Anderson|      vendas|    SP|   9000|           1|   1|         1|
| Kennedy|      vendas|    RJ|   4500|           2|   2|         2|
| Luciana|      vendas|    SP|   4500|           3|   2|         2|
|   Marta|      vendas|    SP|   4500|           4|   2|         2|
|    João|      vendas|    SP|   4500|           5|   2|         2|
|   Diego|      vendas|    SP|   4500|           6|   2|         2|
| Marilia|      vendas|    SP|   1200|           7|   7|         3|
+--------+------------+------+-------+------------+----+----------+

In [ ]:
#LAG
df3 = df3.withColumn('lag', F.lag("salario", 2).over(w0))

In [ ]:
df3.show()

+--------+------------+------+-------+------------+----+----------+----+
|    nome|departamento|estado|salario|numero_linha|rank|dense_rank| lag|
+--------+------------+------+-------+------------+----+----------+----+
| Gustavo|  financeiro|    AM|   8000|           1|   1|         1|3000|
| Leticia|  financeiro|    RJ|   7500|           2|   2|         2|2750|
| Juliana|  financeiro|    MG|   3000|           3|   3|         3|null|
|   Pedro|  financeiro|    AM|   2750|           4|   4|         4|null|
| Oswaldo|   marketing|    RJ|   2450|           1|   1|         1|null|
|   Denis|   marketing|    MG|   1300|           2|   2|         2|null|
|Anderson|      vendas|    SP|   9000|           1|   1|         1|4500|
| Kennedy|      vendas|    RJ|   4500|           2|   2|         2|4500|
| Luciana|      vendas|    SP|   4500|           3|   2|         2|4500|
|   Marta|      vendas|    SP|   4500|           4|   2|         2|4500|
|    João|      vendas|    SP|   4500|           5|   2|         2|1200|
|   Diego|      vendas|    SP|   4500|           6|   2|         2|null|
| Marilia|      vendas|    SP|   1200|           7|   7|         3|null|
+--------+------------+------+-------+------------+----+----------+----+

In [ ]:
#LEAD
df3 = df3.withColumn('lag', F.lead("salario", 2).over(w0))

In [ ]:
df3.show()

+--------+------------+------+-------+------------+----+----------+----+
|    nome|departamento|estado|salario|numero_linha|rank|dense_rank| lag|
+--------+------------+------+-------+------------+----+----------+----+
| Gustavo|  financeiro|    AM|   8000|           1|   1|         1|3000|
| Leticia|  financeiro|    RJ|   7500|           2|   2|         2|2750|
| Juliana|  financeiro|    MG|   3000|           3|   3|         3|null|
|   Pedro|  financeiro|    AM|   2750|           4|   4|         4|null|
| Oswaldo|   marketing|    RJ|   2450|           1|   1|         1|null|
|   Denis|   marketing|    MG|   1300|           2|   2|         2|null|
|Anderson|      vendas|    SP|   9000|           1|   1|         1|4500|
| Kennedy|      vendas|    RJ|   4500|           2|   2|         2|4500|
| Luciana|      vendas|    SP|   4500|           3|   2|         2|4500|
|   Marta|      vendas|    SP|   4500|           4|   2|         2|4500|
|    João|      vendas|    SP|   4500|           5|   2|         2|1200|
|   Diego|      vendas|    SP|   4500|           6|   2|         2|null|
| Marilia|      vendas|    SP|   1200|           7|   7|         3|null|
+--------+------------+------+-------+------------+----+----------+----+